/* transition animations */

.lx:not(.lx-no-animations) .fade-enter-active {
  transition: opacity 0.2s ease;
}

.lx:not(.lx-no-animations) .fade-leave-active {
  transition: opacity 0.1s ease;
}

.lx:not(.lx-no-animations) .fade-enter-from,
.lx:not(.lx-no-animations) .fade-leave-to {
  opacity: 0;
}

.lx:not(.lx-no-animations) .nav-enter-active {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .nav-enter-from {
  opacity: 0;
  transform: translateX(2rem);
}

.lx:not(.lx-no-animations) .nav-leave-to {
  opacity: 0;
  transform: translateX(-2rem);
}

.lx:not(.lx-no-animations) .appear-down-enter-active {
  transition: opacity 0.05s ease-out, transform 0.05s ease-out;
  transform-origin: top center;
}

.lx:not(.lx-no-animations) .appear-down-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transform-origin: top center;
}

.lx:not(.lx-no-animations) .appear-down-enter-active.lx-position-lt,
.lx:not(.lx-no-animations) .appear-down-enter-active.lx-position-rt,
.lx:not(.lx-no-animations) .appear-down-leave-active.lx-position-lt,
.lx:not(.lx-no-animations) .appear-down-leave-active.lx-position-rt {
  transform-origin: bottom center;
}

.lx:not(.lx-no-animations) .appear-down-enter-from,
.lx:not(.lx-no-animations) .appear-down-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.lx:not(.lx-no-animations) .slide-right-enter-active,
.lx:not(.lx-no-animations) .slide-right-leave-active {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.lx:not(.lx-no-animations) .slide-right-enter-from,
.lx:not(.lx-no-animations) .slide-right-leave-to {
  opacity: 0;
}

.lx:not(.lx-no-animations) .slide-left-enter-active {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .slide-left-leave-active {
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.lx:not(.lx-no-animations) .slide-left-enter-from {
  opacity: 0;
  transform: translateX(10rem);
}

.lx:not(.lx-no-animations) .slide-left-leave-to {
  opacity: 0;
  transform: translateX(10rem) scale(0.75);
}

.lx:not(.lx-no-animations) .shell-switch-enter-active {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .shell-switch-leave-active {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.lx:not(.lx-no-animations) .shell-switch-enter-from,
.lx:not(.lx-no-animations) .shell-switch-leave-to {
  opacity: 0;
}

.lx:not(.lx-no-animations) .shell-switch-enter-active .lx-cover {
  transition: background-position 0.2s ease-out;
}

.lx:not(.lx-no-animations) .shell-switch-enter-from .lx-cover {
  background-size: 120% auto;
}

.lx:not(.lx-no-animations) .shell-switch-enter-active .lx-main-header,
.lx:not(.lx-no-animations) .shell-switch-enter-active .lx-nav-panel,
.lx:not(.lx-no-animations) .shell-switch-leave-active .lx-main-header,
.lx:not(.lx-no-animations) .shell-switch-leave-active .lx-nav-panel {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .shell-switch-enter-from .lx-main-header,
.lx:not(.lx-no-animations) .shell-switch-leave-to .lx-main-header {
  transform: translateY(-3rem);
}

.lx:not(.lx-no-animations) .shell-switch-enter-from .lx-nav-panel,
.lx:not(.lx-no-animations) .shell-switch-leave-to .lx-nav-panel {
  transform: translateX(-10rem);
}

.lx:not(.lx-no-animations) .modal-enter-active {
  transition: opacity 0.2s ease-out;
}

.lx:not(.lx-no-animations) .modal-leave-active {
  transition: opacity 0.1s ease-in;
}

.lx:not(.lx-no-animations) .modal-enter-from,
.lx:not(.lx-no-animations) .modal-leave-to {
  opacity: 0;
}

.lx:not(.lx-no-animations) .modal-enter-active .lx-modal {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .modal-leave-active .lx-modal {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.lx:not(.lx-no-animations) .modal-enter-from .lx-modal,
.lx:not(.lx-no-animations) .modal-leave-to .lx-modal {
  opacity: 0;
  transform: translateY(1rem) scale(0.95);
}

.lx:not(.lx-no-animations) .data-grid-move {
  transition: all 0.2s ease;
}

.lx:not(.lx-no-animations) .icon-default-enter-active {
  transform-origin: center;
  animation: bounce-in 0.2s;
  animation-timing-function: ease-out;
}

.lx:not(.lx-no-animations) .icon-default-leave-active {
  transform-origin: center;
  animation: bounce-in 0.2s reverse;
  animation-timing-function: ease-out;
}

.lx:not(.lx-no-animations) .illustration-default-enter-active {
  transform-origin: center;
  animation: bounce-in 0.2s;
  animation-timing-function: ease-out;
}

.lx:not(.lx-no-animations) .leaflet-tile-pane {
  transition: filter 0.2s ease;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* interactions */
.lx:not(.lx-no-animations) .lx-layout-default .lx-nav-panel ul li {
  transition: background-color 0.2s ease-in, color 0.2s ease-in, font-weight 0.2s ease-in,
    border-color 0.2s ease-in, border-thickness 0.2s ease-in;
}

.lx:not(.lx-no-animations) .lx-button,
.lx:not(.lx-no-animations) .lx-override button,
.lx:not(.lx-no-animations) .lx-override input[type="button"],
.lx:not(.lx-no-animations) .lx-override input[type="submit"],
.lx:not(.lx-no-animations) .lx-override input[type="reset"],
.lx:not(.lx-no-animations) .lx-override input[type="file"]::file-selector-button,
.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-alert-clickable,
.lx:not(.lx-no-animations) .lx-alert-menu .lx-button:not(#userMenuButton) > .lx-badge {
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
}

.lx:not(.lx-no-animations) .lx-button svg,
.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-alert-clickable svg,
.lx:not(.lx-no-animations) .lx-file-wrapper.lx-disabled .lx-list-item .lx-download-icon svg {
  transition: fill 0.1s ease-in;
}

.lx:not(.lx-no-animations) .lx-tile,
.lx:not(.lx-no-animations) .lx-widget,
.lx:not(.lx-no-animations) .lx-handle,
.lx:not(.lx-no-animations) .lx-list-item,
.lx:not(.lx-no-animations) .lx-card-face,
.lx:not(.lx-no-animations) .lx-list-item-wrapper,
.lx:not(.lx-no-animations) .lx-list-item-container,
.lx:not(.lx-no-animations) .lx-tile .lx-description {
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
}

.lx:not(.lx-no-animations) .lx-modal {
  transition: height 0.2s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-toggle-appearance {
  transition: padding-left 0.2s cubic-bezier(0.76, 0.11, 0.11, 0.83),
    background-color 0.2s cubic-bezier(0.76, 0.11, 0.11, 0.83),
    border-color 0.2s cubic-bezier(0.76, 0.11, 0.11, 0.83);
}

/* skeletons */

.lx:not(.lx-no-animations) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) li:nth-child(1n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .lx-file-meta .lx-skeleton-placeholder:nth-child(1n) {
  animation: pulse 3s infinite alternate ease-in-out;
  min-width: 2rem;
}

.lx:not(.lx-no-animations) .lx-grid-row:nth-child(2n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) li:nth-child(2n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .lx-file-meta .lx-skeleton-placeholder:nth-child(2n) {
  animation: pulse 3.1s infinite alternate ease-in-out;
}

.lx:not(.lx-no-animations) .lx-grid-row:nth-child(3n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .li:nth-child(3n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .lx-file-meta .lx-skeleton-placeholder:nth-child(3n) {
  animation: pulse 3.2s infinite alternate ease-in-out;
}

.lx:not(.lx-no-animations) .lx-grid-row:nth-child(4n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) li:nth-child(4n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .lx-file-meta .lx-skeleton-placeholder:nth-child(4n) {
  animation: pulse 3.3s infinite alternate ease-in-out;
}

.lx:not(.lx-no-animations) .lx-grid-row:nth-child(5n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) li:nth-child(5n) .lx-skeleton-placeholder,
.lx:not(.lx-no-animations) .lx-file-meta .lx-skeleton-placeholder:nth-child(5n) {
  animation: pulse 3.4s infinite alternate ease-in-out;
}

.lx:not(.lx-no-animations) .lx-radio-button-appearance .lx-radio-thumb {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.lx:not(.lx-no-animations) .lx-checkbox-appearance {
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.lx:not(.lx-no-animations) .lx-checkbox-appearance .lx-checkbox-thumb,
.lx:not(.lx-no-animations) .lx-override input[type="checkbox"]::before,
.lx:not(.lx-no-animations) .lx-override input[type="radio"]::before {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

@keyframes pulse {
  0% {
    opacity: 0.05;
    width: 2rem;
  }

  100% {
    opacity: 0.2;
    width: 80%;
  }
}

/* New lx-date-picker animations */

.lx:not(.lx-no-animations) .lx-next-slide-enter-active,
.lx:not(.lx-no-animations) .lx-next-slide-leave-active,
.lx:not(.lx-no-animations) .lx-next-full-row-slide-enter-active,
.lx:not(.lx-no-animations) .lx-next-full-row-slide-leave-active,
.lx:not(.lx-no-animations) .lx-previous-slide-enter-active,
.lx:not(.lx-no-animations) .lx-previous-slide-leave-active,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-enter-active,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-leave-active {
  transition: transform 200ms ease-out, opacity 200ms ease-out;
  backface-visibility: hidden;
  pointer-events: none;
}

.lx:not(.lx-no-animations) .lx-next-slide-leave-active,
.lx:not(.lx-no-animations) .lx-next-full-row-slide-leave-active,
.lx:not(.lx-no-animations) .lx-previous-slide-leave-active,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-leave-active {
  position: absolute;
  width: 100%;
}

.lx:not(.lx-no-animations) .lx-next-slide-enter-from,
.lx:not(.lx-no-animations) .lx-previous-slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.lx:not(.lx-no-animations) .lx-next-full-row-slide-enter-from,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.lx:not(.lx-no-animations) .lx-next-slide-leave-to,
.lx:not(.lx-no-animations) .lx-previous-slide-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.lx:not(.lx-no-animations) .lx-next-full-row-slide-leave-to,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.lx:not(.lx-no-animations) .lx-next-slide-enter-to,
.lx:not(.lx-no-animations) .lx-previous-slide-enter-to,
.lx:not(.lx-no-animations) .lx-next-slide-leave-from,
.lx:not(.lx-no-animations) .lx-previous-slide-leave-from {
  transform: translateX(0%);
  opacity: 1;
}

.lx:not(.lx-no-animations) .lx-next-full-row-slide-enter-to,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-enter-to,
.lx:not(.lx-no-animations) .lx-next-full-row-slide-leave-from,
.lx:not(.lx-no-animations) .lx-previous-full-row-slide-leave-from {
  transform: translateY(0%);
  opacity: 1;
}

/* time rotator part */

.lx:not(.lx-no-animations) .lx-time-picker-time-list,
.lx:not(.lx-no-animations) .lx-time-picker-time-list .lx-time-list-item {
  transition: transform 200ms ease-out;
}

/* lx-expanders */

.lx:not(.lx-no-animations) .lx-expander .lx-head {
  -webkit-transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.lx:not(.lx-no-animations) .lx-expander .lx-head label::before {
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-expander.lx-expander-row .expander-transition-enter-active {
  animation: expand-collapse-row 0.1s reverse ease-out;
}

.lx:not(.lx-no-animations) .lx-expander.lx-expander-row .expander-transition-leave-active {
  animation: expand-collapse-row 0.1s ease-out;
}

.lx:not(.lx-no-animations) .lx-expander.lx-expander-column .expander-transition-enter-active {
  animation: expand-collapse-column 0.1s reverse ease-out;
}

.lx:not(.lx-no-animations) .lx-expander.lx-expander-column .expander-transition-leave-active {
  animation: expand-collapse-column 0.1s ease-out;
}

.lx:not(.lx-no-animations) .lx-data-block-expander .lx-data-block-header {
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.lx:not(.lx-no-animations)
  .lx-data-block-wrapper
  > .lx-data-block
  > .lx-data-block-header
  > .lx-content
  > .lx-secondary {
  transition: opacity ease-out 0.2s, padding-top ease-out 0.2s, height ease-out 0.2s;
}

.lx:not(.lx-no-animations) .lx-data-block-wrapper .expander-transition-enter-active {
  animation: expand-collapse-row 0.1s reverse ease-out;
}

.lx:not(.lx-no-animations) .lx-data-block-wrapper .expander-transition-leave-active {
  animation: expand-collapse-row 0.1s ease-out;
}

.lx:not(.lx-no-animations) .lx-data-block header .lx-primary.lx-title {
  transition: font-size ease-out 0.1s;
}

.lx:not(.lx-no-animations) .lx-expander > header .lx-modifier-icon + .lx-indicator {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.lx:not(.lx-no-animations)
  .lx-expander.lx-expander-highlighted
  > header
  .lx-icon-wrapper
  .lx-modifier-icon
  + .lx-indicator {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.lx-loader-default-progress-default-fill {
  transition: stroke-dashoffset 0.7s ease-in-out;
}

.lx-loader-bar-indeterminate {
  transition: width 0.3s ease-in-out;
  animation: indeterminateAnimation 1.5s infinite ease-in-out;
}

.lx-loader-bar-progress {
  transition: width 0.7s ease-in-out;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(-30%) scaleX(0.3);
  }

  100% {
    transform: translateX(100%) scaleX(0.3);
  }
}

@keyframes expand-collapse-row {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  100% {
    margin-top: -1rem;
    opacity: 0;
  }
}

@keyframes expand-collapse-column {
  0% {
    margin-left: 0;
    opacity: 1;
  }

  100% {
    margin-left: -1rem;
    opacity: 0;
  }
}

/* lx-inputs */

.lx:not(.lx-no-animations) .lx-input-wrapper,
.lx:not(.lx-no-animations) .lx-rotator-tag,
.lx:not(.lx-no-animations) .lx-text-input,
.lx:not(.lx-no-animations) .lx-text-area,
.lx:not(.lx-no-animations) .lx-dropdown,
.lx:not(.lx-no-animations) .lx-markdown-text-area {
  -webkit-transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.lx:not(.lx-no-animations) .lx-date-time-picker {
  -webkit-transition: 70ms cubic-bezier(0.2, 0, 0.38, 0.9) all;
  transition: 70ms cubic-bezier(0.2, 0, 0.38, 0.9) all;
}

.lx:not(.lx-no-animations) .lx-radio-button-appearance,
.lx:not(.lx-no-animations) .lx-checkbox-appearance,
.lx:not(.lx-no-animations) .lx-override input[type="checkbox"],
.lx:not(.lx-no-animations) .lx-override input[type="radio"] {
  -webkit-transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9),
    border-color 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9),
    border-color 70ms cubic-bezier(0.2, 0, 1, 0.9);
}

.lx:not(.lx-no-animations)
  .lx-radio-button:checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance::before,
.lx:not(.lx-no-animations)
  .lx-checkbox:checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance::before,
.lx:not(.lx-no-animations)
  .lx-checkbox:indeterminate
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance::before {
  -webkit-transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9),
    border-color 70ms cubic-bezier(0.2, 0, 1, 0.9);
  transition: background-color 70ms cubic-bezier(0.2, 0, 1, 0.9),
    border-color 70ms cubic-bezier(0.2, 0, 1, 0.9);
}

.lx:not(.lx-no-animations) .lx-toggle-appearance::before {
  -webkit-transition: 0.2s cubic-bezier(0.76, 0.11, 0.11, 0.83) all;
  transition: 0.2s cubic-bezier(0.76, 0.11, 0.11, 0.83) all;
}

.lx:not(.lx-no-animations) .lx-value-picker-item {
  -webkit-transition: 70ms cubic-bezier(0.2, 0, 0.38, 0.9) all;
  transition: 70ms cubic-bezier(0.2, 0, 0.38, 0.9) all;
}

.lx:not(.lx-no-animations) .lx-content-switcher .lx-content-switcher-item {
  transition: background-color 0.1s ease;
}

.lx:not(.lx-no-animations) .lx-content-switcher .lx-content-switcher-item > div {
  transition: color 0.1s ease;
}

.lx:not(.lx-no-animations) .lx-content-switcher .lx-content-switcher-item svg {
  transition: fill 0.1s ease;
}

.lx:not(.lx-no-animations) .lx-content-switcher .lx-content-switcher-item::before {
  transition: border-color 0.1s ease;
}

/* lx-shell-flex */

.lx:not(.lx-no-animations) .lx-layout-default .lx-nav-panel,
.lx:not(.lx-no-animations) .lx-layout-public .lx-nav-panel,
.lx:not(.lx-no-animations) .lx-layout-latvijalv .lx-nav-panel {
  transition: 0.1s ease-in-out width, 0.1s ease-in-out box-shadow;
}

/* lx-loaders */

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes init-stroke {
  0% {
    stroke-dashoffset: 276.4608;
  }

  100% {
    stroke-dashoffset: 52.52755;
  }
}

@keyframes init-stroke {
  0% {
    stroke-dashoffset: 276.4608;
  }

  100% {
    stroke-dashoffset: 52.52755;
  }
}

@keyframes navigating-loader {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: var(--color-background-overlay);
  }
}

@keyframes navigating-loader-spinner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lx-loader {
  -webkit-animation-duration: 690ms;
  animation-duration: 690ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.lx-loader svg circle {
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  -webkit-animation-name: init-stroke;
  animation-name: init-stroke;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
  animation-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
}

/*QR code reader*/

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.lx:not(.lx-no-animations) .lx-qr-scanner-wrapper .lx-qr-center > svg {
  animation: pulse-scale 1s alternate-reverse ease-in-out infinite;
}

.lx:not(.lx-no-animations) .lx .lx-handle {
  transition: background-color 0.1s ease-in;
}

.lx:not(.lx-no-animations) .lx-handle:hover .lx-icon {
  transition: fill 0.1s ease-in;
}

.lx:not(.lx-no-animations) .flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.lx:not(.lx-no-animations) .rotator-enter-active,
.lx:not(.lx-no-animations) .rotator-leave-active,
.lx:not(.lx-no-animations) .rotator-move {
  transition: all 0.2s ease-out;
}

/* FileUploader skeleton */

.lx:not(.lx-no-animations) .lx-skeleton-file-preview::before {
  animation: previewLoading 2s infinite ease-in-out;
}

@keyframes previewLoading {
  0% {
    left: -100%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}

/* Markdown loader */
@keyframes markdown-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*LxMasterDetail slide transition*/

.lx:not(.lx-no-animations) .master-detail-slide-left-enter-from {
  transform: translateX(-100%);
}

.lx:not(.lx-no-animations) .master-detail-slide-right-enter-from {
  transform: translateX(100%);
}

.lx:not(.lx-no-animations) .master-detail-slide-left-enter-to,
.lx:not(.lx-no-animations) .master-detail-slide-right-enter-to {
  transform: translateX(0);
}

.lx:not(.lx-no-animations) .master-detail-slide-left-enter-active,
.lx:not(.lx-no-animations) .master-detail-slide-right-enter-active {
  transition: transform 0.2s ease-out;
}

/*LxDataVisualizer*/

.lx:not(.lx-no-animations) .lx-data-visualizer .lx-bars-horizontal .bar-wrapper .bar,
.lx:not(.lx-no-animations)
  .lx-data-visualizer
  .lx-bars-horizontal
  .bar-wrapper
  .bar
  .sub-bar-wrapper
  .sub-bar {
  transition: width 0.4s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-data-visualizer .lx-bars-vertical .bar-wrapper .bar,
.lx:not(.lx-no-animations)
  .lx-data-visualizer
  .lx-bars-vertical
  .bar-wrapper
  .bar
  .sub-bar-wrapper
  .sub-bar {
  transition: height 0.4s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-data-visualizer .lx-bars-horizontal .bar > p {
  transition: padding-left 0.4s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-data-visualizer .lx-bars-vertical .bar > p {
  transition: padding-bottom 0.4s ease-in-out;
}

.lx:not(.lx-no-animations) .lx-data-visualizer .lx-bars-vertical .sub-bar > p {
  transition: padding-top 0.4s ease-in-out;
}

.lx:not(.lx-no-animations) .primary-menu-tile,
.lx:not(.lx-no-animations) .secondary-menu-item {
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
}

@keyframes blink-animation {
  50% {
    background-color: var(--color-orange);
  }
}

@keyframes blink-icon-animation {
  50% {
      fill: var(--color-badge-foreground);
  }
}

.lx:not(.lx-no-animations) .lx-shell-custom-button:not(.lx-shell-custom-button-opened) .custom-button-blink {
  animation: blink-animation 1s ease-in-out infinite;
}

.lx:not(.lx-no-animations) .lx-shell-custom-button:not(.lx-shell-custom-button-opened) .custom-button-blink svg {
  animation: blink-icon-animation 1s ease-in-out infinite;
}
.lx:not(.lx-no-animations) .lx-layout.lx-layout-default > header .lx-header .lx-additional-nav-menu {
  transition: transform 0.2s ease-out;
}

/* LxCard */

.lx:not(.lx-no-animations) .lx-card-wrapper .lx-card {
  transition: transform 0.5s cubic-bezier(.03,.98,.52,.99);
}

/* LxShell digimaks-lite */

.lx:not(.lx-no-animations) .slide-enter-active,
.lx:not(.lx-no-animations) .slide-leave-active {
  transition: transform 0.25s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(100%);
}

.slide-enter-to,
.slide-leave-from {
  transform: translateY(0);
} 