.lx .lx-layout .lx-calendar-container .lx-date-time-picker {
  font-family: var(--font-family);
}

.lx .lx-layout .lx-calendar-container .lx-datepicker-input-container.range.month-year .lx-date-time-picker {
  width: var(--input-container-width-large);
}

.lx .lx-layout .popper .lx-dropdown-panel:has(.lx-calendar-container) {
  width: fit-content;
  padding: 0;
  background-color: var(--color-region);
}

.lx .lx-layout .lx-calendar-container .lx-dropdown-panel .lx-button {
  width: unset;
}

.lx .lx-layout .lx-calendar-container .lx-datepicker-input-container .lx-date-time-picker::placeholder {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.lx .lx-layout .lx-calendar-container .lx-datepicker-input-container.range .lx-input-wrapper:has(.lx-date-time-picker.input-active) {
  background-color: var(--color-highlight);
}

.lx .lx-layout .lx-calendar-container .lx-datepicker-input-container.range .lx-input-wrapper:has(.lx-date-time-picker:focus) {
  background-color: var(--color-highlight);
}

.lx-datepicker-default .lx-datepicker-input-container.range {
  display: flex;
  align-items: center;
}

.lx-datepicker-default .lx-datepicker-input-container .lx-date-time-range-separator {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.lx-date-time-picker-wrapper.lx-date-time-range-wrapper .legacy-pickers-wrapper .lx-date-time-range-separator {
  display: flex;
  padding: 0 0.5rem;
  margin-top: 0.55rem;
}

.lx-date-time-picker-wrapper.lx-date-time-range-wrapper .legacy-pickers-wrapper {
  display: flex;
}

.lx .lx-layout .lx-calendar-container {
  height: auto;
  background-color: var(--color-region);
  border: var(--region-border);
  overflow-y: auto;
}

.lx-date-time-picker-wrapper[data-invalid] .lx-datepicker-default > .lx-calendar-container {
  border: 2px solid var(--color-bad);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid var(--color-chrome);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-return-to-today-button {
  position: absolute;
  right: 0;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-return-to-today-button:disabled {
  background-color: transparent;
  color: var(--color-disabled-foreground);
  border-color: transparent;
  cursor: not-allowed;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button:not(.lx-active) svg,
.lx .lx-layout .lx-calendar-container .lx-mobile-time-selection-button-wrapper .lx-button:not(.lx-active) svg {
  fill: var(--color-data);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button:not(.lx-active):disabled svg,
.lx .lx-layout .lx-calendar-container .lx-mobile-time-selection-button-wrapper .lx-button:not(.lx-active):disabled svg {
  fill: var(--color-disabled-foreground);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button:not(.lx-active):not(.lx-disabled):hover svg,
.lx .lx-layout .lx-calendar-container .lx-mobile-time-selection-button-wrapper .lx-button:not(.lx-active):not(.lx-disabled):hover svg {
  fill: var(--color-interactive-hover-foreground);
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-months-select-button
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-years-select-button
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-months-select-button
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-years-select-button
  svg {
  width: 1.25rem;
  height: 1.25rem;
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-months-select-button:not(.lx-active):not(:disabled):hover
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-years-select-button:not(.lx-active):not(:disabled):hover
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-mobile-time-selection-button-wrapper
  .lx-button.lx-mobile-time-selection-button:not(.lx-active):not(:disabled):hover
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-main
  .lx-calendar-layouts-wrapper
  .lx-button:not(.lx-active):not(:disabled):hover
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-main
  .lx-calendar-time-picker
  .lx-button:not(.lx-active):not(:disabled):hover
  svg {
  fill: var(--color-interactive-hover-foreground);
}



.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-months-select-button {
    min-width: 8rem;
    justify-content: end;
    --button-ghost-padding: 0 0.9rem 0 1rem;
    --button-ghost-gap: 0.75rem;
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-years-select-button {
  --button-ghost-padding: 0 0.75rem;
  --button-ghost-gap: 0.75rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-months-select-button:not(.lx-active),
.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-years-select-button:not(.lx-active),
.lx .lx-layout .lx-calendar-container .lx-mobile-time-selection-button-wrapper .lx-button.lx-mobile-time-selection-button:not(.lx-active) {
  color: var(--color-data);
  font-weight: 500;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-months-select-button:not(.lx-active):disabled,
.lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-years-select-button:not(.lx-active):disabled,
.lx .lx-layout .lx-calendar-container .lx-mobile-time-selection-button-wrapper .lx-button.lx-mobile-time-selection-button:not(.lx-active):disabled {
    background-color: transparent;
    color: var(--color-disabled-foreground);
    border-color: transparent;
    cursor: not-allowed;
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-months-select-button:not(.lx-active):not(:disabled):hover,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-header
  .lx-button.lx-calendar-years-select-button:not(.lx-active):not(:disabled):hover,
.lx .lx-layout .lx-calendar-container
  .lx-mobile-time-selection-button-wrapper
  .lx-button.lx-mobile-time-selection-button:not(.lx-active):not(:disabled):hover,
.lx .lx-layout .lx-calendar-container
  .lx-calendar-main 
  .lx-button:not(:disabled):hover {
  color: var(--color-interactive-hover-foreground);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-main {
  display: flex;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-top: 2px solid var(--color-chrome);
}

.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons {
  justify-content: space-between;
}

.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons .lx-button.min-date-button {
  flex-direction: row;
  --button-ghost-grid-areas: 'icon content';
  --button-ghost-grid-template-columns: auto 1fr;
  --button-ghost-gap: 0;
}

.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons.range-buttons-icon .lx-button.min-date-button svg,
.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons-icon .lx-button.min-date-button svg {
  margin: 0 1rem 0 -0.35rem;
}

.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons.range-buttons-icon.text-unavailable .lx-button.min-date-button svg,
.lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons-icon.text-unavailable .lx-button.min-date-button svg {
  margin: 0;
}

.lx .lx-layout .lx-mobile-time-selection-button-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-top: 2px solid var(--color-chrome);
}



.lx .lx-layout .lx-calendar-container .lx-calendar-layouts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-regular-layout-month-wrapper {
  position: relative;
}

.lx-date-time-picker-wrapper.lx-date-time-range-wrapper {
  position: static;
  width: 21.5rem;
}

.lx-date-time-picker-wrapper.lx-date-time-range-wrapper.month-year {
  width: 29.5rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper {
  display: flex;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.date-only {
  height: 16rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.lx-full-layout {
  height: 37rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.lx-full-columns {
  height: 17.5rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.range-month-year {
  height: 15rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.months-only {
  height: fit-content;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts.lx-full-layout {
  width: 33.7rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts.range-month {
  width: 21.5rem;
  gap: 2rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-layouts.range-year {
  width: 15.5rem;
  gap: 2rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-regular-layout-month {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-regular-layout-month-label,
.lx .lx-layout .lx-calendar-container .lx-calendar-month-layout-year-label {
  color: var(--color-label);
  line-height: 1em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1.2rem;
  font-size: var(--small-font-size);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month-layout-year-label {
  margin-bottom: 0.5rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-regular-layout {
  display: flex;
  gap: 3rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weekdays {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
  margin-bottom: 0.15rem;
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-main
  .lx-calendar-layouts-wrapper
  .lx-button:not(:disabled)
  svg {
  fill: var(--color-data);
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-main
  .lx-calendar-layouts-wrapper
  .lx-button:disabled
  svg,
.lx .lx-layout .lx-calendar-container
  .lx-mobile-time-selection-button-wrapper
  .lx-button:disabled
  svg {
  fill: var(--color-disabled-foreground);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-label);
  line-height: 1em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1.6rem;
  width: 1.8rem;
  margin: 0 0.2rem;
  font-weight: 500;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-months-wrapper,
.lx .lx-layout .lx-calendar-container .lx-calendar-years-wrapper,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarters-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks,
.lx .lx-layout .lx-calendar-container .lx-calendar-months,
.lx .lx-layout .lx-calendar-container .lx-calendar-years,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarters {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-months.month-year {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-week,
.lx .lx-layout .lx-calendar-container .lx-calendar-month-row,
.lx .lx-layout .lx-calendar-container .lx-calendar-year-row,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-week,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-row {
  margin: 0.175rem 0;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarters .lx-calendar-quarter-row:first-child {
  margin-top: 0.5rem; 
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarters .lx-calendar-quarter-row:last-child {
  margin-bottom: 0.5rem; 
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month-row {
  margin: 0.5rem 0;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-year-row {
  margin: 0.5rem 0;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month-wrapper,
.lx .lx-layout .lx-calendar-container .lx-calendar-year-wrapper {
  display: flex;
  justify-content: center;
  width: 5.13rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month-wrapper.full-layout {
  width: 100%;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-inner-wrapper {
  display: flex;
  justify-content: center;
  width: 3rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day,
.lx .lx-layout .lx-calendar-container .lx-calendar-month,
.lx .lx-layout .lx-calendar-container .lx-calendar-year,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 500;
  line-height: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color-data);
  width: 1.8rem;
  z-index: 1;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day:focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-month:focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-year:focus {
  border-color: transparent;
  outline: 2px solid var(--color-focus-background);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day {
  height: 1.8rem;
  position: relative;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month,
.lx .lx-layout .lx-calendar-container .lx-calendar-year {
  height: 2rem;
  width: 4rem;
  position: relative;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-month.lx-full-layout,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.lx-full-layout {
  width: 7rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarter {
  width: 2rem;
  position: relative;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day:not(.lx-selected-day):not(.lx-selected-start-day):not(.lx-selected-end-day):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-day:not(.lx-selected-day):not(.lx-selected-start-day):not(.lx-selected-end-day):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-month:not(.lx-selected-month):not(.lx-selected-start-month):not(.lx-selected-end-month):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-month:not(.lx-selected-month):not(.lx-selected-start-month):not(.lx-selected-end-month):not(.hovering-range):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-year:not(.lx-selected-year):not(.lx-selected-start-year):not(.lx-selected-end-year):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-year:not(.lx-selected-year):not(.lx-selected-start-year):not(.lx-selected-end-year):not(.hovering-range):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter:not(.lx-selected-quarter):not(.lx-selected-start-quarter):not(.lx-selected-end-quarter):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter:not(.lx-selected-quarter):not(.lx-selected-start-quarter):not(.lx-selected-end-quarter):not(.hovering-range):focus {
  background-color: var(--color-grid-hover-background);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-today:not(.lx-selected-day):not(.lx-selected-start-day):not(.lx-selected-end-day):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-today:not(.lx-selected-day):not(.lx-selected-start-day):not(.lx-selected-end-day):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-month.lx-today:not(.lx-selected-month):not(.lx-selected-start-month):not(.lx-selected-end-month):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-month.lx-today:not(.lx-selected-month):not(.lx-selected-start-month):not(.lx-selected-end-month):not(.hovering-range):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.lx-today:not(.lx-selected-year):not(.lx-selected-start-year):not(.lx-selected-end-year):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.lx-today:not(.lx-selected-year):not(.lx-selected-start-year):not(.lx-selected-end-year):not(.hovering-range):focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter.lx-today:not(.lx-selected-quarter):not(.lx-selected-start-quarter):not(.lx-selected-end-quarter):not(.hovering-range):hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter.lx-today:not(.lx-selected-quarter):not(.lx-selected-start-quarter):not(.lx-selected-end-quarter):not(.hovering-range):focus {
  background-color: var(--color-grid-hover-background);
}

.lx-calendar-day-wrapper.hovering-range.start-day,
.lx-calendar-day-wrapper.hovering-range.end-day,
.lx-calendar-month-wrapper.hovering-range.start-month,
.lx-calendar-month-wrapper.hovering-range.end-month,
.lx-calendar-year-wrapper.hovering-range.start-year,
.lx-calendar-year-wrapper.hovering-range.end-year,
.lx-calendar-quarter-inner-wrapper.hovering-range.start-quarter,
.lx-calendar-quarter-inner-wrapper.hovering-range.end-quarter {
  background-color: transparent;
}
.lx-form-grid .lx-calendar-day-wrapper.hovering-range.start-day:before,
.lx-form-grid .lx-calendar-month-wrapper.hovering-range.start-month:before,
.lx-form-grid .lx-calendar-year-wrapper.hovering-range.start-year:before,
.lx-form-grid .lx-calendar-quarter-inner-wrapper.hovering-range.start-quarter:before,
.lx-region .lx-calendar-day-wrapper.hovering-range.start-day:before,
.lx-region .lx-calendar-month-wrapper.hovering-range.start-month:before,
.lx-region .lx-calendar-year-wrapper.hovering-range.start-year:before,
.lx-region .lx-calendar-quarter-inner-wrapper.hovering-range.start-quarter:before {
  content: "";
  position: absolute;
  left: 0;
  width: .6rem;
  height: 100%;
  background-color: var(--color-background);
}

.lx-calendar-day-wrapper.hovering-range.start-day:before,
.lx-calendar-month-wrapper.hovering-range.start-month:before,
.lx-calendar-year-wrapper.hovering-range.start-year:before,
.lx-calendar-quarter-inner-wrapper.hovering-range.start-quarter:before {
  content: "";
  position: absolute;
  left: 0;
  width: .6rem;
  height: 100%;
  background-color: var(--color-region);
}
.lx-form-grid .lx-calendar-day-wrapper.hovering-range.end-day::after,
.lx-form-grid .lx-calendar-month-wrapper.hovering-range.end-month::after,
.lx-form-grid .lx-calendar-year-wrapper.hovering-range.end-year::after,
.lx-form-grid .lx-calendar-quarter-inner-wrapper.hovering-range.end-quarter::after,
.lx-region .lx-calendar-day-wrapper.hovering-range.end-day::after,
.lx-region .lx-calendar-month-wrapper.hovering-range.end-month::after,
.lx-region .lx-calendar-year-wrapper.hovering-range.end-year::after,
.lx-region .lx-calendar-quarter-inner-wrapper.hovering-range.end-quarter::after {
  content: "";
  position: absolute;
  right: 0;
  width: .6rem;
  height: 100%;
  background-color: var(--color-background);
}

.lx-calendar-day-wrapper.hovering-range.end-day::after,
.lx-calendar-month-wrapper.hovering-range.end-month::after,
.lx-calendar-year-wrapper.hovering-range.end-year::after,
.lx-calendar-quarter-inner-wrapper.hovering-range.end-quarter::after {
  content: "";
  position: absolute;
  right: 0;
  width: .6rem;
  height: 100%;
  background-color: var(--color-region);
}

.lx-calendar-day-wrapper.hovering-range.start-day.end-day,
.lx-calendar-month-wrapper.hovering-range.start-month.end-month,
.lx-calendar-year-wrapper.hovering-range.start-year.end-year,
.lx-calendar-quarter-inner-wrapper.hovering-range.start-quarter.end-quarter {
  position: relative;
  background-color: var(--your-hover-color);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month .lx-calendar-day-content,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.other-decade-year {
  opacity: 0;
  pointer-events: none;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month:hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month:focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month .lx-calendar-day-content:hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month .lx-calendar-day-content:focus,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month:hover .lx-calendar-day-content,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month:focus .lx-calendar-day-content,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.other-decade-year:hover,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.other-decade-year:focus {
  opacity: 1;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks .lx-calendar-week .lx-info-wrapper {
  cursor: auto;
  height: 1.8rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks .lx-calendar-week .lx-info-wrapper:hover {
  background-color: transparent;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks.first-month .lx-calendar-week.first-week .lx-calendar-day.lx-other-month:not(.lx-disabled-date),
.lx .lx-layout .lx-calendar-container .lx-calendar-year.other-decade-year:not(.lx-disabled-year) {
  pointer-events: all;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks.last-month .lx-calendar-week.penultimate-week .lx-calendar-day.lx-other-month:not(.lx-disabled-date),
.lx .lx-layout .lx-calendar-container .lx-calendar-weeks.last-month .lx-calendar-week.last-week .lx-calendar-day.lx-other-month:not(.lx-disabled-date) {
  pointer-events: all;
}

.lx .lx-layout .lx-calendar-container .lx-today {
  color: var(--color-interactive-background);
  font-weight: var(--font-weight-extra-bold);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-today::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.185rem;
  height: 0.185rem;
  background-color: var(--color-interactive-background);
  bottom: 0.25rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-selected-day.lx-today::before,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-selected-start-day.lx-today::before,
.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-selected-end-day.lx-today::before {
  background-color: var(--color-interactive-hover-foreground);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.hovering-range.lx-today:not(.lx-selected-start-day):not(.lx-selected-end-day)::before {
  background-color: #000;
}

.lx .lx-layout .lx-calendar-container .lx-selected-day,
.lx .lx-layout .lx-calendar-container .lx-selected-start-day,
.lx .lx-layout .lx-calendar-container .lx-selected-end-day,
.lx .lx-layout .lx-calendar-container .lx-selected-month,
.lx .lx-layout .lx-calendar-container .lx-selected-start-month,
.lx .lx-layout .lx-calendar-container .lx-selected-end-month,
.lx .lx-layout .lx-calendar-container .lx-selected-year,
.lx .lx-layout .lx-calendar-container .lx-selected-start-year,
.lx .lx-layout .lx-calendar-container .lx-selected-end-year,
.lx .lx-layout .lx-calendar-container .lx-selected-quarter,
.lx .lx-layout .lx-calendar-container .lx-selected-start-quarter,
.lx .lx-layout .lx-calendar-container .lx-selected-end-quarter {
  background-color: var(--color-interactive-background);
  color: var(--color-interactive-foreground);
  font-weight: var(--font-weight-extra-bold);
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.lx .lx-layout .lx-calendar-container
  .lx-time-picker-time-list-wrapper
  .lx-button,
.lx .lx-layout .lx-calendar-container
  .lx-time-picker-time-list-wrapper
  .lx-button {
  height: 2rem;
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list-wrapper .lx-button svg {
  height: 1rem;
  fill: var(--color-data)
}

.lx .lx-layout .lx-calendar-container .lx-calendar-time-picker {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-left: 2px solid var(--color-chrome);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-time-picker.date-time-only {
  border-left: none;
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::before,
.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2rem;
  pointer-events: none;
  z-index: 2;
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::before {
  top: 6rem;
  background: linear-gradient(180deg,  var(--color-region) 20%, transparent 100%);
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::after {
  top: 18.1rem;
  background: linear-gradient(0deg,  var(--color-region) 20%, transparent 100%);
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::-webkit-scrollbar {
  display: none;
}

.lx .lx-layout .lx-calendar-container .time-picker-wrapper {
  overflow: hidden;
  height: 13.9rem;
}

.lx .lx-layout .lx-calendar-container .lx-time-picker-time-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: translateY(-6.1rem);
}

.lx .lx-layout .lx-calendar-container .lx-time-list-item {
  position: relative;
  text-align: center;
  padding: 0.3rem 1.45rem;
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: 500;
  user-select: none;
  color: var(--color-data);
  z-index: 1;
  list-style: none;
}

.lx .lx-layout .lx-calendar-container .lx-time-list-item:hover {
  background-color: var(--color-grid-hover-background);
}

.lx .lx-layout .lx-calendar-container .lx-time-list-item.is-active {
  background-color: var(--color-interactive-background);
  color: var(--color-interactive-hover-foreground);
  font-weight: var(--font-weight-extra-bold);
}

.lx .lx-layout .lx-calendar-container .lx-time-lists-separator {
  padding: 0.1rem 0.1rem 0.3rem;
}

.lx .lx-layout .lx-calendar-container .lx-active-hour,
.lx .lx-layout .lx-calendar-container .lx-active-minutes {
  position: absolute;
  background-color: var(--color-grid-header-hover-background);
  width: 4.7rem;
  height: 2rem;
}

.lx .lx-layout .lx-calendar-container .lx-active-hour {
  left: 0.55rem;
}

.lx .lx-layout .lx-calendar-container .lx-active-minutes {
  right: 0.55rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-weeks .lx-calendar-week .lx-calendar-day.lx-disabled-date,
.lx .lx-layout .lx-calendar-container .lx-calendar-months .lx-calendar-month.lx-disabled-month,
.lx .lx-layout .lx-calendar-container .lx-calendar-years .lx-calendar-year.lx-disabled-year,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarters .lx-calendar-quarter.lx-disabled-quarter,
.lx .lx-layout .lx-calendar-container .lx-calendar-time-picker .lx-time-picker-time-list .lx-time-list-item.lx-disabled-hour {
  opacity: 1;
  color: var(--color-disabled-foreground);
  cursor: not-allowed;
  font-weight: 400;
}

.lx .lx-layout .lx-calendar-container
  .lx-calendar-weeks
  .lx-calendar-week
  .lx-calendar-day.lx-disabled-date:hover {
  background-color: transparent;
}



.lx .lx-layout .lx-calendar-container .lx-calendar-day-wrapper {
  display: flex;
  justify-content: center;
  width: 2.2rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day-wrapper.hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-month-wrapper.hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-year-wrapper.hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-inner-wrapper.hovering-range {
  position: relative;
  background-color: var(--color-input-selected-range-background);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day .lx-calendar-day-layer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day.lx-other-month.lx-disabled-date .lx-calendar-day-layer,
.lx .lx-layout .lx-calendar-container .lx-calendar-year.other-decade-year.lx-disabled-year {
  display: none;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-day:not(.lx-other-month):not(.lx-selected-day):not(.lx-selected-start-day):not(.lx-selected-end-day).hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-month:not(.lx-selected-month):not(.lx-selected-start-month):not(.lx-selected-end-month).hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-year:not(.lx-selected-year):not(.lx-selected-start-year):not(.lx-selected-end-year).hovering-range,
.lx .lx-layout .lx-calendar-container .lx-calendar-quarter:not(.lx-selected-quarter):not(.lx-selected-start-quarter):not(.lx-selected-end-quarter).hovering-range {
  background-color:var(--color-input-selected-range-background);
  font-weight: var(--font-weight-extra-bold);
  color: var(--contrast-background);
}

.lx .lx-layout .lx-calendar-container .lx-calendar-week .lx-calendar-day .lx-calendar-day-content {
  z-index: 1
}

.lx .lx-layout .lx-calendar-container .lx-day-layer-bars {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.lx .lx-layout .lx-calendar-container .lx-day-layer-bar {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 3px;
  transition: var(--day-content-transition);
  background-color: var(--bar-bg);
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-bar {
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  margin-right: 0.3rem;
  transition: var(--day-content-transition);
  background-color: var(--bar-bg);
  border: 1px solid var(--color-region);
  border-radius: 1rem;
}

.lx .lx-layout .lx-day-layer-popper-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-header {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-main {
  align-self: flex-start;
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-main .lx-list {
  gap: 0;
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-main .lx-list li {
  display: flex;
  align-items: center;
}

.lx .lx-layout .lx-day-layer-popper-layout .lx-day-layer-popper-main .lx-list li .lx-row .lx-data {
  font-size: 0.8rem;
}

.lx .lx-layout .lx-calendar-container .lx-year-period-placeholder {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-wrapper {
  display: flex;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
  color: var(--color-label);
  line-height: 1em;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.lx .lx-layout .lx-calendar-container .lx-calendar-quarter-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.lx .lx-layout .lx-calendar-container .bar-lx-draft,
.lx .lx-layout .lx-calendar-container .bar-lx-editing,
.lx .lx-layout .lx-calendar-container .bar-lx-disabling,
.lx .lx-layout .lx-calendar-container .bar-lx-finishing,
.lx .lx-layout .lx-calendar-container .bar-lx-deleting,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-draft,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-editing,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-disabling,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-finishing,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-deleting {
  background-color: var(--color-region);
}


.lx .lx-layout .lx-calendar-container .bar-lx-new,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-new {
  background-color: var(--color-state-new);
}

.lx .lx-layout .lx-calendar-container .bar-lx-edited,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-edited {
  background-color: var(--color-state-edited);
}

.lx .lx-layout .lx-calendar-container .bar-lx-inactive,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-inactive {
  background-color: var(--color-chrome);
}

.lx .lx-layout .lx-calendar-container .bar-lx-finished,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-finished {
  background-color: var(--color-state-finished);
}

.lx .lx-layout .lx-calendar-container .bar-lx-red,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-red {
  background-color: var(--color-red);
}

.lx .lx-layout .lx-calendar-container .bar-lx-green,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-green {
  background-color: var(--color-green);
}

.lx .lx-layout .lx-calendar-container .bar-lx-orange,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-orange {
  background-color: var(--color-orange);
}

.lx .lx-layout .lx-calendar-container .bar-lx-purple,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-purple {
  background-color: var(--color-purple);
}

.lx .lx-layout .lx-calendar-container .bar-lx-blue,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-blue {
  background-color: var(--color-blue);
}

.lx .lx-layout .lx-calendar-container .bar-lx-yellow,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-yellow {
  background-color: var(--color-yellow);
}

.lx .lx-layout .lx-calendar-container .bar-lx-black,
.lx .lx-layout .lx-day-layer-popper-layout .bar-lx-black {
  background-color: var(--color-data);
}

/* .lx .lx-layout .lx-date-time-picker-wrapper .lx-datepicker-default .lx-calendar-container {
  background-color: var(--color-background);
} */

@media (max-width: 640px) {
  .lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper,
  .lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.mobile-date-time {
    height: 21rem;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.mobile-quarters {
    height: 100%;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-layouts-wrapper.mobile-date-time.date-time-only {
    height: 24.15rem;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-layouts:not(.date-time-only) {
    margin: 3rem 1.5rem 0;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-main .lx-calendar-layouts-wrapper .lx-button.lx-previous-slide-button {
    position: absolute;
    left: 0;
    z-index:1;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-main .lx-calendar-layouts-wrapper .lx-button.lx-next-slide-button {
    position: absolute;
    right: 0;
    z-index:1;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-header .lx-button.lx-calendar-years-select-button {
    --button-ghost-margin: 0 1rem 0 0;
  }
  
  .lx .lx-layout .lx-calendar-container:has(.lx-full-rows) .lx-calendar-header {
    justify-content: flex-start;
  }

  .lx .lx-layout .lx-calendar-container .lx-calendar-time-picker {
    padding: 0 4.94rem;
    border-left: none;
  }

  .lx .lx-layout .lx-calendar-container .lx-time-lists-separator {
    right: calc(9rem + 1px);
  }

  .lx .lx-layout .lx-calendar-container .time-picker-wrapper.date-time-only {
    height: 17.9rem;
  }

  .lx-date-time-picker-wrapper.lx-date-time-range-wrapper {
    width: var(--input-container-width-small);
  }

  .lx-date-time-picker-wrapper.lx-date-time-range-wrapper.month-year {
    width: var(--input-container-width-large);
  }

  .lx .lx-layout .lx-calendar-container .lx-datepicker-input-container.range {
    flex-direction: column;
    align-items: flex-start;
  }

  .lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons.range-buttons-icon .lx-button.min-date-button svg,
  .lx .lx-layout .lx-dropdown-panel .lx-calendar-container .lx-calendar-footer.range-buttons-icon .lx-button.min-date-button svg {
    margin: 0;
  }

  .lx .lx-layout .lx-calendar-container .lx-datepicker-input-container.range .lx-date-time-picker {
    margin-bottom: 0.5rem;
  }

  .lx .lx-layout .lx-calendar-container .lx-time-picker-time-list::after {
    top: 22.1rem;
  }

  .lx-date-time-picker-wrapper.lx-date-time-range-wrapper .legacy-pickers-wrapper {
    display: block;
  }

  .lx-date-time-picker-wrapper.lx-date-time-range-wrapper .legacy-pickers-wrapper .lx-date-time-range-separator {
    margin-top: 0;
  }
}

