.lx-day-input-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 15fr 15fr 1fr;
}

.lx-day-input-readonly-wrapper {
  display: flex;
  align-items: center;
}

.lx-day-input-readonly-wrapper>.lx-data {
  margin-right: 0.5rem;
}

.lx-day-input-result-info-icon svg{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.lx-day-input-wrapper .lx-info-wrapper {
  width: fit-content;
}

.lx-day-input-tooltip-text {
  font-size: var(--small-font-size);
  letter-spacing: var(--letter-spacing-2);
  display: inline-block;
  color: var(--color-label);
  font-weight: 400;
  vertical-align: baseline;
  margin-top: 0.1rem;
}

@media (max-width: 900px) {
  .lx-day-input-wrapper {
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .lx-day-input-wrapper .lx-text-input {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}