.lx .lx-data-grid-wrapper {
  background-color: var(--color-region);
  min-width: 0; /* So that scrolling works properly */
}

.lx .lx-data-grid-wrapper header:not(.lx-data-block header) {
  padding: var(--padding-grid-header);
}

.lx .lx-data-grid-wrapper header h2,
.lx .lx-data-grid-wrapper header .heading-2 {
  margin-bottom: 0.5rem;
}

.lx .lx-data-grid-wrapper header .lx-description {
  font-size: var(--small-font-size);
  line-height: 1.1em;
}

.lx .lx-data-grid {
  display: grid;
  min-height: var(--row-size);
  background-color: var(--color-region);
  padding: 0;
  overflow: hidden;
}

.lx .lx-data-grid.lx-scrollable {
  overflow-x: auto;
}

.lx .lx-data-grid .lx-grid-table {
  display: contents;
  width: 100%;
  min-width: 100%;
  border: 0;
  border-collapse: collapse;
}

.lx .lx-data-grid.lx-scrollable .lx-grid-table {
  width: auto;
}

.lx .lx-data-grid .lx-grid-table .lx-grid-row {
  top: var(--nav-row-size);
  border-top: var(--region-border);
  z-index: 1;
}

.lx .lx-data-grid-wrapper.lx-grid-sticky > .lx-grid-header-wrapper {
  position: sticky;
  z-index: 3;
}

.lx .lx-data-grid-wrapper > .lx-grid-header-wrapper .lx-grid-row {
  display: grid;
  position: sticky;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lx .lx-data-grid-wrapper > .lx-grid-header-wrapper {
  top: var(--nav-row-size);
}

/* public / latvijalv mode, no toolbar, yes navbar */
.lx-layout-public:not(.no-nav-items) .lx-data-grid-wrapper > .lx-grid-header-wrapper,
.lx-layout-latvijalv:not(.no-nav-items) .lx-data-grid-wrapper > .lx-grid-header-wrapper {
  top: calc(var(--public-nav-header-size));
}

/* yes toolbar OR public / latvijalv mode, yes toolbar, no navbar */
.lx .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
.lx-layout-public.no-nav-items .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
.lx-layout-latvijalv.no-nav-items .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper {
  top: calc(var(--nav-row-size) + var(--row-size));
}

/* public / latvijalv mode, yes toolbar, yes navbar */
.lx-layout-public .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
.lx-layout-latvijalv .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper {
  top: calc(var(--public-nav-header-size) + var(--row-size));
}

.lx .lx-curtain > .lx-modal > .lx-main .lx-data-grid-wrapper > .lx-grid-header-wrapper {
  top: -1rem; /* 0rem - modal lx-main top padding */
}

.lx .lx-curtain > .lx-modal > .lx-main .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper {
  top: calc(var(--row-size) - 1rem); /* toolbar height - modal top padding */
}

.lx .lx-form-grid .lx-data-grid-wrapper > div.lx-grid-header-wrapper {
  top: 0 !important;
  z-index: 1;
}

.lx:not(.lx-theme-contrast) .lx-data-grid-wrapper > .lx-grid-header-wrapper::after {
  background: linear-gradient(0deg, transparent 0%, var(--color-background) 100%);
  content: '';
  height: 3rem;
  position: absolute;
  top: var(--grid-header-size);
  left: 0;
  right: 0;
  opacity: 0;
  opacity: var(--grid-top-shadow-opacity);
  pointer-events: none;
}

.lx .lx-data-grid-wrapper:has(.lx-data-grid.lx-loading) > .lx-grid-header-wrapper {
  display: none;
}

.lx .lx-data-grid .lx-cell {
  min-height: 2.5rem;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx .lx-data-grid-wrapper .lx-cell,
.lx .lx-data-grid-wrapper .lx-cell-header {
  text-align: left;
  vertical-align: top;
  border: none;
  padding: var(--padding-cell);
  line-height: 1.1em;
}

.lx .lx-data-grid-wrapper .lx-cell,
.lx .lx-data-grid-wrapper .lx-cell-action,
.lx .lx-data-grid-wrapper div.lx-cell-header {
  border-bottom: 1px solid var(--color-chrome);
}

.lx .lx-data-grid-wrapper .lx-grid-row {
  outline-color: var(--color-focus-background);
  color: var(--color-data);
  fill: var(--color-data);
  display: contents;
}

.lx .lx-data-grid-wrapper .lx-grid-row.lx-selected {
  color: var(--color-selected);
  fill: var(--color-selected);
}

.lx .lx-data-grid-wrapper .lx-grid-row:hover {
  color: var(--color-grid-hover-foreground);
  fill: var(--color-grid-hover-foreground);
}

.lx .lx-data-grid .lx-grid-row .lx-cell-selector .lx-checkbox-wrapper,
.lx .lx-data-grid .lx-grid-row .lx-cell-selector .lx-radio-button-wrapper {
  margin-left: 0.3rem;
  padding-top: 0.35rem;
}

.lx .lx-data-grid .lx-grid-row.lx-selected .lx-cell-selector,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-cell,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-cell-action {
  background-color: var(--color-selected-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-cell,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .flag-column p,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-cell-action,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-grid-icon-text,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-cell-clickable>span,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-person-display-name,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .flag-column p,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-action,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-grid-icon-text,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-clickable>span,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-person-display-name {
  color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-flag .small-flag,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-flag .small-flag {
  border-color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected svg.lx-grid-column-icon,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected .lx-ratings svg,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover svg.lx-grid-column-icon,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-ratings svg {
  fill: var(--contrast-background);
}

/*** Contrast checkbox & radio button styles ***/

/* Selected/hover on row + no hover on checkbox */

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected 
  .lx-checkbox+
  .lx-checkbox-label-wrapper 
  .lx-checkbox-appearance,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover 
  .lx-checkbox+
  .lx-checkbox-label-wrapper 
  .lx-checkbox-appearance {
  background-color: var(--contrast-background);
  border-color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row
  .lx-checkbox+
  .lx-checkbox-label-wrapper 
  .lx-checkbox-appearance 
  .lx-checkbox-thumb svg {
  fill: var(--contrast-foreground);
}

/* Hover on checkbox */

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row 
  .lx-checkbox-wrapper:hover 
  .lx-checkbox+
  .lx-checkbox-label-wrapper 
  .lx-checkbox-appearance {
  background-color: var(--contrast-hover);
  border-color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row 
  .lx-checkbox-wrapper:hover 
  .lx-checkbox:checked+
  .lx-checkbox-label-wrapper 
  .lx-checkbox-appearance 
  .lx-checkbox-thumb svg {
  fill: var(--contrast-background);
}

/* Selected/hover on row + no hover on radio button */

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row.lx-selected
  .lx-radio-button-wrapper 
  .lx-radio-button+
  .lx-radio-button-label-wrapper 
  .lx-radio-button-appearance,
.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover
  .lx-radio-button-wrapper 
  .lx-radio-button+
  .lx-radio-button-label-wrapper 
  .lx-radio-button-appearance {
  border-color: var(--contrast-background);
  background-color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row
  .lx-radio-button:checked+
  .lx-radio-button-label-wrapper 
  .lx-radio-button-appearance 
  .lx-radio-thumb {
  background-color: var(--contrast-background);
}

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row
  .lx-radio-button-wrapper
  .lx-radio-button:checked+
  .lx-radio-button-label-wrapper 
  .lx-radio-button-appearance {
  background-color: transparent;
}

/* Hover on radio button */

.lx.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row 
  .lx-radio-button-wrapper:hover 
  .lx-radio-button+
  .lx-radio-button-label-wrapper 
  .lx-radio-button-appearance {
  background-color: var(--contrast-hover);
}

/*** Contrast checkbox & radio button styles END ***/

.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell {
  background-color: var(--color-grid-hover-background);
}

.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-cell-action .lx-toolbar > .lx-button:hover,
.lx-theme-contrast .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-cell-action .lx-toolbar > .lx-context-container .lx-toolbar > .lx-button:hover {
  --color-button-ghost-hover-border: var(--contrast-background);
}

.lx .lx-data-grid-wrapper .lx-cell-header {
  min-height: var(--row-size);
  background-color: var(--color-grid-header);
  text-align: left;
  line-height: 1.1em;
  outline-color: var(--color-focus-background);
}

.lx .lx-data-grid-wrapper .lx-cell-header div {
  display: flex;
  justify-content: space-between;
}

.lx .lx-data-grid-wrapper .lx-cell-header div svg {
  height: 1.2rem;
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: 0.5rem;
  display: none;
  visibility: hidden;
}

.lx .lx-data-grid-wrapper .lx-cell-header .lx-primary{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.1rem;
}

.lx .lx-data-grid-wrapper .lx-cell-header .lx-primary,
.lx-data-grid-wrapper .lx-appendable-list .lx-appendable-list-item .lx-row .lx-vertical {
  color: var(--color-data);
}

.lx .lx-data-grid-wrapper .lx-cell-number {
  text-align: right;
}

.lx .lx-data-grid-wrapper .lx-cell-number div {
  justify-content: flex-end;
}

.lx .lx-data-grid-wrapper .lx-cell-selector {
  padding: 0;
}

.lx .lx-data-grid-wrapper .lx-cell.lx-cell-selector {
  text-align: center;
  vertical-align: top;
}

.lx .lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-xs {
  min-width: 4rem;
}

.lx-pseudo-grid .lx-cell-xs {
  min-width: 4rem;
  max-width: 4rem;
}

.lx .lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-s { 
  min-width: 6rem; 
}

.lx-pseudo-grid .lx-cell-s {
  min-width: 6rem;
  max-width: 6rem;
}

.lx .lx-data-grid.lx-scrollable .lx-cell-m {
  min-width: 12rem;
}

.lx-pseudo-grid .lx-cell-m {
  min-width: 12rem;
  max-width: 12rem;
}

.lx .lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-stretch,
.lx .lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-l {
  min-width: 20rem;
}

.lx-pseudo-grid .lx-cell-l {
  min-width: 20rem;
  max-width: 20rem;
}

.lx .lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-xl {
  min-width: 30rem;
}

.lx-pseudo-grid .lx-cell-xl {
  min-width: 30rem;
  max-width: 30rem;
}

.lx .lx-data-grid-wrapper .lx-cell-sortable {
  cursor: pointer;
}

.lx .lx-data-grid-wrapper .lx-cell-sortable div svg {
  display: block;
  margin-right: -0.5rem;
}

.lx .lx-data-grid-wrapper > .lx-grid-header-wrapper .lx-grid-row > .lx-cell-sortable:hover {
  background-color: var(--color-grid-header-hover-background);
}

.lx .lx-data-grid-wrapper > .lx-grid-header-wrapper .lx-grid-row > .lx-cell-sortable:hover div svg,
.lx .lx-data-grid-wrapper > .lx-grid-header-wrapper .lx-grid-row > .lx-cell-sortable.lx-cell-sorted div svg {
  visibility: visible;
}

.lx .lx-data-grid .lx-cell-sorted {
  background-color: var(--color-grid-header-hover-background);
}

.lx .lx-data-grid .lx-cell-primary,
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-row.lx-cell-primary
  .lx-vertical {
  font-weight: bold;
}

.lx .lx-data-grid .lx-cell-primary svg {
  fill: var(--color-data);
}

.lx .lx-data-grid .lx-cell-secondary svg,
.lx .lx-data-grid .lx-cell-extra svg {
  fill: var(--color-label);
}

.lx-grid-row.lx-selected .lx-cell-secondary svg,
.lx-grid-row.lx-selected .lx-cell-extra svg {
  fill: var(--color-selected);
}

.lx-grid-row:hover .lx-cell-secondary .lx-user-icon-display > svg,
.lx-grid-row:hover .lx-cell-extra .lx-user-icon-display > svg,
.lx-grid-row:hover .lx-cell-secondary .lx-person-icon-display > svg,
.lx-grid-row:hover .lx-cell-extra .lx-person-icon-display > svg {
  fill: var(--color-data);
}
.lx-form-grid>.lx-main .lx-row>div.lx-vertical>.lx-stack .lx-info-wrapper p.lx-data.lx-person-display-name {
  color: var(--color-data);
}
.lx .lx-data-grid span.lx-cell-tooltip {
  cursor: help;
}

.lx .lx-data-grid .lx-cell-clickable > span,
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-row.lx-cell-clickable
  .lx-vertical {
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-interactive-background);
  cursor: pointer;
}

.lx .lx-data-grid .lx-cell-clickable:hover {
  color: var(--color-interactive-hover-background);
}

.lx .lx-data-grid-wrapper .lx-cell-extra,
.lx-data-grid-wrapper .lx-appendable-list .lx-appendable-list-item .lx-row.lx-cell-extra {
  display: none;
}

.lx-data-grid-wrapper
  .lx-appendable-list.lx-data-grid-full
  .lx-appendable-list-item
  .lx-row.lx-cell-extra {
  display: block;
}

.lx .lx-data-grid-wrapper:has(.lx-data-grid-full) .lx-cell-extra,
.lx .lx-data-grid.lx-data-grid-full .lx-cell-extra {
  display: block;
}

.lx .lx-data-grid .lx-cell-secondary,
.lx .lx-data-grid .lx-cell-secondary .lx-person-display-name,
.lx .lx-data-grid .lx-cell-secondary .lx-grid-icon-text,
.lx .lx-data-grid .lx-cell-secondary .flag-column p,
.lx .lx-data-grid .lx-cell-extra,
.lx .lx-data-grid .lx-cell-extra .lx-person-display-name,
.lx .lx-data-grid .lx-cell-extra .lx-grid-icon-text,
.lx .lx-data-grid .lx-cell-extra .flag-column p {
  color: var(--color-label);
}

.lx .lx-grid-row.lx-selected .lx-cell-secondary,
.lx .lx-grid-row.lx-selected .lx-cell-secondary .lx-person-display-name,
.lx .lx-grid-row.lx-selected .lx-cell-secondary .lx-grid-icon-text,
.lx .lx-grid-row.lx-selected .lx-cell-secondary .flag-column p,
.lx .lx-grid-row.lx-selected .lx-cell-extra,
.lx .lx-grid-row.lx-selected .lx-cell-extra .lx-person-display-name,
.lx .lx-grid-row.lx-selected .lx-cell-extra .lx-grid-icon-text,
.lx .lx-grid-row.lx-selected .lx-cell-extra .flag-column p {
  color: var(--color-selected);
  opacity: 1;
}

.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-secondary,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-secondary .lx-person-display-name,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-secondary .lx-grid-icon-text,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-secondary .flag-column p,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-extra,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-extra .lx-person-display-name,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-extra .lx-grid-icon-text,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-extra .flag-column p {
  color: var(--color-grid-hover-foreground);
}

.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-extra .lx-grid-column-icon,
.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-secondary .lx-grid-column-icon {
  fill: var(--color-grid-hover-foreground);
}

.lx .lx-data-grid-wrapper .lx-data-grid .lx-cell-secondary p.lx-person-display-name,
.lx .lx-data-grid-wrapper .lx-data-grid .lx-cell-extra p.lx-person-display-name {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: normal;
  margin-top: 0.3rem;
  margin-bottom: 0.15rem;
}

.lx .lx-data-grid .flag-column:has(.lx-flag),
.lx .lx-data-grid .lx-person-display-wrapper,
.lx .lx-data-grid .lx-grid-icon-wrapper:has(.lx-grid-column-icon) {
  margin-top: -5px;
  margin-bottom: -5px;
}

.lx .lx-data-grid-wrapper .lx-grid-icon-wrapper.lx-icon-has-tooltip {
  cursor: help;
}

.lx .lx-data-grid .lx-empty-person-value {
  padding-top: 5px;
}

.lx .lx-data-grid .flag-column:not(:has(.lx-flag)) p.lx-data,
.lx .lx-data-grid .empty-icon-value,
.lx .lx-data-grid .empty-flag-value {
  margin-left: 0.25rem;
}

.lx .lx-data-grid .lx-cell-action {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
  right: -1px;
}

.lx-data-grid-wrapper:has(.lx-scrollable) .lx-cell-header.lx-cell-action {
  position: sticky;
  right: -1px;
  z-index: 1;
}

.lx .lx-data-grid.lx-scrollable .lx-cell-action {
  position: sticky;
  z-index: 1;
}

.lx .lx-data-grid.lx-scrollable .lx-cell-action:has(.lx-selected) {
  z-index: 2;
}

.lx .lx-data-grid.lx-scrollable .lx-cell-action:not(:has(.lx-selected)) {
  transition: z-index 0.1s ease-in;
}

.lx:not(.lx-theme-contrast) .lx-cell + .lx-cell-action.show-cell-borders {
  box-shadow: -1px 0 0 0 var(--color-grid-header), 0 -1px 0 0 var(--color-grid-header),
    0 1px 0 0 var(--color-grid-header);
}

.lx .lx-cell + .lx-cell-action.show-cell-borders {
  background-color: var(--color-region);
}



.lx .lx-data-grid.lx-scrollable .lx-cell-action .lx-toolbar {
  visibility: inherit;
}

.lx .lx-data-grid .lx-grid-row:hover .lx-cell-action {
  background-color: var(--color-grid-hover-background);
}

.lx .lx-data-grid .lx-grid-row:hover .lx-cell-action .lx-toolbar {
  background-color: var(--color-grid-hover-background);
}

.lx .lx-data-grid .lx-cell-action .lx-toolbar {
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

.lx .lx-data-grid .lx-grid-table:not(.lx-skeleton) .lx-grid-row:hover .lx-cell-action .lx-toolbar {
  visibility: inherit;
}

.lx-data-grid > .lx-grid-table > .lx-grid-content {
  display: contents;
}

.lx-data-grid .lx-grid-table .lx-grid-header-hidden {
  display: none;
}

.lx-data-grid .lx-cell-action .lx-button svg {
  --color-button-ghost-icon: var(--color-data);
  --color-button-ghost-icon-focus: var(--color-data);
}

.lx-theme-contrast .lx-data-grid .lx-grid-row.lx-selected .lx-cell-action .lx-button svg,
.lx-theme-contrast .lx-data-grid .lx-grid-row:hover .lx-cell-action .lx-button svg {
  --color-button-ghost-icon: var(--contrast-background);
  --color-button-ghost-icon-focus: var(--contrast-background);
}

.lx .lx-data-grid .lx-toolbar .lx-button {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2rem;
}

.lx .lx-grid-toolbar .lx-justified-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.lx-data-grid-wrapper .lx-grid-toolbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.lx-data-grid-wrapper .lx-grid-toolbar.lx-selection-toolbar {
  background-color: var(--color-interactive-background);
  color: var(--color-interactive-foreground);
}

.lx-data-grid-wrapper .lx-grid-toolbar.lx-selection-toolbar p {
  margin-left: 1rem;
  color: var(--color-interactive-foreground);
}

.lx-data-grid-wrapper .lx-grid-toolbar.lx-justified-toolbar > .lx-group {
  display: flex;
  align-items: center;
}

.lx .lx-data-grid-wrapper .lx-statusbar {
  min-height: var(--row-size);
  display: flex;
  color: var(--color-label);
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group {
  display: flex;
  padding: var(--padding-cell);
  flex-grow: 1;
  justify-content: center;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group .lx-divider {
  border-left: 1px solid var(--color-chrome);
  width: 0;
  height: 100%;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group-paging:first-of-type {
  border-right: 1px solid var(--color-chrome);
  flex-grow: 0;
  padding: 0;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group-paging:last-of-type {
  border-left: 1px solid var(--color-chrome);
  flex-grow: 0;
  padding: 0;
}

.lx-data-grid .lx-grid-table.lx-skeleton {
  display: grid;
}

.lx-data-grid .lx-skeleton .lx-skeleton-placeholder {
  width: 80%;
  height: 1rem;
  background-color: var(--color-data);
  opacity: 0.05;
}

.lx-data-grid .lx-skeleton .lx-cell-header .lx-skeleton-placeholder {
  background-color: var(--color-data);
  opacity: 0.05;
}

.lx-data-grid .lx-skeleton .lx-grid-row:nth-child(3n) .lx-skeleton-placeholder {
  width: 75%;
}

.lx-data-grid .lx-skeleton .lx-grid-row:nth-child(7n) .lx-skeleton-placeholder {
  width: 66%;
}

.lx-pseudo-grid {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.lx-pseudo-grid .lx-labels {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-chrome);
  min-height: auto;
  position: sticky;
  top: var(--nav-row-size);
  background-color: var(--color-region);
  z-index: 2;
}

.lx-modal .lx-pseudo-grid .lx-labels {
  top: -1rem;
}

.lx-pseudo-grid .lx-labels label {
  font-size: var(--small-font-size);
}

.lx .lx-pseudo-grid > .lx-row,
.lx .lx-form .lx-pseudo-grid > .lx-row {
  display: flex;
  flex-direction: row;
  width: auto;
}

.lx .lx-pseudo-grid > .lx-row {
  min-height: var(--row-size);
  border-bottom: 1px solid var(--color-chrome);
}

.lx .lx-pseudo-grid > .lx-row:last-of-type {
  border-bottom: none;
}

.lx-pseudo-grid > .lx-row .lx-cell,
.lx-pseudo-grid > .lx-labels .lx-cell {
  width: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
  justify-items: stretch;
}

.lx-pseudo-grid > .lx-row .lx-removed {
  color: var(--color-disabled);
  padding-left: 1rem;
  text-decoration: line-through;
  text-decoration-color: var(--color-destructive);
  text-decoration-thickness: 0.2rem;
}

.lx-pseudo-grid > .lx-row .lx-value {
  padding-left: 1rem;
}

.lx-pseudo-grid > .lx-row .lx-secondary {
  font-size: var(--small-font-size);
  color: var(--color-label);
  padding-left: 1rem;
}

.lx-pseudo-grid > .lx-row .lx-value .lx-secondary {
  padding-left: 0;
}

.lx-pseudo-grid > .lx-row .lx-cell:first-child,
.lx-pseudo-grid .lx-labels .lx-cell:first-child {
  padding-left: 0;
}

.lx-pseudo-grid > .lx-row .lx-cell > div {
  width: 100%;
}

.lx-pseudo-grid > .lx-row > .lx-button {
  width: 100%;
  max-width: 42rem;
}

.lx
  .lx-form
  .lx-pseudo-grid
  .lx-button-set:not(.lx-modal > .lx-button-set):not(.lx-dropdown-panel > .lx-button-set) {
  margin-top: 0;
  flex-grow: 1;
  width: 100%;
  padding-right: 2rem;
}

.lx .lx-form .lx-pseudo-grid .lx-button-set .lx-button {
  width: auto;
  flex-grow: 1;
}

.lx-pseudo-grid .lx-row .lx-cell {
  align-items: flex-start;
}

.lx-pseudo-grid .lx-row .lx-cell.lx-cell-xs .lx-button {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

.lx .lx-pseudo-grid .lx-button-set {
  margin-top: 0 !important;
}

.lx .lx-form .lx-pseudo-grid .lx-button-set {
  padding-right: 0;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group-paging.count-selector {
  padding-left: 1rem;
  align-items: center;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-context-container,
.lx .lx-data-grid-wrapper .lx-statusbar .lx-context-container .lx-dropdown-toggler {
  height: 100%;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-dropdown-toggler .lx-chip:hover {
  background-color: var(--color-grid-hover-background);
  cursor: pointer;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-chip svg {
  width: 1rem;
  height: 1rem;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-group.count-display {
  justify-content: flex-start;
}

.lx-data-grid .lx-grid-table .lx-grid-row:hover .lx-indicator {
  border-color: var(--color-label);
  color: var(--color-data);
}

.lx-data-grid .lx-indicator {
  background-color: var(--color-chrome);
  border: 1px solid var(--color-chrome);
  color: var(--color-data);
  font-size: var(--small-font-size);
  font-weight: bold;
  border-radius: 0.75rem;
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  flex-grow: 0;
}

.lx-data-grid .lx-info-wrapper ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1rem;
}

.lx-data-grid .lx-info-wrapper ul li {
  margin-bottom: 0.25rem;
}

.lx-data-grid .lx-info-wrapper ul li:last-of-type {
  margin-bottom: 0;
}

.lx-info-wrapper .lx-tooltip.lx-position-lb,
.lx-info-wrapper .lx-tooltip.lx-position-rb {
  top: 1.5rem;
}

.lx-info-wrapper-content {
  cursor: help;
}

.lx-info-wrapper .lx-info-wrapper-content .lx-data{
  color: var(--color-data);
}

.lx:not(.lx-theme-contrast) .lx-info-wrapper:hover {
  background-color: var(--color-grid-hover-background);
}

.lx.lx-theme-contrast .lx-expander header.lx-head:hover .lx-header-data .lx-description {
  color: var(--color-region-hover-foreground);
}

.lx .lx-info-wrapper-panel .lx-row > .lx-label {
  width: 100%;
}

.lx .lx-info-wrapper-content:focus,
.lx .popper-wrapper>div:focus,
.lx .popper-wrapper>div:focus-visible {
  outline: 2px solid var(--color-focus-background);
}
.lx-info-wrapper .lx-row .lx-vertical *,
.lx-form-grid>.lx-main .lx-info-wrapper .lx-row>div.lx-vertical>p.lx-data,
.lx-row>.lx-row-header>.lx-info-wrapper .popper .lx-info-wrapper-panel p.lx-data,
.lx-form-grid>.lx-main .lx-row>div.lx-vertical>.lx-stack .lx-info-wrapper p.lx-data,
.lx-info-wrapper .lx-form-grid>.lx-main .lx-row>div.lx-vertical>p.lx-data,
.lx .lx-form-grid>.lx-main .lx-row>div.lx-vertical .lx-field-wrapper .popper p.lx-data,
.lx .popper .lx-info-wrapper-panel p.lx-data {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: var(--data-weight);
  color: var(--color-tooltip-foreground);
  min-height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.25em;
}

.lx .lx-cell .popper .lx-info-wrapper-panel p.lx-data {
  line-height: 1.1em;
}

.lx-info-wrapper-panel .lx-row {
  padding: 0 2px;
}

.lx-info-wrapper-panel .lx-row-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lx .popper .lx-info-wrapper-panel label:not(.lx-state>.lx-primary) {
  font-size: var(--label-font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx .lx-form-grid .lx-row .lx-info-wrapper-panel>.lx-row>.lx-vertical>p.lx-data {
  color: var(--color-tooltip-foreground);
  min-height: auto;
}

.lx .lx-form-grid .lx-row .lx-info-wrapper-content>.lx-person-display>p.lx-data.lx-person-display-name {
  min-height: auto;
}

.lx-form-grid>.lx-main .lx-info-wrapper .lx-row>div.lx-vertical {
  min-height: auto;
}

.lx-context-container .popper-wrapper .popper .lx-dropdown-panel {
  padding: 0.5rem;
  position: static;
  box-shadow: var(--shadow-dropdown);
  overflow-y: auto;
}

.lx-data-grid-wrapper {
  position: relative;
}

.lx-data-grid-wrapper .lx-grid-toolbar.lx-main-toolbar {
  flex-direction: row;
}

.lx .lx-data-grid-wrapper .lx-statusbar .lx-chip {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0.5rem;
  justify-content: space-between;
  min-width: 5rem;
  height: var(--row-size);
  margin-left: 0.5rem;
}

.lx .lx-data-grid .lx-cell-clickable.lx-cell-link-disabled,
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-row.lx-cell-clickable.lx-cell-link-disabled
  .lx-vertical {
  color: var(--color-disabled-foreground);
  cursor: not-allowed;
}

.lx-data-grid-wrapper .lx-appendable-list {
  display: none;
}

.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-data-block
  .lx-data-block-header,
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-data-block
  .additional-buttons,
.lx-data-grid-wrapper .lx-appendable-list .lx-appendable-list-item .lx-data-block-content {
  background-color: var(--color-region);
}

.lx-data-block-header {
  outline-color: var(--color-focus-background);
}

.lx-data-grid-wrapper .lx-data-block-content .lx-row.lx-cell-clickable div {
  outline-color: var(--color-focus-background);
}

.lx-data-grid-wrapper .lx-component-toolbar.lx-selection-toolbar,
.lx-data-grid-wrapper .lx-component-toolbar.lx-selection-toolbar .lx-dropdown-panel {
  background-color: var(--color-interactive-background);
  color: var(--color-interactive-foreground);
}

.lx-data-grid-wrapper .lx-component-toolbar .left-area .lx-group,
.lx-data-grid-wrapper .lx-component-toolbar .right-area .lx-group {
  border: none;
}

.lx-data-grid-wrapper .lx-component-toolbar.lx-selection-toolbar .lx-group > p {
  color: var(--color-button-toolbar-selection);
  padding-left: 1rem;
}

 .lx-data-grid .lx-cell-action .lx-context-container .lx-dropdown-panel .lx-button {
  width: 100%;
  height: var(--row-size);
}

.lx-data-grid-wrapper .lx-data-block-content .flag-column .lx-item-display,
.lx-data-grid-wrapper .lx-data-block-content .flag-column .lx-item-display .lx-flag {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

@media (pointer: coarse) {
  .lx .lx-data-grid .lx-cell-action .lx-toolbar {
    visibility: inherit;
  }
}

@media (max-width: 800px) {
  .lx .lx-data-grid.lx-scrollable {
    overflow-x: hidden;
  }

  .lx .lx-data-grid:not(.lx-loading) .lx-grid-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .lx .lx-data-grid:not(.lx-loading) .lx-grid-row:first-of-type {
    border-top: 1px solid var(--color-chrome);
  }

  .lx .lx-data-grid:not(.lx-loading) div.lx-grid-row {
    display: none;
  }

  .lx .lx-data-grid:not(.lx-loading) .lx-cell {
    min-height: auto;
    text-align: left;
    width: calc(100% - 2rem);
    padding: 0.25rem;
  }

  .lx .lx-data-grid .lx-cell-action {
    position: absolute;
    top: 0;
    right: 1.75rem;
  }

  .lx .lx-data-grid .lx-cell-action .lx-toolbar {
    display: block;
  }

  .lx .lx-data-grid-wrapper > .lx-grid-toolbar {
    position: static;
  }

  .lx-data-grid-wrapper:not(:has(.lx-data-grid.lx-loading)) .lx-appendable-list {
    display: flex;
  }

  .lx-data-grid-wrapper > .lx-data-grid:not(.lx-loading),
  .lx-data-grid-wrapper:not(:has(.lx-data-grid.lx-loading)) > .lx-grid-header-wrapper {
    display: none;
  }
  .lx .lx-data-grid-wrapper {
    background-color: transparent;
  }

  .lx-data-grid-wrapper .lx-group.action-definitions-small .lx-dropdown-panel{
    background-color: var(--color-background);
  }
}

@media (max-width: 600px) {
  .lx .lx-data-grid-wrapper .lx-statusbar {
    flex-direction: column;
  }

  .lx .lx-data-grid-wrapper .lx-statusbar .lx-group.count-display {
    justify-content: center;
  }
}

.lx-cell.lx-cell-number.lx-cell-number-left {
  text-align: left;
}

.flag-column {
  display: flex;
  overflow: hidden;
}

.flag-column > p {
  margin-left: 0.25rem;
}

.lx .lx-data-grid .lx-item-display,
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-row
  .flag-column.lx-item-display {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

.lx .lx-data-grid .lx-item-display:has(.lx-flag),
.lx-data-grid-wrapper
  .lx-appendable-list
  .lx-appendable-list-item
  .lx-row
  .flag-column.lx-item-display:has(.lx-flag) {
  gap: 0.75ch;
}

.lx .lx-data-grid .lx-item-display > .lx-flag {
  margin-top: 0.15rem;
}

.lx .lx-data-grid-wrapper .lx-data-grid .flag-column p.lx-data {
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: normal;
  margin-top: 0.3rem;
  margin-bottom: 0.15rem;
}

.lx-justified-toolbar .lx-group {
  display: flex;
}

.lx-data-grid svg.lx-grid-column-icon.draft,
.lx-data-grid svg.lx-grid-column-icon.new,
.lx-vertical svg.lx-grid-column-icon.draft {
  fill: var(--color-state-new);
}

.lx-data-grid svg.lx-grid-column-icon.draft,
.lx-data-grid svg.lx-grid-column-icon.edited,
.lx-vertical svg.lx-grid-column-icon.edited {
  fill: var(--color-state-edited);
}

.lx-data-grid svg.lx-grid-column-icon.disabling,
.lx-data-grid svg.lx-grid-column-icon.inactive,
.lx-vertical svg.lx-grid-column-icon.inactive {
  fill: var(--color-state-deleted);
}

.lx-data-grid svg.lx-grid-column-icon.finishing,
.lx-data-grid svg.lx-grid-column-icon.finished,
.lx-vertical svg.lx-grid-column-icon.finished {
  fill: var(--color-state-finished);
}

.lx-data-grid svg.lx-grid-column-icon.deleting,
.lx-vertical svg.lx-grid-column-icon.deleted{
  fill: var(--color-state-error);
}

.lx-data-grid svg.lx-grid-column-icon.red,
.lx-vertical svg.lx-grid-column-icon.red {
  fill: var(--color-red);
}

.lx-data-grid svg.lx-grid-column-icon.green,
.lx-vertical svg.lx-grid-column-icon.green {
  fill: var(--color-green);
}

.lx-data-grid svg.lx-grid-column-icon.blue,
.lx-vertical svg.lx-grid-column-icon.blue {
  fill: var(--color-blue);
}

.lx-data-grid svg.lx-grid-column-icon.black,
.lx-vertical svg.lx-grid-column-icon.black {
  fill: var(--color-data);
}

.lx-data-grid svg.lx-grid-column-icon.purple,
.lx-vertical svg.lx-grid-column-icon.purple {
  fill: var(--color-purple);
}

.lx-data-grid svg.lx-grid-column-icon.orange,
.lx-vertical svg.lx-grid-column-icon.orange {
  fill: var(--color-orange);
}

.lx-data-grid svg.lx-grid-column-icon.yellow,
.lx-vertical svg.lx-grid-column-icon.yellow {
  fill: var(--color-yellow);
}

.lx .lx-data-grid-wrapper .lx-data-grid .lx-cell svg.lx-grid-column-icon,
.lx
  .lx-data-grid-wrapper
  .lx-appendable-list-item
  .lx-data-block-content
  .lx-row
  svg.lx-grid-column-icon {
  height: 1.5rem;
}

.lx-grid-icon-wrapper {
  display: grid;
  gap: 0 0.75ch;
  align-items: center;
}

.lx-grid-icon-wrapper .lx-grid-column-icon {
  align-self: flex-start;
}

.lx-grid-icon-wrapper:has(.lx-grid-icon-text){
  grid-template-columns: auto 1fr;
}

.lx-data-grid .lx-grid-icon-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.3rem;
  margin-bottom: 0.15rem;
}

.lx-data-grid-wrapper .lx-appendable-list .lx-row > div.lx-vertical {
  min-height: auto;
 }

.lx-data-grid-wrapper .lx-appendable-list .lx-row > div.lx-vertical .lx-state {
  float: left;
 }

 .lx-appendable-list-item .lx-grid-icon-wrapper { 
  height: 1.5rem;
}

.lx-responsive-grid-icons-row .lx-vertical {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.lx-responsive-grid-icons-row .lx-vertical>* {
  flex: 0 1 auto;
  min-width: 3rem;
  max-width: 100%;
}

.lx-responsive-grid-icons-row .lx-grid-icon-wrapper {
  display: flex;
  gap: 0.5rem;
}

.lx-responsive-grid-icons-row .lx-grid-icon-wrapper>p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-responsive-grid-icons-row .lx-grid-icon-wrapper>svg {
  flex-shrink: 0;
}

.lx-responsive-grid-icons-row svg {
  height: 1.5rem;
}

.lx-data-grid-wrapper .lx-appendable-list.lx-data-grid-full .lx-appendable-list-item .lx-row.lx-responsive-grid-icons-row .lx-cell-extra {
  display: block;
}

.lx-row.lx-responsive-grid-icons-row .lx-cell-extra {
  display: none;
}

.lx .lx-data-grid .lx-cell-clickable > span.lx-cell-clickable-button {
  text-decoration: none;
}

.lx-data-grid-wrapper .lx-component-toolbar  .lx-search-wrapper {
  display: flex;
}

/* 2nd toolbar row for DataGrid.vue */

.lx-data-grid-wrapper > .second-row,
.lx-data-grid-wrapper > .second-row > .lx-slot-wrapper {
  display: flex;
}

.lx-data-grid-wrapper > .second-row > .lx-field-wrapper > .lx-text-input-wrapper,
.lx-data-grid-wrapper > .second-row > .lx-field-wrapper > .lx-text-input-wrapper > .lx-text-input {
  height: 100%;
}

.lx-data-grid-wrapper > .second-row > .lx-field-wrapper {
  min-height: 3rem;
}

.lx-data-grid-wrapper .second-row,
.lx-data-grid-wrapper .second-row .lx-field-wrapper,
.lx-data-grid-wrapper > .first-row .lx-search-wrapper,
.lx-data-grid-wrapper > .lx-component-toolbar > .left-area,
.lx-data-grid-wrapper > .first-row .lx-search-wrapper > .lx-field-wrapper,
.lx-data-grid-wrapper > div:not(.lx-selection-toolbar) > .left-area > .lx-group {
  width: 100%;
}

.lx .lx-data-grid-wrapper .toolbar-search-button.is-expanded .lx-button {
  --color-button-toolbar-ghost-icon-active: var(--color-button-toolbar-ghost-icon);
  --color-button-toolbar-ghost-icon-hover: var(--color-interactive-hover-foreground);
}

.lx-selection-toolbar.is-expanded > .right-area .action-definitions-small > div:last-of-type > .lx-button:not(:hover),
.lx .lx-data-grid-wrapper .toolbar-search-button.is-expanded .lx-button,
.lx .lx-data-grid-wrapper .second-row .lx-button {
  background-color: var(--color-region-2);
}

.lx-grid-toolbar.lx-selection-toolbar.is-expanded > .right-area > .action-definitions-small > div:last-of-type > .lx-button,
.lx .lx-data-grid-wrapper .toolbar-search-button.is-expanded .lx-button,
.lx .lx-data-grid-wrapper .second-row .lx-button {
  --color-button-toolbar-selection-icon: var(--color-data);
  --color-button-toolbar-selection-icon-focus: var(--color-data);
}

.lx-data-grid-wrapper .toolbar-search-button.is-expanded:hover .lx-button{
  background-color: var(--color-interactive-hover-background);
}

.lx .lx-data-grid-wrapper .second-row .lx-input-wrapper {
  --color-input-background: var(--color-region-2);
}

.lx-data-grid-wrapper .lx-component-toolbar.lx-selection-toolbar .right-area {
  flex-direction: row-reverse;
}