.lx-expander .lx-head {
  position: relative;
  padding: 0.625rem 1rem;
  padding-right: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
}

.lx-expander .lx-head h4,
.lx-expander .lx-head .heading-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-expander .lx-head .lx-modifier-icon {
  right: inherit;
  top: inherit;
  position: static;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5rem;
  margin-left: -0.1rem;
  fill: var(--color-data);
  -webkit-transform: none;
  transform: none;
}

.lx-expander .lx-head .lx-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.lx-expander:not([data-disabled]) .lx-head:hover {
  background-color: var(--color-region-hover);
}

.lx-expander:not([data-disabled]) .lx-head:hover h4,
.lx-expander:not([data-disabled]) .lx-head:hover .heading-4 {
  color: var(--color-region-hover-foreground);
}

.lx-form-grid>.lx-main .lx-row .lx-expander {
  color: var(--color-data);
}

.lx-expander:not([data-disabled]) .lx-head:hover svg:not(.lx-button-ghost, .lx-button-icon, .lx-badge-icon) {
  fill: var(--color-region-hover-foreground);
}

.lx-expander:not([data-disabled]) .lx-head:active,
.lx-expander:not([data-disabled]) .lx-head:focus {
  outline-color: var(--color-focus-background);
}

.lx-expander[data-disabled] .lx-head {
  color: var(--color-disabled-foreground);
  cursor: not-allowed;
}

.lx-expander .lx-body {
  padding: 0rem 0rem 1.5rem 0rem;
}

.lx-expander .lx-chevron-icon {
  fill: var(--color-foreground);
  width: var(--row-size);
  height: var(--row-size);
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lx-expander[data-disabled]>.lx-head>.lx-chevron-icon svg,
.lx-expander[data-disabled] header .lx-modifier-icon {
  fill: var(--color-disabled-foreground);
}

.lx-expander .lx-body>.lx-invalidation-message {
  padding: 0.25rem 2rem;
}

.lx-expander.lx-expander-column {
  display: flex;
  height: 100%;
}

.lx-expander.lx-expander-column .lx-head {
  display: flex;
  padding: 3rem 0.625rem 1rem 0.625rem;
}

.lx-expander.lx-expander-column .lx-head h4,
.lx-expander.lx-expander-column .lx-head .heading-4,
.lx-expander.lx-expander-column .lx-head label {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.lx-expander .lx-head label {
  color: var(--color-data);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1em;
  margin-top: 0.15rem;
  cursor: pointer;
}

.lx-expander .lx-head label::before {
  content: '*';
  border: 1px solid var(--color-background);
  background-color: var(--color-warning);
  color: var(--color-warning);
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin-left: -1.1rem;
  position: absolute;
  top: 0.5rem;
  opacity: 0;
  transform: scale(0.1);
}

.lx-expander.lx-expander-highlighted .lx-head label::before {
  opacity: 1;
  transform: scale(1);
}

.lx-expander.lx-invalid > .lx-head h4,
.lx-expander.lx-invalid > .lx-head .heading-4 {
  color: var(--color-bad);
}

.lx-expander.lx-invalid > .lx-head svg {
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
  fill: var(--color-bad);
}

.lx-expander.lx-invalid > .lx-body .lx-invalidation-message {
  display: block;
  overflow: visible;
  max-height: 12.5rem;
  color: var(--color-bad);
  font-size: var(--small-font-size);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-1);
  margin-top: 0.1rem;
}

.lx-expander.lx-expander-column .lx-head .lx-chevron-icon {
  -webkit-transform: rotate(-90deg) translateY(50%);
  -moz-transform: rotate(-90deg) translateY(50%);
  -o-transform: rotate(-90deg) translateY(50%);
  transform: rotate(-90deg) translateY(50%);
  top: 1rem;
  right: 50%;
}

.lx-expander.lx-expander-column .lx-body {
  padding: 1rem;
  width: 100%;
}

.lx-expander .lx-toolbar {
  margin-top: 0.5rem;
}

.lx-modal .lx-accordion .lx-expander .lx-head:not(:hover) {
  background-color: var(--color-background);
}

.lx-modal .lx-accordion .lx-expander {
  border: 2px var(--color-background) solid;
  border-bottom: 2px transparent none;
}

.lx-modal .lx-accordion .lx-expander.lx-expanded:last-of-type {
  border-bottom: 2px var(--color-background) solid;
}

.lx-modal .lx-accordion .lx-expander.lx-expanded .lx-head:not(:hover) {
  background-color: var(--color-region);
}

.lx-modal .lx-accordion .lx-expander .lx-body {
  padding: 1rem;
  padding-bottom: 0;
}

.lx-modal .lx-accordion .lx-expander .lx-body .lx-form {
  margin-bottom: 0;
}

.lx-expander header.lx-head {
  padding-top: 0;
  padding-bottom: 0;
  min-height: var(--row-size);
  align-items: center;
}

.lx-expander header.lx-head>div:not(.lx-chevron-icon) {
  width: 100%;
  overflow: hidden;
}

.lx .lx-expander header.lx-head .lx-group .lx-header-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-expander header.lx-head h4+.lx-description,
.lx-expander header.lx-head .heading-4+.lx-description {
  font-size: var(--small-font-size);
  margin-top: -0.25rem;
  color: var(--color-label);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-inline: 0;
}

.lx-expander header.lx-head:hover h4+.lx-description,
.lx-expander header.lx-head:hover .heading-4+.lx-description {
  color: var(--color-data);
}

.lx-expander[data-disabled] header.lx-head h4+.lx-description,
.lx-expander[data-disabled] header.lx-head .heading-4+.lx-description {
  color: var(--color-disabled-foreground);
}

.lx-expander.lx-region {
  background-color: var(--color-region);
}

.lx-expander>header .lx-modifier-icon+.lx-indicator {
  opacity: 0;
  background-color: var(--color-orange);
  min-width: 0.5rem;
  min-height: 0.5rem;
  padding: 0 !important;
  height: 1rem !important;
  width: 1rem !important;
  border: 2px solid var(--color-region);
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transform: scale(0.1, 0.1);
  z-index: 1;
}

.lx-expander>header:hover .lx-modifier-icon+.lx-indicator {
  border: 2px solid var(--color-grid-hover-background);
}

.lx-expander.lx-expander-highlighted>header .lx-icon-wrapper .lx-modifier-icon+.lx-indicator {
  opacity: 1;
  transform: scale(1, 1);
}

.lx-expander>header .lx-group {
  display: flex;
  align-items: center;
}

.lx-list-expander {
  display: flex;
}

.lx-expander .lx-chevron-icon svg {
  height: 1rem;
  width: 1rem;
}

.lx-expander-additional-info {
  display: flex;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
}

.lx-expander-additional-info>.popper-wrapper {
  width: 100%;
}

.lx-expander-additional-info svg.lx-info-icon {
  fill: var(--color-label);
}

/*** LxDataBlock styles ***/

.lx-data-block-wrapper {
  display: grid;
  margin-bottom: var(--row-size);
  background: var(--color-data-block-background);
  border-radius: var(--data-block-border-radius);
}

.lx-data-block-expanded.lx-data-block-wrapper {
  border-radius: var(--data-block-border-radius-expanded);
}

.lx-data-block-wrapper .lx-data-block-wrapper,
.lx-form-grid .lx-data-block-wrapper,
.lx-region .lx-data-block-wrapper,
.lx-modal .lx-data-block-wrapper,
.lx-card .lx-data-block-wrapper {
  background: var(--color-data-block-region-background);
}

.lx-form-grid .lx-data-block-wrapper .lx-data-block-wrapper,
.lx-region .lx-data-block-wrapper .lx-data-block-wrapper,
.lx-modal .lx-data-block-wrapper .lx-data-block-wrapper,
.lx-card .lx-data-block-wrapper .lx-data-block-wrapper {
  background: var(--color-data-block-background);
}

.lx-data-block-wrapper.lx-data-block-wrapper-m,
.lx-data-block-wrapper.lx-data-block-wrapper-l {
  grid-template-rows: auto 1fr;
}

.lx-data-block {
  display: grid;
  grid-template-areas: var(--data-block-grid-areas);
  grid-template-columns: var(--data-block-grid-template-columns);
  grid-row: 1;
  padding: 0;
  border: var(--data-block-border);
  border-radius: var(--data-block-border-radius);
}

.lx-data-block-wrapper-m .lx-data-block {
  min-height: var(--data-block-height-m);
}

.lx-data-block-wrapper-l .lx-data-block {
  min-height: var(--data-block-height-l);
}

.lx-data-block-invalid:not(.lx-data-block-expanded) .lx-data-block {
  border-color: var(--color-bad);
}

.lx-data-block-selected .lx-data-block {
  background: var(--color-selected-background);
  border-color: var(--color-selected-border);
}

.lx-data-block-wrapper .lx-data-block-header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: span 3;
  border-radius: var(--data-block-border-radius-inner);
}

.lx-data-block-expanded .lx-data-block-header {
  border-radius: var(--data-block-border-radius-inner-expanded);
}

.lx-data-block-expander > .lx-data-block > .lx-data-block-header:hover {
  background: var(--color-data-block-hover-background);
  cursor: pointer;
}

.lx-data-block-expander .lx-data-block-header:focus {
  outline: 2px solid var(--color-focus-background);
  outline-offset: -2px;
}

.lx-data-block-disabled .lx-data-block-header:focus {
  outline: none;
}

.lx-data-block-wrapper.lx-data-block-disabled,
.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block-header {
  cursor: not-allowed;
}

.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block-header {
  background: transparent;
}

.lx-data-block-header > .lx-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  grid-area: content;
}

/*** LxDataBlock text styles ***/

.lx-data-block .lx-primary {
  width: 100%;
  color: var(--color-data-block-primary);
  font-size: var(--data-block-text-primary-font-size);
  line-height: var(--data-block-text-primary-line-height);
  font-weight: var(--data-block-text-primary-font-weight);
  margin: var(--data-block-text-primary-margin);
}

.lx-data-block .lx-primary.lx-title {
  padding: var(--data-block-text-primary-padding);
}

.lx-data-block .lx-secondary {
  width: 100%;
  color: var(--color-data-block-secondary);
  font-size: var(--data-block-text-secondary-font-size);
  line-height: var(--data-block-text-secondary-line-height);
  font-weight: var(--data-block-text-secondary-font-weight);
  padding: var(--data-block-text-secondary-padding);
  margin: var(--data-block-text-secondary-margin);
}

.lx-data-block-header > .lx-content > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-data-block-wrapper .lx-primary-uppercase {
  text-transform: uppercase;
}

.lx-data-block-expanded .lx-secondary {
  height: 0;
  padding: 0;
  margin: 0;
}

/* Hover text styles */

.lx-data-block-expander > .lx-data-block > .lx-data-block-header:hover .lx-primary,
.lx-data-block-expander > .lx-data-block > .lx-data-block-header:hover .lx-secondary {
  color: var(--color-data-block-hover-foreground);
}

/* Selected text styles */

.lx-data-block-wrapper.lx-data-block-selected .lx-data-block .lx-primary,
.lx-data-block-wrapper.lx-data-block-selected .lx-data-block .lx-secondary {
  color: var(--color-selected);
}

/* Disabled text styles */

.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .lx-primary,
.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .lx-secondary {
  color: var(--color-data-block-disabled-foreground);
}

/* Invalid text styles */

.lx-data-block-wrapper.lx-data-block-invalid .lx-data-block .lx-primary {
  color: var(--color-bad);
}

/* Contrast text styles */

.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-primary,
.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-secondary,
.lx-theme-contrast .lx-data-block-selected .lx-data-block-header .lx-primary,
.lx-theme-contrast .lx-data-block-selected .lx-data-block-header .lx-secondary {
  color: var(--contrast-background);
}

/*** LxDataBlock content styles ***/

.lx-data-block-wrapper > .lx-data-block-content {
  overflow: hidden;
}
.lx-data-block-wrapper-m > .lx-data-block-content > .lx-main {
  padding: var(--data-block-content-padding-m);
}

.lx-data-block-wrapper-l > .lx-data-block-content > .lx-main {
  padding: var(--data-block-content-padding-l);
}

/*** LxDataBlock selecting button styles ***/

.lx-data-block-wrapper .lx-radio-button-appearance,
.lx-data-block-wrapper .lx-checkbox-appearance {
  margin: 0.25rem;
}

/* Radio button contrast styles */

.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled):not(.lx-data-block-selected) > .lx-data-block > .lx-data-block-header:hover .lx-radio-button-appearance,
.lx-theme-contrast .lx-data-block-selected .lx-radio-button-appearance {
  border-color: var(--contrast-background);
}

.lx-theme-contrast .lx-data-block-selected .lx-radio-button-appearance .lx-radio-thumb {
  background-color: var(--contrast-background);
}

/* Checkbox contrast styles */

.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-checkbox-appearance,
.lx-theme-contrast .lx-data-block-wrapper.lx-data-block-selected .lx-checkbox-wrapper .lx-checkbox-appearance {
  border-color: var(--contrast-background);
  background-color: var(--contrast-background);
}

.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-checkbox-appearance svg,
.lx-theme-contrast .lx-data-block-wrapper.lx-data-block-selected .lx-checkbox-wrapper .lx-checkbox-appearance svg {
  fill: var(--contrast-foreground);
}

/*** LxDataBlock icon wrapper styles ***/

.lx-data-block-wrapper .lx-icons,
.lx-data-block-wrapper .lx-indications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lx-data-block-wrapper .lx-icons {
  grid-area: icon-loader-selecting;
}

.lx-data-block-wrapper .lx-indications {
  grid-area: chevron-invalid;
}

.lx-data-block-wrapper-m.lx-data-block-wrapper .lx-icons {
  width: max(var(--data-block-icon-wrapper-width-m), var(--data-block-left-indent-m));
  max-height: var(--data-block-icon-wrapper-max-height-m);
}

.lx-data-block-wrapper-m .lx-indications {
  width: max(var(--data-block-chevron-wrapper-width-m), var(--data-block-right-indent-m));
  max-height: var(--data-block-chevron-wrapper-max-height-m);
}

.lx-data-block-wrapper-m:has(.additional-buttons) .lx-indications,
.lx-data-block-wrapper-m.lx-data-block-expander .lx-indications {
  width: var(--data-block-chevron-wrapper-width-m);
}

.lx-data-block-wrapper-m.lx-data-block-wrapper .lx-icons:empty {
  --data-block-icon-wrapper-width-m: 0rem;
}

.lx-data-block-wrapper-m .lx-indications:empty {
  --data-block-chevron-wrapper-width-m: 0rem;
}

.lx-data-block-wrapper-l.lx-data-block-wrapper .lx-icons {
  width: max(var(--data-block-icon-wrapper-width-l), var(--data-block-left-indent-l));
  max-height: var(--data-block-icon-wrapper-max-height-l);
}

.lx-data-block-wrapper-l .lx-indications {
  width: max(var(--data-block-chevron-wrapper-width-l), var(--data-block-right-indent-l));
  max-height: var(--data-block-chevron-wrapper-max-height-l);
}

.lx-data-block-wrapper-l:has(.additional-buttons) .lx-indications,
.lx-data-block-wrapper-l.lx-data-block-expander .lx-indications {
  width: var(--data-block-chevron-wrapper-width-l);
}

.lx-data-block-wrapper-l.lx-data-block-wrapper .lx-icons:empty {
  --data-block-icon-wrapper-width-l: 0rem;
}

.lx-data-block-wrapper-l .lx-indications:empty {
  --data-block-chevron-wrapper-width-l: 0rem;
}

/*** LxDataBlock icon styles ***/

.lx-data-block-wrapper .lx-icons > svg {
  height: var(--data-block-icon-height);
  width: var(--data-block-icon-width);
  fill: var(--color-data-block-icon);
}

.lx-data-block-expander .lx-indications > svg {
  height: var(--data-block-chevron-height);
  width: var(--data-block-chevron-width);
  fill: var(--color-data-block-chevron);
}

.lx-data-block-invalid .lx-indications > svg {
  height: var(--data-block-invalid-icon-height);
  width: var(--data-block-invalid-icon-width);
}

.lx-data-block .additional-buttons .lx-dropdown-toggler > .lx-button,
.lx-data-block .additional-buttons > .lx-button {
  --color-button-ghost-icon: var(--color-data-block-primary);
  --color-button-ghost-icon-focus: var(--color-data-block-primary);
}

/* Hover icon styles */

.lx-data-block-expander > .lx-data-block > .lx-data-block-header:hover .lx-indications > svg,
.lx-data-block-expander > .lx-data-block > .lx-data-block-header:hover .lx-icons > .lx-icon {
  fill: var(--color-data-block-hover-foreground);
}

/* Selected icon styles */

.lx-data-block-selected .additional-buttons .lx-dropdown-toggler > .lx-button:not(:hover):not(:focus):not(:active) svg,
.lx-data-block-selected .additional-buttons > .lx-button:not(:hover):not(:focus):not(:active) svg,
.lx-data-block-selected .lx-data-block .lx-indications > svg,
.lx-data-block-selected .lx-data-block .lx-icons > .lx-icon {
  fill: var(--color-selected);
}

/* Disabled icon styles */

.lx .lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .additional-buttons .lx-dropdown-toggler > .lx-button svg,
.lx .lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .additional-buttons > .lx-button svg,
.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .lx-data-block-header .lx-indications > svg,
.lx-data-block-wrapper.lx-data-block-disabled .lx-data-block .lx-data-block-header .lx-icons > .lx-icon {
  fill: var(--color-data-block-disabled-foreground);
}

/* Invalid icon styles */

.lx-data-block-wrapper.lx-data-block-invalid .lx-data-block .lx-data-block-header .lx-indications > svg,
.lx-data-block-wrapper.lx-data-block-invalid .lx-data-block .lx-data-block-header .lx-icons > .lx-icon {
  fill: var(--color-bad);
}

/* Contrast icon styles */

.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-indications > svg,
.lx-theme-contrast .lx-data-block-expander:not(.lx-data-block-disabled) > .lx-data-block > .lx-data-block-header:hover .lx-icons > .lx-icon,
.lx-theme-contrast .lx-data-block-wrapper.lx-data-block-selected .lx-data-block-header .lx-indications > svg,
.lx-theme-contrast .lx-data-block-wrapper.lx-data-block-selected .lx-data-block-header .lx-icons > .lx-icon {
  fill: var(--contrast-background);
}

/*** LxDataBlock button styles ***/

.lx-data-block-wrapper .additional-buttons {
  grid-area: button;
  height: 100%;
}

.lx-data-block-wrapper .additional-buttons .lx-context-container,
.lx-data-block-wrapper .additional-buttons .popper-wrapper,
.lx-data-block-wrapper .additional-buttons .lx-dropdown-toggler {
  height: 100%;
}

.lx-data-block-wrapper-m .additional-buttons > .lx-button,
.lx-data-block-wrapper-m .additional-buttons .lx-dropdown-toggler > .lx-button {
  height: 100%;
  max-height: var(--data-block-button-max-height-m);
  min-width: var(--data-block-button-width-m);
}

.lx-data-block-wrapper-l .additional-buttons > .lx-button,
.lx-data-block-wrapper-l .additional-buttons .lx-dropdown-toggler > .lx-button {
  height: 100%;
  max-height: var(--data-block-button-max-height-l);
  min-width: var(--data-block-button-width-l);
}

/*** LxDataBlock custom header styles ***/

.lx-data-block-wrapper.lx-data-block-custom-header {
  grid-template-rows: auto 1fr;
}

.lx-data-block-custom-header .lx-data-block {
  grid-template-columns: 1fr auto;
  grid-template-areas: none;
}

.lx-data-block-custom-header .lx-data-block-header {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-column: auto;
}

.lx-data-block-custom-header .lx-icons,
.lx-data-block-custom-header .lx-indications,
.lx-data-block-custom-header .additional-buttons,
.lx-data-block-custom-header .lx-data-block-header > .lx-content {
  grid-area: auto;
}

/*** Mystery styles ***/

.lx .lx-data-block-wrapper .lx-button-set {
  flex-grow: 1;
  width: 100%;
}

.lx .lx-data-block-wrapper .lx-button-set:not(.lx-dropdown-panel .lx-button-set):not(.lx-modal .lx-button-set),
.lx .lx-data-block-wrapper .lx-button-set .lx-group,
.lx .lx-modal .lx-data-block-wrapper .lx-pseudo-grid .lx-button-set:not(.lx-dropdown-panel .lx-button-set):not(.lx-modal > footer.lx-button-set) {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .lx-data-block-wrapper.lx-data-block-wrapper-m,
  .lx-data-block-wrapper.lx-data-block-wrapper-l {
    grid-template-rows: auto 1fr;
  }

  .lx-data-block-header > .lx-content > div {
    white-space: normal;
  }

  .lx-data-block-wrapper .lx-secondary {		
    display: none;		
  }
}