svg .lx-shade {
  opacity: 0;
}

.lx-form-grid {
  display: grid;
  background-color: var(--color-region);
  grid-template-columns: minmax(0, 1fr);
  border: var(--region-border);
  position: relative;
}

.lx-modal .lx-form-grid {
  position: inherit;
 }

.lx-appendable-list-item .lx-form-grid {
  position: unset;
}

.lx-appendable-list-item .lx-form-grid:not(:has(.lx-form-section-1)) {
  width: 100%;
}

.lx-data-block .lx-form-grid,
.lx-filter .lx-form-grid {
  border: none;
}

.lx-form-grid > .lx-main {
  overflow-x: hidden;
}

.lx-form-grid > header {
  min-height: var(--row-size);
  border-bottom: 1pt solid var(--color-chrome);
  display: grid;
  grid-template-columns: 1fr auto 1fr auto auto;
}

.lx-form-grid > header.lx-sticky {
  position: sticky;
  top: var(--nav-row-size);
  background-color: var(--color-region);
  z-index: 10;
}

.lx-modal .lx-form-grid > header.lx-sticky {
  top: -1rem;
}

.lx-form-grid > header > .lx-group {
  display: flex;
  height: var(--row-size);
  align-items: center;
}

.lx-form-grid > header > .lx-group .lx-toolbar-chip > .lx-state {
  padding: 0;
}

.lx-form-grid > header > .lx-group .lx-info-wrapper {
  padding-top: 0.375rem;
}

.lx-form-grid > header > .lx-group .lx-toolbar-chip {
  padding: 0.05rem 1rem;
  align-items: center;
  color: var(--color-label);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1em;
  max-height: var(--row-size);
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.lx-form-grid > header > .lx-group.lx-primary .lx-toolbar-chip {
  justify-content: center;
  width: 100%;
  color: var(--color-data);
  font-weight: var(--data-weight);
  margin-left: var(--gap);
  margin-right: var(--gap);
}

.lx-form-grid > header > .lx-group .lx-info-wrapper:hover .lx-toolbar-chip,
.lx-form-grid > header > .lx-group .lx-info-wrapper:hover .lx-toolbar-chip > .lx-state {
  background-color: var(--color-grid-hover-background);
  cursor: help;
}

.lx-form-grid > header > .lx-group .lx-toolbar-chip .lx-info-wrapper .lx-info-wrapper-content {
  display: flex;
}

.lx-form-grid > header > .lx-group .lx-toolbar-chip .lx-info-wrapper svg {
  min-width: var(--icon-size);
}

.lx-form-grid h2,
.lx-form-grid .heading-2 {
  margin-top: var(--row-size);
  margin-bottom: var(--gap);
}

.lx-form-grid > footer {
  min-height: var(--row-size);
  padding: var(--gap) var(--gap-form);
  padding-left: calc(var(--gap-form) + 2px);
  border-top: 1pt solid var(--color-chrome);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--gap);
}

.lx-form-grid > footer.lx-sticky {
  position: sticky;
  bottom: 0;
  background-color: var(--color-region);
  z-index: 5;
}

.lx-modal .lx-form-grid > footer.lx-sticky { 
  bottom: -2rem;
}

.lx-form-grid > footer > .lx-group {
  display: flex;
  gap: var(--gap-buttons);
}

.lx-form-grid > footer > .lx-group > .lx-button,
.lx-form-grid > footer > .lx-group .lx-dropdown-toggler > .lx-button {
  min-width: 12rem;
  min-height: var(--row-size);
  flex-grow: 1;
  flex-basis: 0;
}

.lx .lx-data-block-content > .lx-main > .lx-form-section {
  padding: 0;
}

.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-2 {
  grid-template-columns: 1fr 1fr;
}

.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lx-form-grid > .lx-main > .lx-form-section,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section,
.lx-data-block-content > .lx-main > .lx-form-section,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section {
  padding: var(--gap-form);
  min-height: var(--row-size);
  display: grid;
  grid-template-columns: var(--form-column-size);
  gap: var(--gap-form);
  border-top: 1px solid var(--color-chrome);
  margin-bottom: var(--row-size);
  align-items: baseline;
}

.lx-filter-wrapper > .shortlist-wrapper > .lx-form-grid > .lx-main > .lx-form-section {
  align-items: normal;
}

.lx-data-block-content .lx-form-grid.lx-form-grid-stripped > .lx-main > .lx-form-section {
  padding: 0;
}

.lx-data-block-content .lx-form-grid.lx-form-grid-stripped > .lx-main > .lx-form-section-1 {
  grid-template-columns: 1fr;
}

.lx-data-block-content .lx-form-grid.lx-form-grid-stripped,
.lx-modal .lx-form-grid.lx-form-grid-stripped {
  border-color: transparent;
  position: static;
}

.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section > .lx-body > .lx-form-section {
  grid-template-columns: 1fr;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper {
  align-items: center;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  .lx-avatar-wrapper {
  padding: 0 0.5rem 0 0;
}

.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section > .lx-body > .lx-form-section .lx-list .lx-list-item-wrapper .lx-default-icon-wrapper {
  height: 1.9rem;
  padding: 0.3rem 0.5rem 0 0;
}

.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section > .lx-body > .lx-form-section .lx-list .lx-list-item-wrapper .lx-avatar-wrapper .lx-avatar-display .lx-avatar-display-l,
.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section > .lx-body > .lx-form-section .lx-list .lx-list-item-wrapper .lx-list-item svg {
  margin: 0
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  .lx-list-item {
  padding: 0.25rem 0.5rem 0.25rem 0.3rem;
  margin: 0;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  header {
  flex-direction: row;
  justify-content: left;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  header
  .lx-secondary {
  display: flex;
  line-height: 1.2em;
  height: 0.9rem;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  header
  .lx-secondary
  .lx-flag
  .small-flag {
  border: none;
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section
  > .lx-body
  > .lx-form-section
  .lx-list
  .lx-list-item-wrapper
  header
  .lx-primary
  .lx-edoc-description-code {
  font-weight: normal;
  color: var(--color-label);
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section.edocBadgeIcon
  > .lx-head
  > .lx-group
  > .lx-icon-wrapper {
  position: static;
  font-family: var(--font-family-mono);
  font-feature-settings: var(--font-features-mono);
  font-size: var(--small-font-size);
  background: var(--color-blue);
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section.c2paBadgeIcon > .lx-head > .lx-group > .lx-icon-wrapper {
  background: var(--color-region);
  border-radius: 1rem;
  margin-right: 0.5rem;
  border: 2px solid var(--color-blue);
}

.lx-form-grid
  > .lx-main
  > .lx-expander.lx-edoc-signs-list-section.edocBadgeIcon
  > .lx-head
  > .lx-group
  > .lx-icon-wrapper
  svg {
  margin: 0;
  padding: 0;
  fill: var(--color-interactive-foreground);
  height: 1rem;
}

.lx-form-grid > .lx-main > .lx-expander.lx-edoc-signs-list-section.c2paBadgeIcon > .lx-head > .lx-group > .lx-icon-wrapper svg {
  margin: 0;
  padding: 0;
  fill: var(--color-blue);
  height: 1rem;
}

.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > .lx-row.lx-main-data-icon-row .lx-vertical {
  display: flex;
  align-items: center;
}

.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > .lx-row .lx-badge.lx-main-data-badge {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5rem;
}

.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > .lx-row .lx-badge.lx-main-data-badge.lx-pass-protected-badge {
  background: var(--color-orange);
}

.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > .lx-row .lx-badge.lx-main-data-badge.lx-created-using-ai-badge {
  background: var(--color-purple);
}

.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > .lx-row .lx-badge.lx-main-data-badge svg {
  fill: var(--color-interactive-foreground);
  height: 1rem
}

.lx-form-grid>.lx-main>.lx-form-section:first-of-type,
.lx-form-grid>.lx-tab-control>.lx-tab-body>.lx-main>.lx-form-section:first-of-type,
.lx-data-block-content>.lx-main>.lx-form-section:first-of-type,
.lx-form-grid>.lx-main>.lx-expander>.lx-body>.lx-form-section:first-of-type {
  border-top: none;
}

.lx-form-grid > .lx-main > .lx-form-section:last-of-type,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section:last-of-type,
.lx-data-block-content > .lx-main > .lx-form-section:last-of-type,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section:last-of-type {
  margin-bottom: 0;
}

.lx-form-grid > .lx-main > .lx-form-section-2,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section-2,
.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-2,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-2 {
  grid-template-columns: repeat(2, 1fr);
}

.lx-form-grid > .lx-main > .lx-form-section-3,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section-3,
.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-3,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-3 {
  grid-template-columns: repeat(3, 1fr);
}

.lx-form-grid > .lx-main > .lx-form-section-4,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section-4,
.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-4,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-4 {
  grid-template-columns: repeat(4, 1fr);
}

.lx-form-grid > .lx-main > .lx-form-section-8,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section-8,
.lx-data-block-content > .lx-main > .lx-form-section.lx-form-section-8,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-8 {
  grid-template-columns: repeat(8, 1fr);
}

.lx-form-grid > .lx-main > .lx-form-section > header,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section > header {
  grid-column: 1 / -1;
  padding-left: 2px;
}

.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main > .lx-form-section > header {
  display: none;
}

.lx-form-grid > .lx-main > .lx-form-section header .lx-description,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  > .lx-form-section
  > header
  .lx-description,
.lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section header .lx-description {
  color: var(--color-label);
  font-size: var(--label-font-size);
}

.lx-form-grid > .lx-main .lx-row,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row {
  max-width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-label);
  transition: background-color 0.5s ease;
}

.lx-form-grid > .lx-main .lx-row .lx-autocomplete .lx-value{
  color: var(--color-data);
}

.lx-form-grid > .lx-main .popper .lx-row {
  white-space: normal;
}

.lx-form.lx-form-2 .lx-row > label,
.lx-form.lx-form-3 .lx-row > label,
.lx-form-grid > .lx-main .lx-row > label,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > .lx-row-header > label,
.lx-form-grid > .lx-main .lx-row > .lx-row-header > label,
.lx-row > .lx-row-header > .lx-info-wrapper label,
.lx-mega-menu .lx-dropdown-panel label {
  color: var(--color-label);
  font-size: var(--label-font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-form-grid > .lx-main .lx-row > div.lx-vertical,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-vertical,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-horizontal {
  min-height: var(--row-size);
  white-space: normal;
}
.lx-data-grid-wrapper .lx-appendable-list .lx-row > div.lx-vertical {
  min-height: auto;
 }

.lx-form-grid > .lx-main .lx-row > div.lx-vertical > p.lx-data,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal > p.lx-data,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal > .lx-field-wrapper p.lx-data,
.lx-form-grid > .lx-main .lx-row > div.lx-vertical > .lx-field-wrapper p.lx-data,
.lx-form-grid > .lx-main .lx-row > div.lx-vertical > .lx-field-wrapper > span > p.lx-data,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal > .lx-field-wrapper > span > p.lx-data,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-vertical > p.lx-data,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-horizontal > p.lx-data,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-row
  > div.lx-horizontal
  > .lx-field-wrapper
  p.lx-data,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-row
  > div.lx-vertical
  > .lx-field-wrapper
  p.lx-data {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: var(--data-weight);
  color: var(--color-data);
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.25em;
}

.lx-form-grid > .lx-main .lx-row > div.lx-vertical > .lx-field-wrapper ul.lx-column-read-only-data,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal > .lx-field-wrapper ul.lx-column-read-only-data,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-row
  > div.lx-vertical
  > .lx-field-wrapper
  ul.lx-column-read-only-data,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-row
  > div.lx-horizontal
  > .lx-field-wrapper
  ul.lx-column-read-only-data {
  padding: 0.25rem 0;
  font-weight: var(--data-weight);
  color: var(--color-data);
  line-height: 1.25em;
}

.lx-form-grid > .lx-main .lx-row ul.lx-tag-set,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row ul.lx-tag-set,
.lx-form .lx-row ul.lx-tag-set {
  margin-top: 0;
  margin-bottom: 0;
}

.lx-form-grid > .lx-main .lx-row ul.lx-tag-set .lx-tag,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row ul.lx-tag-set .lx-tag {
  color: var(--color-data);
  height: var(--input-height);
  line-height: 1.1em;
}

.lx-form-grid > .lx-main .lx-row > div.lx-vertical > code,
.lx-form-grid > .lx-main .lx-row > div.lx-horizontal > code,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-vertical > code,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-row > div.lx-horizontal > code {
  color: var(--color-data);
  font-weight: var(--data-weight);
}

.lx-form-grid .lx-main .lx-row div.lx-vertical .lx-value-picker-default-item-label {
  color: var(--color-data);
}

.lx-form-grid > aside.lx-index {
  width: var(--aside-size);
  position: absolute;
  height: 100%;
  right: calc(0px - var(--aside-size));
  padding-top: var(--row-size);
}

.lx-form-grid > aside.lx-index > ul {
  position: sticky;
  top: calc(var(--nav-row-size) + var(--row-size));
  bottom: 0;
  padding: 0;
  padding-left: var(--gap);
  list-style: none;
}

.lx-form-grid > aside.lx-index > ul li {
  height: var(--row-size);
  background-color: transparent;
  border-left: 2px solid var(--color-chrome);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline-color: var(--color-focus-background);
  border: var(--region-border);
}

.lx-form-grid > aside.lx-index > ul li:hover {
  background-color: var(--color-grid-hover-background);
}

.lx-form-grid > aside.lx-index > ul li.lx-selected {
  border-color: var(--color-interactive-background);
  background-color: var(--color-region);
}

.lx-form-grid > .lx-main > .lx-form-section > .lx-row > .lx-vertical > .lx-button,
.lx-form-grid > .lx-main > .lx-form-section > .lx-row > .lx-horizontal > .lx-button {
  width: 100%;
}

.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-file-upload-wrapper > .lx-draggable-wrapper > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-file-upload-wrapper > .lx-draggable-wrapper > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-list-wrapper > .lx-load-more-button > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-list-wrapper > .lx-load-more-button > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-camera > .lx-camera-buttons > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-camera > .lx-camera-buttons > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-master-detail > .lx-master > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-master-detail > .lx-master > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-camera > .lx-camera-error .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-camera > .lx-camera-error .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-appendable-list > div > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-appendable-list > div > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-vertical > .lx-button,
.lx-form-grid .lx-main .lx-row > div.lx-horizontal > .lx-button {
  max-height: var(--input-height);
}

.lx-modal > .lx-main .lx-form-section,
.lx-modal > .lx-main .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section {
  padding: 1rem;
}

.lx-modal > .lx-main .lx-form-grid > .lx-main .lx-row,
.lx-modal > .lx-main .lx-form-grid > .lx-main .lx-row .lx-vertical {
  overflow-x: hidden;
}

.lx-form-grid > .lx-main .lx-row .lx-vertical .lx-data {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.lx-modal > .lx-main .lx-appendable-list .lx-form-section {
  padding-left: 2rem;
}

.lx .lx-form-grid .lx-row {
  width: auto;
}

.lx-tab-control header.lx-toolbar .lx-tab-container,
.lx-tab-control header.lx-toolbar .lx-group,
.lx-tab-control header.lx-toolbar {
  display: flex;
}

.lx-form-grid > .lx-tab-control .lx-tab-container {
  background-color: var(--color-region);
}

.lx-form-grid > .lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar) {
  position: sticky;
  top: calc(var(--nav-row-size) + var(--row-size));
  z-index: 2;
  border-bottom: 1px solid var(--color-chrome);
}

.lx-form-grid > .lx-form-with-tabs {
  border-bottom: 0;
}

.lx-form-grid > .lx-tab-control > .lx-tab-body {
  padding: 0;
}

.lx-form-grid > footer .lx-context-container.responsive-overflow {
  display: none;
}

.lx-form-grid > header > .lx-group.post-header-group {
  justify-content: end;
}

.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper,
.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper .lx-data-block,
.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper .lx-data-block-header,
.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper.lx-data-block-disabled .lx-data-block-header,
.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper .lx-data-block-content,
.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper .additional-buttons,
.lx-form-grid > .lx-tab-control > .lx-tab-body > .lx-main .lx-form-section .lx-data-block-wrapper,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-form-section
  .lx-data-block-wrapper.lx-data-block-disabled
  .lx-data-block,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-form-section
  .lx-data-block-wrapper.lx-data-block-disabled
  .lx-data-block-header,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-form-section
  .lx-data-block-wrapper.lx-data-block-disabled
  .additional-buttons {
  background-color: var(--color-region-2);
  color: var(--color-data);
  margin-bottom: 0;
}

.lx-form-grid .lx-main .lx-form-section .lx-data-block-wrapper.lx-data-block-expander:not(.lx-data-block-disabled) .lx-data-block-header:hover,
.lx-form-grid
  > .lx-tab-control
  > .lx-tab-body
  > .lx-main
  .lx-form-section
  .lx-data-block-wrapper.lx-data-block-expander:not(.lx-data-block-disabled)
  .lx-data-block-header:hover{
  background-color: var(--color-region-hover);
}

.lx-form-grid .lx-row > label span.lx-required,
.lx-form-grid .lx-row > label span.lx-optional {
  font-size: var(--label-font-size);
  padding-left: 1ch;
}

.lx-form-grid .lx-row > .lx-row-header > label span.lx-required-asterisk,
.lx-form-grid .lx-row > .lx-row-header > .lx-info-wrapper label span.lx-required-asterisk {
  color: var(--color-red);
  font-size: var(--label-font-size);
  font-weight: bold;
}

.lx-form-grid > .lx-main.lx-compact-sections > .lx-form-section {
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: calc(var(--gap-form) / 2) var(--gap-form);
}

.lx-row-column-2 {
  grid-column: span 2 / auto;
}

.lx-row-column-3 {
  grid-column: span 3 / auto;
}

.lx-row-column-4 {
  grid-column: span 4 / auto;
}

.lx-row-column-6 {
  grid-column: span 6 / auto;
}

.lx-row-column-8 {
  grid-column: span 8 / auto;
}

.lx-row-row-2 {
  grid-row: span 2 / auto;
}

.lx-row-row-3 {
  grid-row: span 3 / auto;
}

.lx-row-row-4 {
  grid-row: span 4 / auto;
}

.lx-row-row-6 {
  grid-row: span 6 / auto;
}

.lx-row-row-8 {
  grid-row: span 8 / auto;
}

.lx-form-grid > footer .responsive-overflow {
  display: none;
}

.responsive-default-index-button {
  display: none;
}

.lx-index-small {
  display: none;
}

.index-hide-collapsed {
  display: none;
}

.additional-buttons-label {
  display: none;
}

.lx-form-grid > header .lx-button.additional-button-icon-menu {
  display: none;
}

.lx-row-header > .lx-info-wrapper > .inline-block > .popper > .lx-info-wrapper-panel {
  white-space: normal;
}

.lx-row.lx-highlight {
  background-color: var(--color-orange);
}

.lx-form-grid > .lx-main > .lx-expander {
  border-top: 1px solid var(--color-chrome);
}

.lx-form-grid.lx-form-grid-stripped {
  background-color: transparent;
}

.lx-appendable-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.appendable-list-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.lx-appendable-list-item {
  background-color: var(--color-region);
}

.lx-appendable-list-item:has(.appendable-list-remove-button-wrapper) {
  display: flex;
  justify-content: space-between;
}

.appendable-list-remove-button-wrapper {
  transform: translateZ(0);
}

.lx-form-grid .lx-appendable-list-item {
  background-color: var(--color-region-2);
}

.lx-appendable-list
  .lx-form-grid
  > .lx-main
  > .lx-form-section:not(.lx-form-section-2):not(.lx-form-section-3):not(.lx-form-section-4):not(
    .lx-form-section-8
  ) {
  grid-template-columns: minmax(auto, var(--form-column-size));
}

.lx-appendable-list-item > .lx-form-grid .lx-form-section {
  padding-right: var(--row-size);
}

.lx-appendable-list-compact .lx-appendable-list-item > .lx-form-grid .lx-form-section,
.lx-appendable-list-compact
  .lx-appendable-list-item
  .lx-data-block-content
  .lx-form-grid
  .lx-form-section {
  padding: 0.5rem var(--row-size) 0.5rem 0.5rem;
}

.lx-appendable-list-item > .lx-data-block-wrapper > .lx-data-block-content > .lx-main {
  padding: 0.5rem;
}

.lx-form-grid .lx-appendable-list-item .lx-data-block > .additional-buttons {
  background-color: var(--color-region-2);
}

.lx-appendable-list-item > .lx-data-block-wrapper {
  margin-bottom: 0;
}

.lx-region .lx-appendable-list > .lx-appendable-list-item,
.lx-modal .lx-appendable-list > .lx-appendable-list-item {
  background-color: var(--color-background);
}

.lx-appendable-list-simple > .lx-appendable-list-item .lx-row {
  padding-top: 0.5rem;
}

.lx-appendable-list > .lx-appendable-list-item .appendable-list-remove:hover > .lx-button > svg {
  fill: var(--color-interactive-hover-foreground);
}

.lx-appendable-list > .lx-appendable-list-item .appendable-list-remove > .lx-button > svg {
  fill: var(--color-data);
}

.lx-person-display-wrapper .lx-info-wrapper {
  display: flex;
}

.lx-person-display {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 1ch;
}

.lx-person-display.lx-person-display-s {
  gap: 0 0.75ch;
}

.lx .lx-person-display.lx-icon-only {
  gap: 0;
}

.lx-person-display p.lx-data {
  font-weight: var(--font-weight-data);
}

.lx-person-display p.lx-description {
  font-size: var(--small-font-size);
  color: var(--color-label);
  margin-top: -0.2em;
}

.lx-person-display > svg {
  height: 2rem;
  width: 2rem;
  fill: var(--color-label);
}

.lx-person-display.lx-person-display-s > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.lx-avatar-display,
.lx-user-icon-display,
.lx-person-icon-display {
  height: 2rem;
  width: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: 2px var(--color-region) solid;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.4rem;
  background-color: var(--color-region);
}

.lx-person-icon-display {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.lx-avatar-display > svg,
.lx-user-icon-display > svg,
.lx-person-icon-display > svg {
  height: 100%;
  width: 100%;
}

.lx-user-icon-displaym
.lx-person-icon-display {
  border: 1px var(--color-region) solid;
}

.lx-region .lx-avatar-display,
.lx-region .lx-user-icon-display,
.lx-region .lx-person-icon-display,
.lx-form-grid .lx-row .lx-avatar-display,
.lx-form-grid .lx-row .lx-user-icon-display,
.lx-form-grid .lx-row .lx-person-icon-display {
  border-color: var(--color-region-2);
}

.lx-form-grid .lx-row .lx-info-wrapper-panel > .lx-row > .lx-vertical > .lx-data {
  color: var(--color-tooltip-foreground);
  min-height: auto;
}

.lx-form-grid .lx-row .lx-info-wrapper-panel > .lx-row > .lx-vertical {
  min-height: auto;
}

.lx-avatar-display-s,
.lx-user-icon-display-s,
.lx-person-icon-display-s {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.3rem;
}

.lx-user-icon-display,
.lx-user-icon-display-s,
.lx-user-icon-display-l,
.lx-person-icon-display,
.lx-person-icon-display-s,
.lx-person-icon-display-l {
  padding: 0;
}

.lx-person-display.lx-person-display-l {
  height: var(--row-size);
}

.lx-avatar-display-l,
.lx-user-icon-display-l,
.lx-person-icon-display-l {
  height: 2.5rem;
  width: 2.5rem;
  grid-row: span 2;
  margin-top: 0.2rem;
}

.lx-avatar-display-xl {
  height: 5rem;
  width: 5rem;
}

.lx-avatar-display-xl > svg {
  height: 66%;
}

.lx-avatar-display-l {
  padding: 0.5rem;
}

.lx-person-display.lx-person-display-l p.lx-data {
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lx-person-display.lx-person-display-l p.lx-description {
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

p .lx-person-display-wrapper {
  display: inline-grid;
  margin-left: 0.75ch;
  margin-right: 0.75ch;
}

.lx-person-display-multiple {
  display: flex;
}

.lx-person-display-multiple .lx-avatar-display,
.lx-person-display-multiple .lx-user-icon-display,
.lx-person-display-multiple .lx-person-icon-display,
.lx-person-display-multiple .lx-avatar-display + .overflow,
.lx-person-display-multiple .lx-user-icon-display + .overflow,
.lx-person-display-multiple .lx-person-icon-display + .overflow {
  margin-left: -0.75rem;
}

.lx-person-display-multiple .lx-avatar-display-s,
.lx-person-display-multiple .lx-user-icon-display-s,
.lx-person-display-multiple .lx-person-icon-display-s,
.lx-person-display-multiple .lx-avatar-display-s + .overflow,
.lx-person-display-multiple .lx-user-icon-display-s + .overflow,
.lx-person-display-multiple .lx-person-icon-display-s + .overflow {
  margin-left: -0.5rem;
}

.lx-person-display-multiple .lx-avatar-display-l,
.lx-person-display-multiple .lx-user-icon-display-l,
.lx-person-display-multiple .lx-person-icon-display-l,
.lx-person-display-multiple .lx-avatar-display-l + .overflow,
.lx-person-display-multiple .lx-user-icon-display-l + .overflow,
.lx-person-display-multiple .lx-person-icon-display-l + .overflow {
  margin-left: -1rem;
}

.lx-person-display-multiple .lx-avatar-display:first-of-type,
.lx-person-display-multiple .lx-user-icon-display:first-of-type,
.lx-person-display-multiple .lx-person-icon-display:first-of-type {
  margin-left: 0;
}

.lx-person-display-multiple .lx-avatar-display + .overflow,
.lx-person-display-multiple .lx-user-icon-display + .overflow,
.lx-person-display-multiple .lx-person-icon-display + .overflow {
  background-color: var(--color-region);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: var(--small-font-size);
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-data);
  color: var(--color-data);
  font-family: var(--font-family-mono);
  overflow: hidden;
}

.lx-person-display-multiple .lx-avatar-display-s + .overflow,
.lx-person-display-multiple .lx-user-icon-display-s + .overflow,
.lx-person-display-multiple .lx-person-icon-display-s + .overflow {
  height: 1.5rem;
  width: 1.5rem;
}

.lx-person-display-multiple .lx-avatar-display-l + .overflow,
.lx-person-display-multiple .lx-user-icon-display-l + .overflow,
.lx-person-display-multiple .lx-person-icon-display-l + .overflow {
  height: 2.5rem;
  width: 2.5rem;
  font-size: var(--font-size);
}

.lx-person-display-multiple .lx-avatar-display-s + .overflow > p .plus,
.lx-person-display-multiple .lx-user-icon-display-s + .overflow > p .plus,
.lx-person-display-multiple .lx-person-icon-display-s + .overflow > p .plus {
  display: none;
}

.lx-filter > .lx-body > .lx-form-region > .lx-form-grid > .lx-compact-sections > .lx-form-section {
  padding-left: 2px;
  padding-right: 2px;
}

.lx-form-grid
  .lx-form-section
  .lx-row
  .lx-data-block-wrapper.form-builder-data-block
  .lx-data-block-content
  > .lx-main {
  padding: 0;
}

.lx-form-grid > .lx-index > ul > li > .index-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lx-form-grid > .lx-index > ul > li > .index-text > .inner-text {
  display: flex;
}

.lx-form-grid > .lx-index > ul > li > .index-text.lx-invalid,
.lx-form-grid > .lx-index > ul > li > .index-text.lx-invalid > p {
  color: var(--color-bad);
}

.lx-form-grid > .lx-index > ul > li > .index-text > svg,
.lx-form-grid > .lx-index > ul > li > .index-text svg {
  fill: var(--color-bad);
  width: 1.25rem;
  height: 1.25rem;
}

.lx-form-grid .additional-index-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: var(--row-size);
  padding: 0 1rem;
  color: var(--color-interactive-background);
}

.lx-form-grid .additional-index-button.lx-invalid {
  color: var(--color-bad);
}

.lx-form-grid .additional-index-button:hover {
  background-color: var(--color-interactive-hover-background);
  color: var(--color-interactive-hover-foreground);
}

.lx-form-grid .additional-index-button > svg {
  fill: var(--color-bad);
  width: 1.25rem;
  height: 1.25rem;
}

.lx-form-grid .additional-index-button > p {
  color: inherit;
}

.lx-index.lx-index-small > ul > li > .index-text.lx-invalid > svg {
  display: none;
}

.lx-index.lx-index-small > ul:hover > li > .index-text.lx-invalid > svg {
  display: block;
}

.lx-form-grid > header.lx-form-with-aside .lx-multiple-header-button {
  display: none;
}

.lx-form-grid:not(.lx-theme-contrast .lx-form-grid)
  > header.lx-sticky:not(.lx-form-with-tabs)::after {
  background: linear-gradient(0deg, transparent 0%, var(--color-background) 100%);
  content: '';
  height: 3rem;
  position: absolute;
  top: var(--row-size);
  top: var(--form-header-size);
  left: 0;
  right: 0;
  opacity: 0;
  opacity: var(--form-top-shadow-opacity);
  pointer-events: none;
}

.lx-form-grid:not(.lx-theme-contrast .lx-form-grid) > footer.lx-sticky::before {
  background: linear-gradient(180deg, transparent 0%, var(--color-background) 100%);
  content: '';
  height: 3rem;
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  opacity: 0;
  opacity: var(--form-bottom-shadow-opacity);
  pointer-events: none;
}

.lx .lx-form-grid .lx-data-grid.lx-scrollable table {
  width: 100%;
}

.lx-form-grid .lx-row > .lx-row-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lx-form-grid > .lx-main .lx-row {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding: 0 2px;
}

.lx-form-grid .lx-row > .lx-row-header > .lx-info-wrapper.lx-info-slot-wrapper label svg {
  width: 1rem;
  margin-bottom: -0.2rem;
  margin-left: 0.2rem;
  fill: var(--color-label);
}

.lx-row > .lx-row-header > div > .lx-button,
.lx-row-header > div > .lx-context-container .lx-dropdown-toggler .lx-button {
  height: 1.5rem;
  justify-content: flex-start;
}

.lx-row > .lx-row-header > div > .lx-button > svg,
.lx-row-header > div > .lx-context-container .lx-dropdown-toggler .lx-button > svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--color-data);
}

.lx-row-header > div > .lx-context-container .lx-dropdown-toggler .lx-button:hover > svg {
  fill: var(--color-interactive-hover-foreground);
}

.lx .lx-filter .lx-form.lx-form-region:has(>.lx-form-grid) {
  padding: 0.5rem 1.5rem 2rem 1.5rem;
  gap: 0.5rem;
}

.lx .lx-filter .lx-body .lx-form.lx-form-region:has( > .lx-form-grid) .lx-button-set{
  margin-top: 0;
}

.lx-filter-wrapper .shortlist-wrapper .lx-form-grid{
  background-color: transparent;
}

.lx-filter-wrapper .shortlist-wrapper .lx-form-grid>.lx-compact-sections>.lx-form-section{
  padding: 0 0.5rem 0.5rem 0.5rem;
  gap: 0.5rem 0.5rem;
}

.lx-filter-wrapper .shortlist-wrapper .lx-form-grid>.lx-compact-sections>.lx-form-section .lx-row>.lx-row-header{
  display: none;
}

.lx-filter-wrapper:has(.has-shortlist) .lx-filter .lx-head,
.lx-filter-wrapper .shortlist-wrapper{
  background-color: var(--color-region);
}

.lx-expander:not([data-disabled]).lx-filter .lx-head:hover {
  background-color: var(--color-region-hover);
}

.lx-form-grid > .lx-main > .lx-form-section > header{
  display: flex;
  justify-content: space-between;
}

.lx-form-grid > .lx-main > .lx-form-section > header .lx-button:not([disabled]) svg{
  fill: var(--color-data);
}

.lx-form-grid > .lx-main > .lx-form-section > header .lx-button:not([disabled]):hover svg{
  fill: var(--color-interactive-hover-foreground); 
}

.lx-form-grid >.lx-main .lx-row.lx-row-horizontal{
  display: grid;
  grid-template-columns: var(--aside-size) calc(100% - var(--aside-size) - 0.25rem);
  gap: 0.25rem;
}

.lx-form-grid .lx-row.lx-row-horizontal > .lx-row-header{ 
  align-items: flex-start;
}

.lx-form-grid >.lx-main .lx-row.lx-row-horizontal .lx-row-header .lx-info-wrapper-content  {
  max-width: var(--aside-size) ;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-form-grid >.lx-main .lx-row.lx-row-horizontal .lx-row-header:has(.lx-toggle) .lx-info-wrapper-content {
  max-width: calc(var(--aside-size) - 2.5rem);
}

.lx-form-grid >.lx-main .lx-row.lx-row-horizontal .lx-row-header:has(.lx-button) .lx-info-wrapper-content   {
  max-width: calc(var(--aside-size) - 3rem);
}

@media (max-width: 1900px) {
  .lx-index {
    display: none;
  }

  .lx-index-small {
    display: block;
  }

  .lx-form-grid > aside.lx-index.lx-index-small {
    width: var(--row-size);
    right: calc(0px - var(--row-size));
    transition: width 0.1s ease-out;
  }

  .lx-index-small > ul {
    width: var(--row-size);
    height: var(--row-size);
  }

  .lx-index-small > ul > li {
    width: var(--row-size);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .lx-index-small > ul:hover > li {
    width: var(--aside-size);
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul:hover {
    width: var(--aside-size);
    right: calc(0px - var(--aside-size));
    z-index: 500;
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul:hover > li {
    background-color: var(--color-background);
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul:hover > li.lx-selected {
    background-color: var(--color-region);
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul > li:hover {
    background-color: var(--color-region-hover);
  }

  .lx-form-grid > aside.lx-index.lx-index-small:has(ul:hover) {
    width: var(--aside-size);
    right: calc(0px - var(--row-size));
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul:hover .index-hide-collapsed {
    display: block;
  }

  .lx-form-grid > aside.lx-index.lx-index-small > ul:hover .index-hide-expanded {
    display: none;
  }
}

@media (max-width: 1400px) {
  .lx-form-grid > .lx-main > .lx-form-section-8,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-8 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .lx-form-grid > .lx-main > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-form-section-8,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-8 {
    grid-template-columns: repeat(3, 1fr);
  }

  .lx-row-column-4,
  .lx-row-column-6,
  .lx-row-column-8 {
    grid-column: span 3 / auto;
  }

  .lx-form-grid > .lx-main > .lx-form-section-2:has(.lx-row-horizontal),
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-2:has(.lx-row-horizontal) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1000px) {
  .lx-form-grid > footer .lx-context-container.responsive-overflow {
    display: block;
  }

  .lx-form-grid > footer .responsive-overflow {
    display: flex;
  }

  .lx-form-grid > footer .responsive-button {
    display: none;
  }

  .lx .lx-form-grid > footer > .only-responsive-button {
    display: flex;
  }

  .lx-form-grid > .lx-main > .lx-form-section-3,
  .lx-form-grid > .lx-main > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-form-section-8,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-3,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-8 {
    grid-template-columns: repeat(2, 1fr);
  }

  .lx-row-column-3,
  .lx-row-column-4,
  .lx-row-column-6,
  .lx-row-column-8 {
    grid-column: span 2 / auto;
  }
}

.lx-form-grid > header .lx-toolbar-chip .lx-dropdown-default {
  margin: 2px 2px 2px 0;
}

@media (min-width: 800px) {
  .lx-form-grid > header .lx-toolbar-chip .lx-field-wrapper {
    min-width: 10rem;
  }
}

@media (max-width: 800px) {
  .lx-form-grid > header > .pre-header-group,
  .lx-form-grid > header > .post-header-group {
    display: none;
  }

  .responsive-overflow-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: var(--gap);
    padding-left: var(--gap);
  }

  .responsive-overflow-header > .overflow-icon-container {
    width: var(--row-size);
    height: var(--row-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-overflow-header > .overflow-icon-container > .lx-info-wrapper {
    height: var(--icon-size);
  }

  .responsive-overflow-header svg {
    width: var(--icon-size);
    fill: var(--color-label);
  }

  .lx-form-grid > header > .lx-group.lx-primary .lx-toolbar-chip {
    justify-content: left;
    margin-right: 0;
    padding-right: 0;
  }

  .lx-form-grid > header {
    grid-template-columns: 1fr auto auto;
  }

  .lx-form-grid > header .lx-toolbar-chip .lx-dropdown-default .lx-dropdown-default-data {
    padding-left: 0;
  }

  .responsive-default-index-button {
    display: block;
  }

  .lx-form-grid > aside {
    display: none;
  }

  .additional-buttons-label {
    display: block;
  }

  .lx-form-grid > header .lx-button.additional-button-icon {
    display: none;
  }

  .lx-form-grid > header .lx-button.additional-button-icon-menu {
    display: flex;
  }

  .lx-form-grid > header .lx-dropdown-panel .additional-buttons-label {
    color: var(--color-label);
    margin-left: 1rem;
    font-size: 0.8em;
  }

  .lx-form-grid > header.lx-form-with-aside .lx-single-header-button {
    display: none;
  }

  .lx-form-grid > header.lx-form-with-aside .lx-multiple-header-button {
    display: flex;
  }

  .lx-filter-wrapper .shortlist-wrapper{
    display: none;
  }
}

@media (max-width: 700px) {
  .lx-form-grid > .lx-main > .lx-form-section-1,
  .lx-form-grid > .lx-main > .lx-form-section-2,
  .lx-form-grid > .lx-main > .lx-form-section-3,
  .lx-form-grid > .lx-main > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-form-section-8,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-2,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-3,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-4,
  .lx-form-grid > .lx-main > .lx-expander > .lx-body > .lx-form-section-8 {
    grid-template-columns: repeat(1, 1fr);
  }

  .lx-row-column-1,
  .lx-row-column-2,
  .lx-row-column-3,
  .lx-row-column-4,
  .lx-row-column-6,
  .lx-row-column-8 {
    grid-column: span 1 / auto;
  }

  .lx-form-section .lx-placeholder {
    display: none;
  }
}

@media (max-width: 550px) {
  .lx-form-grid > footer {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .lx-form-grid > footer > .lx-group {
    flex-direction: column;
  }

  .lx-form-grid > footer > .lx-group > .lx-button,
  .lx-form-grid > footer > .lx-group .lx-dropdown-toggler > .lx-button {
    min-width: 100%;
  }

  .lx-form-grid > footer .lx-context-container.responsive-overflow {
    display: flex;
    align-items: stretch;
  }
}

@media (max-width: 700px) {
  .lx-tab-control header.lx-toolbar.tab-control-default .lx-tab-container,
  .lx-tab-control header.lx-toolbar.tab-control-default .lx-group{
    display: none;
  }
  
  .lx-tab-control header.lx-toolbar .lx-tab-container .lx-tab .lx-primary{
    display: none;
  }

  .lx-tab-control header.lx-toolbar .lx-tab-container .lx-tab svg{
    margin-right: 0.5rem;
  }
}
