.lx-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--list-gap);
  padding-inline: 0;
  margin-block: 0;
}

.lx-list-item-wrapper {
  display: grid;
  grid-template-columns: var(--list-grid-template-columns);
  grid-template-areas: var(--list-grid-areas);
  background-color: var(--color-list-background);
  border: var(--list-item-border);
  border-radius: var(--list-item-border-radius);
  overflow: hidden;
}

.lx-list-item-container .lx-list-item-wrapper {
  grid-template-columns: subgrid;
  grid-column: var(--list-outer-column-span);
  background-color: transparent !important;
  border: none;
  overflow: visible;
}

.lx-list-wrapper .lx-list-item-container {
  display: grid;
  grid-template-columns: var(--list-grid-template-columns);
  grid-template-areas: var(--list-grid-areas);
  border: var(--list-item-border);
  border-radius: var(--list-item-border-radius);
  min-height: var(--list-item-min-height);
  overflow: hidden;
  background-color: var(--color-list-background);
}

.lx-list-item-interactive:focus,
.lx-list-item-interactive:focus-visible {
  outline: 2px solid var(--color-focus-background);
  outline-offset: -2px;
}

.lx-list-item-interactive.lx-list-item-disabled:focus {
  outline: none;
}

.lx-list-2 {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; 
}

.lx-list-2 li {
  display: flex;
  width: 45%;
  max-width: calc(50% - 0.25rem);
  flex-grow: 1;
  flex-shrink: 0;
}
  
.lx-list-3 {
  justify-content: flex-start; 
  flex-direction: row;
  flex-wrap: wrap;
}

.lx-list-3 li {
  width: 33%;
  max-width: calc(33% - 0.1rem);
  flex: 1 0 33.3333%;
}

.lx-list-item-wrapper > .lx-list-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: var(--list-inner-column-span);
  border-radius: var(--list-header-border-radius);
  overflow: hidden;
}

.lx a.lx-list-item {
  text-decoration: none;
}

.lx-list-item-disabled {
  cursor: not-allowed;
}

.lx-list-item.lx-list-item-interactive:not(.lx-list-item-disabled) {
  cursor: pointer;
}

.lx-list-item-wrapper:has(.lx-list-item.lx-list-item-disabled),
.lx-list-item-container:has(.lx-list-item.lx-list-item-disabled) {
  cursor: not-allowed;
}
  
.lx-list-item-actions {
  grid-area: actions;
}

.lx .lx-list-item-actions .lx-button {
  min-width: var(--list-button-width);
  height: var(--list-button-height);
  border-radius: var(--list-button-border-radius);
}

.lx-empty-state {
  height: calc(var(--row-size) * 2);
  border: 2px solid var(--color-chrome);
  padding: var(--row-size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-label);
  margin-top: 1rem;
}

.lx-list > li > .selecting-block > .lx-checkbox-placeholder {
  padding: 0.5rem 1.5rem 0 0.5rem;
}

.lx .lx-layout .first-row .lx-text-input.lx-search-input {
  background-color: transparent;
  height: 100%;
}

.lx-transition-layer {
  width: 100%;
}

.lx-list-item-wrapper:has(.lx-list-item:not(.lx-list-item-disabled)) .lx-list-item-actions .lx-dropdown-toggler .lx-button:hover{
  background-color: var(--color-list-interactive-background);
}

/*** Selected + hover container styles ***/

.lx a.lx-list-item:hover {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.lx .lx-draggable-group-list-item:has(.lx-list-item.lx-selected) .lx-handle,
.lx-master-detail-list .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx-list:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.tree-item:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.tree-list:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx .lx-list-item-container:has(.lx-list-item.lx-selected) {
  background-color: var(--color-list-selected-background);
  border-color: var(--color-list-selected-border);
}

.lx .lx-region .lx-draggable-group-list-item:has(.lx-list-item.lx-selected) .lx-handle,
.lx .lx-region .lx-list-item-container:has(.lx-list-item.lx-selected),
.lx .lx-region .lx-list-item-wrapper:has(.lx-list-item.lx-selected) {
  background-color: var(--color-list-region-selected-background);
}

.lx .list-draggable-area:not(:has(.ghost)) .lx-draggable-group-list-item:has(.lx-list-item:not(.lx-list-item-disabled)) .lx-handle:hover,
.lx .lx-list-item-interactive:not(.lx-list-item-disabled):hover {
  background-color: var(--color-list-hover-background);
  border-color: var(--color-list-hover-border);
}

.lx .list-draggable-area:not(:has(.ghost)) .lx-draggable-group-list-item:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled)) .lx-handle:hover,
.lx-list-item-interactive.lx-selected:not(.lx-list-item-disabled):hover {
  background-color: var(--color-list-hover-background);
}

.lx .list-draggable-area:not(:has(.ghost)) .lx-draggable-group-list-item:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled)) .lx-handle:hover,
.lx:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item-interactive.lx-selected:not(.lx-list-item-disabled):hover),
.lx .lx-list-item-container:has(.lx-list-item-interactive.lx-selected:not(.lx-list-item-disabled):hover) {
  border-color: var(--color-list-selected-border-hover);
}

/*** Form + region + modal styles ***/

.lx .lx-layout .lx-form-grid .lx-row > .lx-vertical > div > .lx-list-item-wrapper > .lx-list-item,
.lx .lx-layout .lx-curtain .lx-modal .lx-list-item-wrapper,
.lx .lx-layout .lx-form-region .lx-list-item-wrapper,
.lx .lx-layout .lx-form-grid .lx-list-item-wrapper,
.lx .lx-layout .lx-region .lx-list-item-wrapper,
.lx .lx-layout .lx-curtain .lx-modal .lx-list-item-container,
.lx .lx-layout .lx-form-region .lx-list-item-container,
.lx .lx-layout .lx-form-grid .lx-list-item-container,
.lx .lx-layout .lx-region .lx-list-item-container,
.lx .lx-layout .lx-curtain .lx-modal .draggable-list-item-wrapper .lx-handle,
.lx .lx-layout .lx-form-region .draggable-list-item-wrapper .lx-handle,
.lx .lx-layout .lx-form-grid .draggable-list-item-wrapper .lx-handle,
.lx .lx-layout .lx-region .draggable-list-item-wrapper .lx-handle {
  background-color: var(--color-list-region-background);
}

.lx .lx-modal .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx .lx-modal .lx-list-item-container:has(.lx-list-item.lx-selected),
.lx .lx-curtain .lx-modal .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx .lx-curtain .lx-modal .lx-list-item-container:has(.lx-list-item.lx-selected),
.lx .lx-modal .draggable-list-item-wrapper:has(.lx-list-item.lx-selected) .lx-handle,
.lx .lx-curtain .lx-modal .draggable-list-item-wrapper:has(.lx-list-item.lx-selected) .lx-handle{ 
  background-color: var(--color-list-region-selected-background);
}

/*** Checkbox + radio button styles ***/

.selecting-block > .lx-checkbox-wrapper {
  margin: 0.1rem 0 0 0;
}
.selecting-block > .lx-radio-button-wrapper {
  margin: 0 -0.1rem 0 -0.1rem;
}

.lx-list-wrapper .selecting-block {
  padding: var(--list-selecting-block-padding);
  background-color: transparent;
  grid-area: selecting;
}

.selecting-block > .lx-checkbox-wrapper .lx-checkbox-appearance,
.selecting-block > .lx-radio-button-wrapper .lx-radio-button-appearance {
  margin: 0;
}

.selecting-block > .lx-checkbox-wrapper .lx-checkbox-label,
.selecting-block > .lx-radio-button-wrapper .lx-radio-button-label {
  display: none;
}

/* Disabled item */

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
    border-color: var(--color-list-foreground-disabled);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:disabled
  + .lx-checkbox-label-wrapper
  svg {
    fill: var(--color-list-foreground-disabled);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:checked):disabled
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
    border-color: var(--color-list-foreground-disabled);
}

/* Disabled selected item */

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
    background-color: var(--color-list-selected-foreground-disabled);
    border-color: var(--color-list-selected-foreground-disabled);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg {
    fill: var(--color-list-checkmark);
}

/* No hover, unchecked */
.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):not(:checked)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--color-list-unchecked-background);
  border-color: var(--color-list-unchecked-border);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):not(:checked)
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance
  .lx-radio-thumb {
  background-color: var(--color-list-unchecked-background);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):not(:checked)
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--color-list-unchecked-border);
}

/* No hover, checked */
.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--color-list-checked-background);
  border-color: var(--color-list-checked-border);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--color-list-checked-border);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance
  .lx-radio-thumb{
  background-color: var(--color-list-checked-background);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg{
  fill: var(--color-list-checkmark);
}

/* Direct hover on checkbox */
.lx-list-wrapper .lx-checkbox-wrapper:hover
  .lx-checkbox:not(:disabled)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--color-list-interactive-background);
  border-color: var(--color-list-interactive-background);
}

.lx-list-wrapper .lx-radio-button-wrapper:hover
  .lx-radio-button:not(:disabled)
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--color-list-interactive-background);
}

.lx-list-wrapper .lx-checkbox-wrapper:hover
  .lx-checkbox:not(:disabled)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg{
  fill: var(--color-list-interactive-foreground);
}

/*** Icon styles ***/

.lx .lx-list-item .lx-invalidation-icon,
.lx .lx-list-item .lx-list-icon {
  grid-area: icon;
}

.lx .lx-list-item .lx-invalidation-icon,
.lx .lx-list-item .lx-list-icon,
.lx-list-item svg {
  height: var(--list-icon-height);
  width: var(--list-icon-width);
  flex-shrink: 0;
}

.lx .lx-list-item .lx-invalidation-icon-wrapper,
.lx .lx-list-item .lx-list-icon-wrapper {
  padding: var(--list-icon-padding);
  height: 100%;
}

.lx-list-item-disabled svg {
  fill: var(--color-list-foreground-disabled);
}

.lx .lx-list-item-actions .lx-button-ghost svg {
  fill: var(--color-list-icon);
}

.lx .lx-list-item:not(.lx-list-item-disabled) ~ .lx-list-item-actions .lx-button-ghost:active svg {
  fill: var(--color-interactive-hover-foreground);
}

.lx .lx-list-item.lx-list-item-disabled ~ .lx-list-item-actions .lx-button-ghost svg {
  fill: var(--color-list-foreground-disabled);
}

.lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-icon,
.lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-item-actions 
  .lx-dropdown-toggler
  .lx-button:not(:hover):not(:active)
  svg,
.lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-item-actions
  > .lx-button:not(:hover):not(:active)
  svg {
  fill: var(--color-list-foreground-hover);
}

.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) .lx-list-icon,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  .lx-dropdown-toggler
  .lx-button
  svg,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  > .lx-button
  svg {
  fill: var(--color-list-icon-selected);
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar svg,
.lx-list-wrapper > .toolbar-selecting > .first-row > .right-area > .lx-button svg,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  .lx-dropdown-toggler
  .lx-button:hover
  svg,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  > .lx-button:hover
  svg {
  fill: var(--color-list-interactive-foreground);
}

.lx.lx-theme-contrast .lx-list-item.lx-invalid.lx-selected .lx-invalidation-icon,
.lx.lx-theme-contrast .lx-list-item.lx-list-item-interactive.lx-invalid:hover .lx-invalidation-icon {
  fill: var(--color-list-icon-selected);
}

/*** Header + category styles ***/

.lx-list-item > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  min-height: var(--list-header-min-height);
  min-width: 0; /* So that text overflow works */
  padding: var(--list-header-padding);
  grid-area: content;
}

.lx-list-item .lx-category-displayer {
  display: block;
  width: var(--list-category-width);
  margin: var(--list-category-margin);
  border-radius: var(--list-category-border-radius);
  grid-area: category;
}

.lx-list-item.lx-category-red .lx-category-displayer {
  background-color: var(--color-red);
}
  
.lx-list-item.lx-category-blue .lx-category-displayer {
  background-color: var(--color-blue);
}
  
.lx-list-item.lx-category-green .lx-category-displayer {
  background-color: var(--color-green);
}
  
.lx-list-item.lx-category-purple .lx-category-displayer {
  background-color: var(--color-purple);
}
  
.lx-list-item.lx-category-orange .lx-category-displayer {
  background-color: var(--color-orange);
}

.lx-list-item.lx-category-teal .lx-category-displayer {
  background-color: var(--color-teal);
}

.lx-list-item.lx-category-yellow .lx-category-displayer {
  background-color: var(--color-yellow);
}
  
.lx-list-item.lx-category-bad .lx-category-displayer {
  background-color: var(--color-bad);
}
  
.lx-list-item.lx-category-new .lx-category-displayer {
  background-color: var(--color-new);
}
  
.lx-list-item.lx-category-good .lx-category-displayer {
  background-color: var(--color-good);
}
  
.lx-list-item.lx-category-draft .lx-category-displayer {
  background-color: var(--color-draft);
}
  
.lx-list-item.lx-category-error .lx-category-displayer {
  background-color: var(--color-error);
}
  
.lx-list-item.lx-category-edited .lx-category-displayer,
.lx-list-item.lx-category-editing .lx-category-displayer {
  background-color: var(--color-edited);
}
  
.lx-list-item.lx-category-signed .lx-category-displayer {
  background-color: var(--color-signed);
}
  
.lx-list-item.lx-category-ongoing .lx-category-displayer {
  background-color: var(--color-ongoing);
}
  
.lx-list-item.lx-category-waiting .lx-category-displayer {
  background-color: var(--color-waiting);
}
  
.lx-list-item.lx-category-deleted .lx-category-displayer,
.lx-list-item.lx-category-deleting .lx-category-displayer {
  background-color: var(--color-deleted);
}
  
.lx-list-item.lx-category-disabled .lx-category-displayer,
.lx-list-item.lx-category-disabling .lx-category-displayer {
  background-color: var(--color-disabled);
}
  
.lx-list-item.lx-category-inactive .lx-category-displayer {
  background-color: var(--color-inactive);
}
  
.lx-list-item.lx-category-finished .lx-category-displayer,
.lx-list-item.lx-category-finishing .lx-category-displayer {
  background-color: var(--color-finished);
}
  
.lx-list-item.lx-category-incomplete .lx-category-displayer {
  background-color: var(--color-incomplete);
}

.lx.lx-theme-contrast .lx-list-item[class*=category] .lx-category-displayer {
  background-color: var(--color-list-category-contrast);
}
  
/*** List item text styles ***/

.lx-list-item p.lx-primary {
  flex-grow: 0;
  color: var(--color-list-primary);
  font-size: var(--list-primary-font-size);
  line-height: var(--list-primary-line-height);
  font-weight: var(--list-primary-font-weight);
  padding: var(--list-primary-padding);
  margin: var(--list-primary-margin);
}

.lx-list-item > header > p.lx-secondary {
  flex-grow: 1;
  color: var(--color-list-secondary);
  font-size: var(--list-secondary-font-size);
  line-height: var(--list-secondary-line-height);
  font-weight: var(--list-secondary-font-weight);
  padding: var(--list-secondary-padding);
  margin: var(--list-secondary-margin);
}

.lx-list-item p.lx-primary,
.lx-list-item p.lx-secondary {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-list-item-disabled p.lx-primary,
.lx-list-item-disabled p.lx-secondary {
  color: var(--color-list-foreground-disabled);
}

.lx-list-item-disabled.lx-selected p.lx-primary,
.lx-list-item-disabled.lx-selected p.lx-secondary {
  color: var(--color-list-selected-foreground-disabled);
}

.lx-list-item-wrapper .lx-list-item-interactive:not(.lx-list-item-disabled):hover p.lx-primary,
.lx-list-item-interactive:not(.lx-list-item-disabled):hover header p {
  color: var(--color-list-primary-text-hover);
}

.lx-list-item-wrapper .lx-list-item-interactive:not(.lx-list-item-disabled):hover p.lx-secondary {
  color: var(--color-list-secondary-text-hover);
}

.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) p.lx-primary,
.lx-list-item-item.lx-selected:not(.lx-list-item-disabled):hover header p {
  color: var(--color-list-primary-text-selected);
}

.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) p.lx-secondary {
  color: var(--color-list-secondary-text-selected);
}

/*** Toolbar styles ***/

.lx-list-wrapper .lx-list-toolbar {
  margin-bottom: var(--list-toolbar-gap);
}

.lx .lx-toolbar.lx-search-toolbar.lx-list-toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
}

.lx-list-wrapper .lx-list-toolbar > .lx-group.lx-slot-wrapper {
  display: flex;
  grid-column-start: 2;
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-interactive-background);
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar .lx-button label {
  color: var(--color-focus-foreground);
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-buttons,
.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-text {
  display: flex;
  align-items: center;
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-buttons-small {
  display: none;
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-text p {
  color: var(--color-focus-foreground);
}

.lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-buttons-small .lx-dropdown-panel {
  padding: 0;
}

.lx-list-wrapper > .lx-list-toolbar > .left-area .lx-slot-wrapper {
  width: auto;
}

.lx-list-wrapper > .lx-list-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lx-list-toolbar > .first-row {
  display: flex;
  align-items: center;
  justify-content: end;
  height: var(--row-size);
}

.lx-list-toolbar > .first-row:only-child,
.lx-list-toolbar > .second-row,
.lx-list-toolbar > :last-child {
  border-bottom: 1px solid var(--color-chrome);
}

.lx-list-toolbar > .first-row:not(:only-child) {
  border-bottom: none;
}

.lx-list-toolbar.toolbar-selecting > .first-row {
  background-color: var(--color-brand);
  border-bottom: 0;
  justify-content: space-between;
}

.lx-list-toolbar > .first-row > p {
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1em;
  max-height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.lx-list-toolbar .right-area,
.lx-list-toolbar > .second-row,
.lx-list-toolbar .lx-group.lx-slot-wrapper {
  display: flex;
}

.lx .lx-layout .lx-list-toolbar > .second-row .lx-text-input,
.lx .lx-layout .lx-list-toolbar > .first-row .lx-text-input {
  height: var(--row-size);
}

.lx-list-wrapper .lx-list-toolbar:has(.toolbar-search-button.is-expanded) {
  gap: 0.15rem;
}

.lx-list-wrapper .lx-list-toolbar > .first-row > p {
  color: var(--color-label);
}

.lx-list-wrapper .lx-list-toolbar.toolbar-selecting > .first-row > p,
.lx-list-wrapper .lx-list-toolbar.toolbar-selecting > .first-row .lx-button-content .lx-button-label {
  color: var(--color-list-interactive-foreground);
}

.lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-list-wrapper > .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-list-toolbar .second-row .lx-button {
  background-color: var(--color-region);
}

.lx-region .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-region .lx-list-wrapper > .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-region .lx-list-toolbar .second-row .lx-button,
.lx-form-grid .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-form-grid .lx-list-wrapper > .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-form-grid .lx-list-toolbar .second-row .lx-button {
  background-color: var(--color-list-region-background);
}

.lx-list-toolbar .toolbar-search-button.is-expanded:hover .lx-button svg {
  fill: var(--color-brand);
}

.lx-list-toolbar .toolbar-search-button.is-expanded:hover .lx-button,
.lx-list-toolbar .second-row .lx-button:hover {
  background-color: var(--color-list-interactive-background);
}

.lx-list-toolbar .toolbar-search-button.is-expanded:hover .lx-button svg,
.lx-list-wrapper .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button:hover svg,
.lx-list-wrapper .lx-expander .lx-head > .lx-button:hover > svg {
  fill: var(--color-list-interactive-foreground);
}

.lx-list-toolbar.toolbar-selecting .toolbar-search-button:not(.is-expanded) .lx-button svg {
  fill: var(--color-interactive-hover-foreground);
}

.lx-list-wrapper .tree-list-search > .tree-list-search-item > .lx-list-item-wrapper,
.lx-list-wrapper > .lx-list-toolbar > .second-row > .lx-field-wrapper,
.lx-list-wrapper > .lx-list-toolbar > .first-row > .lx-field-wrapper {
  width: 100%;
}

/*** Load button styles ***/

.lx-list-wrapper > .lx-load-more-button {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.lx-list-wrapper > .lx-list-loader {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button {
  width: 100%;
  flex-direction: row;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button.lx-busy {
  flex-direction: row-reverse;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button > svg {
  display: none;
}

/*** Loader styles ***/

.lx-list-item-wrapper > .lx-list-item-loader {
  padding: var(--list-icon-padding);
  height: 100%;
  background-color: transparent;
  grid-area: loader;
}

.lx-list-item-wrapper:has(.lx-list-item-interactive:not(.lx-list-item-disabled):hover) .lx-loader .lx-loader-stroke,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled)) .lx-loader-stroke,
.lx-list-wrapper .lx-load-more-button:hover .lx-loader-stroke {
  stroke: var(--color-list-loader-stroke-interactive);
}

/*** Draggable styles ***/

.lx-draggable-group-list-item .lx-list-item-container {
  grid-template-columns: var(--list-draggable-grid-template-columns);
  grid-template-areas: var(--list-draggable-grid-areas);
}

.list-draggable-area > .draggable-list-item-wrapper {
   display: flex;
}

.lx-handle {
  flex-shrink: 0;
  cursor: move;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: var(--list-handle-width);
  background-color: var(--color-list-background);
}

.lx-handle:not(.handle-disabled):hover .lx-icon {
  fill: var(--color-list-handle-icon-hover);
}

.lx-handle .lx-icon {
  margin-top: 0.5rem;
  width: var(--list-handle-icon-width);
  height: var(--list-handle-icon-height);
  fill: var(--color-list-handle-icon);
}

.draggable-list-item-wrapper .lx-list-item-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: var(--list-draggable-outer-column-span);
}

.draggable-list-item-wrapper .lx-list-item {
  grid-column: var(--list-draggable-inner-column-span);
}

.list-draggable-area {
  grid-template-columns: inherit;
  display: grid;
  align-items: stretch;
  gap: 0.5rem;
}

.lx-list > .list-draggable-area {
  grid-column: span 1;
}

.lx-list.lx-list-2 > .list-draggable-area {
  grid-column: span 2;
}

.lx-list.lx-list-3 > .list-draggable-area {
  grid-column: span 3;
}

.lx .draggable-list-item-wrapper.sortable-chosen .lx-draggable-group-list-item,
.lx .lx-draggable-group-list-item:has(.lx-handle:focus):not(:has(.lx-list-item-disabled)) {
  outline: 2px dashed var(--color-focus-background);
}

.lx-draggable-group-list-item > .lx-context-container {
  grid-area: handle;
}

.lx-list.lx-list-3 .lx-draggable-group-list-item {
  grid-template-columns: inherit;
}

.lx-list .lx-draggable-group-list-item {
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: var(--list-item-border-radius);
}

.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .inline-block,
.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .inline-block > div,
.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .inline-block > div > .lx-dropdown-toggler,
.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .inline-block > div > .lx-dropdown-toggler > .lx-handle {
  height: 100%;
}

.lx-handle.handle-disabled {
  cursor: not-allowed;
}

.lx-draggable-group-list-item .lx-handle:focus-visible {
  outline: none;
}

.lx .list-draggable-area {
  list-style-type: none;
  padding-left: 0;
}

/*** Misc styles ***/

.lx-list-wrapper .lx-component-toolbar .left-area .lx-group,
.lx-list-wrapper .lx-component-toolbar .left-area,
.lx-list-wrapper .lx-component-toolbar .lx-field-wrapper {
  width: 100%;
}

.lx-list-wrapper .lx-component-toolbar .left-area .lx-group {
  border-right: none;
}

.lx-list-wrapper .right-area .lx-group {
  border-left: none;
}

.lx-component-toolbar .lx-field-wrapper .lx-text-input {
  background-color: transparent;
}

.lx-list-wrapper > .lx-component-toolbar > .left-area > .lx-group:first-child {
  justify-content: space-between;
}

.lx-list-item.lx-list-item-tile {
    height: var(--tile-row-size);
}

li .lx-list-item.lx-inactive {
  border-color: var(--color-region);
  background-color: var(--color-region-2);
}

.lx-list-item.lx-list-item-tile svg {
  align-self: flex-end;
}

.lx-list-item.lx-list-item-tile p.lx-primary {
  margin-top: 0.5rem;
}

.lx-list-item.lx-list-item-tile p.lx-secondary {
  margin-top: 1rem;
}

.lx-list-wrapper .lx-list-item-wrapper .compact-actions{
  grid-column: icon;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions {
  display: flex;
  flex-direction: column;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions > svg{
  align-self: flex-end;
  margin-right: .7rem;
  margin-bottom: 0.75rem;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions .lx-button > svg{
  align-self: center;
}


@media (max-width: 1900px) {
  .lx-list-3 li {
    max-width: calc(33% - 0.25rem);
  }
}

@media (max-width: 1200px) {
  .lx-list-3 li {
    width: 45%;
    max-width: calc(50% - 0.25rem);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media (max-width: 800px) {

  .lx-list-2,
  .lx-list-3 {
    flex-direction: column;
  }

  .lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-buttons {
    display: none;
  }

  .lx-list-wrapper > .lx-list-toolbar .lx-selection-toolbar > .selection-action-buttons-small {
    display: flex;
  }
}
