.lx-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--list-item-gap);
  padding-inline: 0;
  margin-block: 0;
}

.lx-list-item-wrapper {
  display: grid;
  grid-template-columns: var(--list-grid-template-columns);
  grid-template-areas: var(--list-grid-areas);
  background-color: var(--color-list-background);
  border: var(--list-item-border);
  border-radius: var(--list-item-border-radius);
  overflow: hidden;
}

.lx-list-item-container .lx-list-item-wrapper {
  grid-template-columns: subgrid;
  grid-column: var(--list-grid-outer-column-span);
  background-color: transparent !important;
  border: none;
  overflow: visible;
}

.lx-list-wrapper .lx-list-item-container {
  display: grid;
  grid-template-columns: var(--list-grid-template-columns);
  grid-template-areas: var(--list-grid-areas);
  border: var(--list-item-border);
  border-radius: var(--list-item-border-radius);
  min-height: var(--list-item-min-height);
  width: var(--list-item-width);
  overflow: hidden;
  background-color: var(--color-list-background);
}

.lx-list-item-interactive:focus,
.lx-list-item-interactive:focus-visible {
  outline: 2px solid var(--color-focus-background);
  outline-offset: -2px;
}

.lx-list-item-interactive.lx-list-item-disabled:focus {
  outline: none;
}

.lx-list-2 {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; 
}

.lx-list-2 li {
  display: flex;
  width: 45%;
  max-width: calc(50% - 0.25rem);
  flex-grow: 1;
  flex-shrink: 0;
}
  
.lx-list-3 {
  justify-content: flex-start; 
  flex-direction: row;
  flex-wrap: wrap;
}

.lx-list-3 li {
  width: 33%;
  max-width: calc(33% - 0.1rem);
  flex: 1 0 33.3333%;
}

.lx-list-item-wrapper > .lx-list-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: var(--list-grid-inner-column-span);
  border-radius: var(--list-item-border-radius-inner);
  overflow: hidden;
}

.lx a.lx-list-item {
  text-decoration: none;
}

.lx-list-item-disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.lx-list-item.lx-list-item-interactive:not(.lx-list-item-disabled) {
  cursor: pointer;
}

.lx-list-item-wrapper:has(.lx-list-item.lx-list-item-disabled),
.lx-list-item-container:has(.lx-list-item.lx-list-item-disabled) {
  cursor: not-allowed;
}
  
.lx-list-item-actions {
  grid-area: actions;
}

.lx-list-item-actions .lx-context-container,
.lx-list-item-actions .popper-wrapper,
.lx-list-item-actions .lx-dropdown-toggler,
.lx-list-item-actions .lx-dropdown-toggler > div {
  height: 100%;
}

.lx .lx-list-item-actions .lx-button {
  min-width: var(--list-button-width);
  height: 100%;
  max-height: var(--list-button-max-height);
  border-radius: var(--list-button-border-radius);
}

.lx-empty-state {
  height: calc(var(--row-size) * 2);
  border: 2px solid var(--color-chrome);
  padding: var(--row-size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-label);
  margin-top: 1rem;
}

.lx-list > li > .selecting-block > .lx-checkbox-placeholder {
  width: 1rem;
  height: 1rem;
}

.lx .lx-layout .first-row .lx-text-input.lx-search-input {
  background-color: transparent;
  height: 100%;
}

.lx-transition-layer {
  width: 100%;
}

.lx-list-item-wrapper:has(.lx-list-item:not(.lx-list-item-disabled)) .lx-list-item-actions .lx-dropdown-toggler .lx-button:hover{
  background-color: var(--color-interactive-hover-background);
}

/*** Selected + hover container styles ***/

.lx a.lx-list-item:hover {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.lx .lx-draggable-group-list-item:has(.lx-list-item.lx-selected) .lx-handle,
.lx-master-detail-list .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx-list:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.tree-item:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.tree-list:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-selected),
.lx-layout .lx-list-item-container:has(.lx-list-item.lx-selected),
.lx-layout .lx-modal .lx-list-item-container:has(.lx-list-item.lx-selected) {
  background-color: var(--color-selected-background);
  border-color: var(--color-selected-border);
  color: var(--color-selected);
}

.lx .list-draggable-area:not(:has(.ghost)) .lx-draggable-group-list-item:has(.lx-list-item:not(.lx-list-item-disabled)) .lx-handle:hover,
.lx .list-draggable-area:not(:has(.ghost)) .lx-draggable-group-list-item:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled)) .lx-handle:hover,
.lx .lx-list-item-interactive:not(.lx-list-item-disabled):hover,
.lx-list-item-interactive.lx-selected:not(.lx-list-item-disabled):hover {
  background-color: var(--color-list-hover-background);
}

/*** Form + region + modal + appendable list styles ***/

.lx .lx-form-grid .lx-row > .lx-vertical > div > .lx-list-item-wrapper > .lx-list-item,
.lx .lx-curtain .lx-modal .lx-list-item-wrapper,
.lx .lx-form-region .lx-list-item-wrapper,
.lx .lx-form-grid .lx-list-item-wrapper,
.lx .lx-region .lx-list-item-wrapper,
.lx .lx-curtain .lx-modal .lx-list-item-container,
.lx .lx-form-region .lx-list-item-container,
.lx .lx-form-grid .lx-list-item-container,
.lx .lx-region .lx-list-item-container,
.lx .lx-region .lx-component-toolbar .second-row,
.lx .lx-modal .lx-component-toolbar.lx-disabled .second-row,
.lx .lx-form-grid .lx-component-toolbar.lx-disabled .second-row,
.lx .lx-curtain .lx-modal .draggable-list-item-wrapper .lx-handle,
.lx .lx-form-region .draggable-list-item-wrapper .lx-handle,
.lx .lx-form-grid .draggable-list-item-wrapper .lx-handle,
.lx .lx-region .draggable-list-item-wrapper .lx-handle {
  background-color: var(--color-list-region-background);
}

.lx .lx-form-grid .lx-appendable-list .lx-list-item-container,
.lx .lx-region .lx-appendable-list .lx-list-item-container,
.lx .lx-modal .lx-appendable-list .lx-list-item-container,
.lx .lx-form-grid .lx-appendable-list .lx-list-item-wrapper,
.lx .lx-region .lx-appendable-list .lx-list-item-wrapper,
.lx .lx-modal .lx-appendable-list .lx-list-item-wrapper {
  background-color: var(--color-list-background);
}

/*** Checkbox + radio button styles ***/

.selecting-block > .lx-checkbox-wrapper {
  margin: 0.1rem 0 0 0;
}
.selecting-block > .lx-radio-button-wrapper {
  margin: 0 -0.1rem 0 -0.1rem;
}

.lx-list-wrapper .selecting-block {
  padding: var(--list-item-selecting-block-padding);
  background-color: transparent;
  grid-area: selecting;
}

.selecting-block > .lx-checkbox-wrapper .lx-checkbox-appearance,
.selecting-block > .lx-radio-button-wrapper .lx-radio-button-appearance {
  margin: 0;
}

.selecting-block > .lx-checkbox-wrapper .lx-checkbox-label,
.selecting-block > .lx-radio-button-wrapper .lx-radio-button-label {
  display: none;
}

/* Disabled item */

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
    border-color: var(--color-disabled);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:disabled
  + .lx-checkbox-label-wrapper
  svg {
    fill: var(--color-disabled);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:checked):disabled
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
    border-color: var(--color-disabled);
}

/* Disabled selected item */

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
}

.lx-theme-contrast .lx-list-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
    background-color: var(--contrast-background);
    border-color: var(--contrast-background);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg {
    fill: var(--color-region);
}

.lx-theme-contrast 
  .lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:checked:disabled
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg {
    fill: var(--contrast-interactive);
}

/* No hover, unchecked */
.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):not(:checked)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: transparent;
  border-color: var(--color-data);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):not(:checked)
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
    border-color: var(--color-data);
}

/* No hover, checked */
.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--color-data);
  border-color: var(--color-data);
}

.lx-theme-contrast
  .lx-list-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--contrast-background);
  border-color: var(--contrast-background);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--color-data);
}

.lx-theme-contrast 
  .lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--contrast-background);
}

.lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance
  .lx-radio-thumb{
  background-color: var(--color-data);
}

.lx-theme-contrast 
  .lx-list-wrapper .lx-radio-button-wrapper
  .lx-radio-button:not(:disabled):checked
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance
  .lx-radio-thumb{
  background-color: var(--contrast-background);
}

.lx-list-wrapper .lx-checkbox-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg{
  fill: var(--color-region);
}

.lx-theme-contrast
  .lx-list-wrapper
  .lx-checkbox:not(:disabled):checked
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg{
  fill: var(--contrast-foreground);
}

/* Direct hover on checkbox */
.lx-list-wrapper .lx-checkbox-wrapper:hover
  .lx-checkbox:not(:disabled)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance {
  background-color: var(--color-interactive-hover-background);
  border-color: var(--color-interactive-hover-background);
}

.lx-list-wrapper .lx-radio-button-wrapper:hover
  .lx-radio-button:not(:disabled)
  + .lx-radio-button-label-wrapper
  .lx-radio-button-appearance {
  border-color: var(--color-interactive-hover-background);
}

.lx-list-wrapper .lx-checkbox-wrapper:hover
  .lx-checkbox:not(:disabled)
  + .lx-checkbox-label-wrapper
  .lx-checkbox-appearance svg {
  fill: var(--color-focus-foreground);
}

/*** Icon styles ***/

.lx .lx-list-item .lx-invalidation-icon,
.lx .lx-list-item .lx-list-icon {
  grid-area: icon;
}

.lx .lx-list-item .lx-invalidation-icon,
.lx .lx-list-item .lx-list-icon,
.lx-list-item svg,
.lx-list-item img {
  height: var(--list-icon-height);
  width: var(--list-icon-width);
  flex-shrink: 0;
}

.lx .lx-list-item .lx-invalidation-icon-wrapper,
.lx .lx-list-item .lx-list-icon-wrapper {
  padding: var(--list-icon-padding);
  height: 100%;
}

.lx-list-item-container:has(.lx-list-item-disabled) .lx-handle .lx-icon,
.lx-list-item-disabled svg {
  fill: var(--color-list-disabled-foreground);
}

.lx.lx-theme-contrast .lx-list-item-wrapper:has(.lx-list-item-disabled) .lx-list-item-actions svg,
.lx-theme-contrast .lx-list-item-disabled svg {
  fill: transparent;
}

.lx-list-item-wrapper .lx-list-item:not(.lx-list-item-disabled) .lx-list-icon,
.lx-list-item:not(.lx-list-item-disabled) .lx-list-item-actions > .lx-button:not(:hover):not(:active) .lx-button-icon {
  fill: var(--color-list-icon);
}

.lx .lx-list-item-wrapper .lx-list-item-actions .lx-button-ghost svg {
  --color-button-ghost-icon: var(--color-list-icon);
  --color-button-ghost-icon-focus: var(--color-list-icon);
  --color-button-ghost-icon-disabled: var(--color-list-disabled-foreground);
  --color-button-ghost-icon-active: var(--color-interactive-hover-foreground);
}

.lx .lx-layout .lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-icon,
.lx .lx-layout .lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-item-actions 
  .lx-dropdown-toggler
  .lx-button:not(:hover):not(:active)
  svg,
.lx .lx-layout .lx-list-item-interactive:hover:not(.lx-list-item-disabled)
  .lx-list-item-actions
  > .lx-button:not(:hover):not(:active)
  svg {
  fill: var(--color-list-icon-hover);
}

.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) .lx-list-icon,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  .lx-dropdown-toggler
  .lx-button
  svg,
.lx .lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  > .lx-button
  svg {
  fill: var(--color-selected);
}

.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  .lx-dropdown-toggler
  .lx-button:hover
  svg,
.lx-list-item-wrapper:has(.lx-list-item.lx-selected:not(.lx-list-item-disabled))
  .lx-list-item-actions
  > .lx-button:hover
  svg {
  fill: var(--color-focus-foreground);
}

.lx.lx-theme-contrast .lx-list-item.lx-invalid.lx-selected .lx-invalidation-icon,
.lx.lx-theme-contrast .lx-list-item.lx-list-item-interactive.lx-invalid:hover .lx-invalidation-icon {
  fill: var(--color-selected);
}

/*** Header + category styles ***/

.lx-list-item > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  min-height: var(--list-item-header-min-height);
  min-width: 0; /* So that text overflow works */
  padding: var(--list-item-header-padding);
  grid-area: content;
}

.lx-list-item .lx-category-displayer {
  display: block;
  width: var(--list-category-width);
  margin: var(--list-category-margin);
  border-radius: var(--list-category-border-radius);
  grid-area: category;
}

.lx-list-item.lx-category-red .lx-category-displayer {
  background-color: var(--color-red);
}
  
.lx-list-item.lx-category-blue .lx-category-displayer {
  background-color: var(--color-blue);
}
  
.lx-list-item.lx-category-green .lx-category-displayer {
  background-color: var(--color-green);
}
  
.lx-list-item.lx-category-purple .lx-category-displayer {
  background-color: var(--color-purple);
}
  
.lx-list-item.lx-category-orange .lx-category-displayer {
  background-color: var(--color-orange);
}

.lx-list-item.lx-category-teal .lx-category-displayer {
  background-color: var(--color-teal);
}

.lx-list-item.lx-category-yellow .lx-category-displayer {
  background-color: var(--color-yellow);
}
  
.lx-list-item.lx-category-bad .lx-category-displayer {
  background-color: var(--color-bad);
}
  
.lx-list-item.lx-category-new .lx-category-displayer {
  background-color: var(--color-new);
}
  
.lx-list-item.lx-category-good .lx-category-displayer {
  background-color: var(--color-good);
}
  
.lx-list-item.lx-category-draft .lx-category-displayer {
  background-color: var(--color-draft);
}
  
.lx-list-item.lx-category-error .lx-category-displayer {
  background-color: var(--color-error);
}
  
.lx-list-item.lx-category-edited .lx-category-displayer,
.lx-list-item.lx-category-editing .lx-category-displayer {
  background-color: var(--color-edited);
}
  
.lx-list-item.lx-category-signed .lx-category-displayer {
  background-color: var(--color-signed);
}
  
.lx-list-item.lx-category-ongoing .lx-category-displayer {
  background-color: var(--color-ongoing);
}
  
.lx-list-item.lx-category-waiting .lx-category-displayer {
  background-color: var(--color-waiting);
}
  
.lx-list-item.lx-category-deleted .lx-category-displayer,
.lx-list-item.lx-category-deleting .lx-category-displayer {
  background-color: var(--color-deleted);
}
  
.lx-list-item.lx-category-disabled .lx-category-displayer,
.lx-list-item.lx-category-disabling .lx-category-displayer {
  background-color: var(--color-disabled);
}
  
.lx-list-item.lx-category-inactive .lx-category-displayer {
  background-color: var(--color-inactive);
}
  
.lx-list-item.lx-category-finished .lx-category-displayer,
.lx-list-item.lx-category-finishing .lx-category-displayer {
  background-color: var(--color-finished);
}
  
.lx-list-item.lx-category-incomplete .lx-category-displayer {
  background-color: var(--color-incomplete);
}

.lx.lx-theme-contrast .lx-list-item[class*=category] .lx-category-displayer {
  background-color: var(--color-list-category-contrast);
}
  
/*** List item text styles ***/

.lx-list-item p.lx-primary {
  flex-grow: 0;
  color: var(--color-list-primary);
  font-size: var(--list-text-primary-font-size);
  line-height: var(--list-text-primary-line-height);
  font-weight: var(--list-text-primary-font-weight);
  padding: var(--list-text-primary-padding);
  margin: var(--list-text-primary-margin);
}

.lx-list-item > header > p.lx-secondary {
  flex-grow: 1;
  color: var(--color-list-secondary);
  font-size: var(--list-text-secondary-font-size);
  line-height: var(--list-text-secondary-line-height);
  font-weight: var(--list-text-secondary-font-weight);
  padding: var(--list-text-secondary-padding);
  margin: var(--list-text-secondary-margin);
}

.lx-list-item p.lx-primary,
.lx-list-item p.lx-secondary {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-list-item-disabled p.lx-primary,
.lx .lx-list-item-disabled p.lx-secondary {
  color: var(--color-list-disabled-foreground);
}

.lx-list-item-disabled.lx-selected p.lx-primary,
.lx .lx-list-item-disabled.lx-selected p.lx-secondary {
  color: var(--color-list-disabled-selected-text);
}

.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) p.lx-primary,
.lx-list-item-wrapper .lx-list-item.lx-selected:not(.lx-list-item-disabled) p.lx-secondary {
  color: var(--color-selected);
}

.lx-list-item-wrapper .lx-list-item-interactive:not(.lx-list-item-disabled):hover p.lx-primary,
.lx-list-item-interactive:not(.lx-list-item-disabled):hover header p {
  color: var(--color-list-hover-text-primary);
}

.lx-list-item-wrapper .lx-list-item-interactive:not(.lx-list-item-disabled):hover p.lx-secondary {
  color: var(--color-list-hover-text-secondary);
}

/*** Toolbar styles ***/

.lx-list-wrapper .lx-list-toolbar,
.lx-list-wrapper .lx-component-toolbar {
  margin-bottom: var(--list-item-gap);
}

.lx .lx-toolbar.lx-search-toolbar.lx-list-toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
}

.lx-list-wrapper .lx-list-toolbar > .lx-group.lx-slot-wrapper {
  display: flex;
  grid-column-start: 2;
}

.lx-list-wrapper > .lx-list-toolbar .selection-action-button-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-interactive-background);
}

/* So that buttons wouldn't shrink */
.lx-list-toolbar .selection-action-buttons > .lx-button:not(.lx-button-icon-only) {
  --button-primary-grid-template-columns: minmax(max-content, 1fr) auto;
}

.lx-list-wrapper > .lx-list-toolbar .selection-action-button-toolbar > .selection-action-text,
.lx-list-wrapper > .lx-list-toolbar .selection-action-button-toolbar > .selection-action-buttons,
.lx-list-wrapper .lx-component-toolbar .selection-action-button-toolbar > .selection-action-buttons {
  display: flex;
  align-items: center;
}

.lx-list-wrapper .lx-component-toolbar .toolbar-action-buttons-small,
.lx-list-wrapper > .lx-list-toolbar .selection-action-button-toolbar > .selection-action-buttons-small,
.lx-list-wrapper .lx-component-toolbar .selection-action-button-toolbar > .selection-action-buttons-small {
  display: none;
}

.lx-list-wrapper > .lx-list-toolbar .selection-action-button-toolbar > .selection-action-text p {
  color: var(--color-focus-foreground);
}

.lx-list-wrapper > .lx-list-toolbar > .left-area .lx-slot-wrapper {
  width: auto;
}

.lx-list-wrapper .lx-component-toolbar,
.lx-list-wrapper > .lx-list-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lx-list-toolbar > .first-row {
  display: flex;
  align-items: center;
  justify-content: end;
  height: var(--row-size);
}

.lx-component-toolbar .first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lx-list-toolbar > .first-row:only-child,
.lx-list-toolbar > .second-row,
.lx-list-toolbar > :last-child {
  border-bottom: 1px solid var(--color-chrome);
}

.lx-list-wrapper .lx-component-toolbar {
  border-top: 1px solid transparent;
}

.lx-list-toolbar > .first-row:not(:only-child) {
  border-bottom: none;
}

.lx-selection-toolbar > .lx-component-toolbar .first-row,
.lx-list-toolbar.lx-selection-toolbar > .first-row {
  background-color: var(--color-brand);
  border-bottom: 0;
  justify-content: space-between;
}

.lx-list-toolbar > .first-row > p,
.lx-component-toolbar .left-area  .lx-group > p {
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1em;
  max-height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.lx-list-toolbar .right-area,
.lx-list-toolbar > .second-row,
.lx-component-toolbar .second-row,
.lx-component-toolbar .left-area,
.lx-component-toolbar .right-area,
.lx-list-toolbar .lx-group.lx-slot-wrapper {
  display: flex;
}

.lx-component-toolbar .first-row > .left-area > .lx-group:only-child:has(> .lx-group:empty),
.lx-list-wrapper .lx-component-toolbar:has(> .first-row > .left-area > .lx-group:only-child:empty):has(> .first-row > .right-area > .lx-group:only-child:empty),
.lx-data-grid-wrapper .lx-component-toolbar:has(> .first-row > .left-area > .lx-group:only-child:empty):has(> .first-row > .right-area > .lx-group:only-child:empty) {
  display: none;
}

.lx .lx-layout .lx-component-toolbar > .left-area .lx-text-input,
.lx .lx-layout .lx-component-toolbar .second-row .lx-text-input,
.lx .lx-layout .lx-list-toolbar > .second-row .lx-text-input,
.lx .lx-layout .lx-component-toolbar > .first-row .lx-text-input,
.lx .lx-layout .lx-list-toolbar > .first-row .lx-text-input {
  height: var(--row-size);
}

.lx-list-wrapper .lx-component-toolbar:has(.toolbar-search-button.is-expanded),
.lx-list-wrapper .lx-list-toolbar:has(.toolbar-search-button.is-expanded) {
  gap: 0.15rem;
}

.lx-list-wrapper .lx-list-toolbar > .first-row > p {
  color: var(--color-label);
}

.lx-list-wrapper > .lx-selection-toolbar > .lx-component-toolbar p,
.lx-list-wrapper .lx-list-toolbar.lx-selection-toolbar > .first-row > p {
  color: var(--color-interactive-foreground);
}


.lx .lx-data-grid-wrapper .toolbar-search-button.is-expanded .lx-button
.lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-list-wrapper > .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-list-toolbar .second-row .lx-button {
  background-color: var(--color-region);
}

.lx .lx-list-wrapper:where(:not(.lx-region .lx-list-wrapper)) .lx-component-toolbar .lx-button.toolbar-search-button.is-expanded,
.lx .lx-list-wrapper:where(:not(.lx-region .lx-list-wrapper)) .lx-component-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-list-wrapper .lx-component-toolbar .second-row {
    background-color: var(--color-region);
}

.lx .lx-region .lx-component-toolbar .lx-button.toolbar-search-button.is-expanded,
.lx .lx-region .lx-component-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx .lx-form-grid .lx-list-wrapper .lx-component-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx .lx-form-grid .lx-list-wrapper .lx-component-toolbar .second-row .lx-button,
.lx-modal .lx-list-wrapper .lx-component-toolbar .lx-button.toolbar-search-button.is-expanded,
.lx-modal .lx-list-wrapper .lx-component-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx .lx-modal .lx-component-toolbar .second-row .lx-button,
.lx-region .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-region .lx-list-wrapper .lx-component-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-region .lx-list-wrapper .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx .lx-region .lx-component-toolbar .second-row .lx-button,
.lx-form-grid .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-form-grid .lx-list-wrapper > .lx-list-toolbar .second-row .lx-text-input-wrapper .lx-text-input,
.lx-form-grid .lx-list-toolbar .second-row .lx-button,
.lx-form-grid .lx-list-wrapper:where(:not(.lx-region .lx-list-wrapper)) .lx-component-toolbar .lx-button.toolbar-search-button.is-expanded,
.lx-modal .lx-list-wrapper:where(:not(.lx-region .lx-list-wrapper)) .lx-component-toolbar .lx-button.toolbar-search-button.is-expanded {
  background-color: var(--color-list-region-background);
}

.lx-component-toolbar .toolbar-search-button.is-expanded:hover .lx-button,
.lx-list-toolbar .toolbar-search-button.is-expanded:hover .lx-button,
.lx .lx-list-toolbar .second-row .lx-button:hover
.lx .lx-component-toolbar .second-row .lx-button:hover {
  background-color: var(--color-interactive-hover-background);
}

.lx .lx-list-wrapper .lx-component-toolbar .toolbar-search-button.is-expanded .lx-button,
.lx-list-wrapper .lx-list-toolbar .toolbar-search-button.is-expanded .lx-button {
  --color-button-toolbar-ghost-icon-active: var(--color-button-toolbar-ghost-icon);
  --color-button-toolbar-ghost-icon-hover: var(--color-interactive-hover-foreground);
}

.lx-list-wrapper .tree-list-search > .tree-list-search-item > .lx-list-item-wrapper,
.lx-list-wrapper > .lx-list-toolbar > .second-row > .lx-field-wrapper,
.lx-list-wrapper > .lx-list-toolbar > .first-row > .lx-field-wrapper {
  width: 100%;
}

.lx-component-toolbar .toolbar-search-button.is-expanded:hover .lx-button svg,
.lx-list-toolbar .toolbar-search-button.is-expanded:hover .lx-button svg {
  fill: var(--color-focus-foreground);
}

/*** Load button styles ***/

.lx-list-wrapper > .lx-load-more-button {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.lx-list-wrapper > .lx-list-loader {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button {
  width: 100%;
  flex-direction: row;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button.lx-busy {
  flex-direction: row-reverse;
}

.lx-list-wrapper > .lx-load-more-button > .lx-button > .lx-button-content-wrapper svg {
  display: none;
}

/*** Loader styles ***/

.lx-list-item-wrapper > .lx-list-item-loader {
  padding: var(--list-item-loader-padding);
  height: 100%;
  background-color: transparent;
  grid-area: loader;
}

/*** Draggable styles ***/

.lx-draggable-group-list-item .lx-list-item-container {
  grid-template-columns: var(--list-draggable-grid-template-columns);
  grid-template-areas: var(--list-draggable-grid-areas);
}

.list-draggable-area > .draggable-list-item-wrapper {
   display: flex;
}

.lx-handle {
  flex-shrink: 0;
  cursor: move;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: var(--list-draggable-handle-width);
  background-color: var(--color-list-background);
}

.lx-handle:not(.handle-disabled):hover .lx-icon {
  fill: var(--color-list-hover-handle-icon);
}

.lx-handle .lx-icon {
  margin-top: 0.5rem;
  width: var(--list-draggable-handle-icon-width);
  height: var(--list-draggable-handle-icon-height);
  fill: var(--color-list-handle-icon);
}

.draggable-list-item-wrapper .lx-list-item-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: var(--list-draggable-grid-outer-column-span);
}

.draggable-list-item-wrapper .lx-list-item {
  grid-column: var(--list-draggable-grid-inner-column-span);
}

.list-draggable-area {
  grid-template-columns: inherit;
  display: grid;
  align-items: stretch;
  gap: 0.5rem;
}

.lx-list > .list-draggable-area {
  grid-column: span 1;
}

.lx-list.lx-list-2 > .list-draggable-area {
  grid-column: span 2;
}

.lx-list.lx-list-3 > .list-draggable-area {
  grid-column: span 3;
}

.lx .draggable-list-item-wrapper.sortable-chosen .lx-draggable-group-list-item,
.lx .lx-draggable-group-list-item:has(.lx-handle:focus):not(:has(.lx-list-item-disabled)) {
  outline: 2px dashed var(--color-focus-background);
}

.lx-draggable-group-list-item .lx-list-item-container > .lx-context-container {
  grid-area: handle;
}

.lx-list.lx-list-3 .lx-draggable-group-list-item {
  grid-template-columns: inherit;
}

.lx-list .lx-draggable-group-list-item {
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: var(--list-item-border-radius);
}

.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .popper-wrapper,
.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .popper-wrapper > .lx-dropdown-toggler,
.lx-draggable-group-list-item > .lx-list-item-container > .lx-context-container > .popper-wrapper > .lx-dropdown-toggler > .lx-handle {
  height: 100%;
}

.lx-handle.handle-disabled {
  cursor: not-allowed;
}

.lx-draggable-group-list-item .lx-handle:focus-visible {
  outline: none;
}

.lx .list-draggable-area {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

/*** LxTile styles ***/

.lx .lx-tile-wrapper .lx-tile {
  display: grid;
  grid-template-columns: var(--tile-grid-template-columns);
  grid-template-rows: var(--tile-grid-template-rows);
  grid-template-areas: var(--tile-grid-areas);
  border-radius: var(--tile-border-radius-inner);
  overflow: hidden;
  background-color: transparent;
  color: var(--color-tile-primary);
  padding: var(--tile-padding);
  height: 100%;
  cursor: pointer;
  text-decoration: var(--button-text-decoration);
}

.lx .lx-tile:focus {
  outline: 2px solid var(--color-focus-background);
  outline-offset: -2px;
}

.lx .lx-tile:hover {
  color: inherit;
}

.lx .lx-tile-wrapper {
  background-color: var(--color-tile-background);
  border: var(--tile-border);
  border-radius: var(--tile-border-radius);
  min-height: var(--tile-min-height);
  overflow: hidden;
  justify-self: stretch;
  width: auto;
  grid-row: span 4;
}

.lx .lx-tile > article.lx-main {
  grid-area: custom-content;
}

.lx-tile p.lx-primary {
  flex-grow: 0;
  color: var(--color-tile-primary);
  font-size: var(--tile-text-primary-font-size);
  line-height: var(--tile-text-primary-line-height);
  font-weight: var(--tile-text-primary-font-weight);
  padding: var(--tile-text-primary-padding);
  margin: var(--tile-text-primary-margin);
}

.lx-tile > header > p.lx-secondary {
  flex-grow: 1;
  color: var(--color-tile-secondary);
  font-size: var(--tile-text-secondary-font-size);
  line-height: var(--tile-text-secondary-line-height);
  font-weight: var(--tile-text-secondary-font-weight);
  padding: var(--tile-text-secondary-padding);
  margin: var(--tile-text-secondary-margin);
}

.lx-tile p.lx-primary,
.lx-tile p.lx-secondary {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-tile.lx-disabled p.lx-primary,
.lx .lx-tile.lx-disabled p.lx-secondary {
  color: var(--color-tile-disabled-foreground);
}

.lx-tile-wrapper .lx-tile:not(.lx-disabled):hover p.lx-primary,
.lx-tile:not(.lx-disabled):hover article {
  color: var(--color-tile-hover-text-primary);
}

.lx-tile-wrapper .lx-tile:not(.lx-disabled):hover p.lx-secondary {
  color: var(--color-tile-hover-text-secondary);
}

.lx-tile-wrapper .lx-tile:not(.lx-disabled) .lx-tile-icon {
  fill: var(--color-tile-icon);
}

.lx-tile-wrapper .lx-tile.lx-disabled .lx-tile-icon {
  fill: var(--color-tile-disabled-foreground);
}

.lx-tile-wrapper .lx-tile:not(.lx-disabled):hover .lx-tile-icon {
  fill: var(--color-tile-icon-hover);
}

.lx-list-item,
.lx-tile {
  outline-color: var(--color-focus-background);
}

.lx .lx-tile > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: auto;
  min-height: var(--tile-header-min-height);
  min-width: 0; /* So that text overflow works */
  padding: var(--tile-header-padding);
  grid-area: content;
}

.lx-tile > .lx-tile-icon-wrapper {
  display: flex;
  grid-area: icon-loader;
  padding: var(--tile-icon-padding);
}

.lx-tile > .lx-tile-icon-wrapper .lx-icon {
  height: var(--tile-icon-height);
  width: var(--tile-icon-width);
  flex-shrink: 0;
}

.lx-tile:hover,
a.lx-tile:hover {
  margin: 0;
  padding: var(--tile-padding);
}

.lx-tile:not(.lx-disabled):hover,
a.lx-tile:not(.lx-disabled):hover {
  background-color: var(--color-tile-hover-background);
}

.lx-tile > header .lx-description {
  margin-top: 1.2rem;
  color: var(--color-label);
  font-size: var(--small-font-size);
  line-height: 1.1em;
}

.lx-tile:not(.lx-disabled):hover > header .lx-primary,
.lx-tile:not(.lx-disabled):hover > header .lx-description {
  color: var(--color-tile-hover-foreground);
}

.lx-tile:not(.lx-disabled):hover > header > .lx-icon {
  fill: var(--color-tile-hover-foreground);
}

.lx-list-wrapper .lx-component-toolbar .toolbar-action-buttons,
.lx-tile .lx-tile-item-loader, .lx-tile .lx-loader-wrapper {
  display: flex;
}

.lx-tile > .lx-tile-item-loader {
  grid-area: icon-loader;
  padding: var(--tile-loader-padding);
}

.lx .lx-tile-wrapper .lx-tile.lx-disabled {
  outline: none;
  pointer-events: none;
}

.lx .lx-tile-wrapper:has(.lx-tile.lx-disabled) {
  cursor: not-allowed;
}

.lx-dashboard .lx-tile-wrapper:has(.lx-tile.lx-mini) {
  min-height: var(--tile-mini-min-height);
  grid-row: span 2;
}

.lx .lx-tile.lx-mini {
  grid-template-columns: var(--tile-mini-grid-template-columns);
  grid-template-areas: var(--tile-mini-grid-areas);
  grid-template-rows: var(--tile-mini-grid-template-rows);
}

.lx-tile.lx-mini > .lx-tile-icon-wrapper {
  padding: var(--tile-mini-icon-padding);
}

.lx-tile.lx-mini > .lx-tile-item-loader {
  padding: var(--tile-mini-loader-padding);
}

.lx .lx-tile.lx-mini header {
  min-height: var(--tile-mini-header-min-height);
}

.lx .lx-tile.lx-mini  svg {
  align-self: center;
}

.lx-tile.lx-mini > header .lx-primary {
  margin: var(--tile-mini-text-primary-margin);
}

.lx-tile.lx-mini .lx-description {
  display: none;
}

.lx-tile.lx-mini > .lx-main {
  display: none;
}

/*** Misc styles ***/

.lx-list-wrapper .lx-component-toolbar .left-area,
.lx-list-wrapper .lx-component-toolbar .lx-field-wrapper,
.lx-list-wrapper .lx-component-toolbar .left-area .lx-group {
  width: 100%;
}

.lx-list-wrapper .lx-component-toolbar .action-definitions-small {
  flex: 1;
}

.lx-list-wrapper .lx-component-toolbar .left-area .lx-group.action-definitions-group {
    width: fit-content;
}

.lx-list-wrapper .lx-component-toolbar .left-area .lx-group {
  border-right: none;
}

.lx-list-wrapper .right-area .lx-group {
  border-left: none;
}

.lx-component-toolbar .lx-field-wrapper .lx-text-input {
  background-color: transparent;
}

.lx-list-wrapper > .lx-component-toolbar > .left-area > .lx-group:first-child {
  justify-content: space-between;
}

.lx-list-item.lx-list-item-tile {
    height: var(--tile-min-height);
}

li .lx-list-item.lx-inactive {
  border-color: var(--color-region);
  background-color: var(--color-region-2);
}

.lx-list-item.lx-list-item-tile svg {
  align-self: flex-end;
}

.lx-list-item.lx-list-item-tile p.lx-primary {
  margin-top: 0.5rem;
}

.lx-list-item.lx-list-item-tile p.lx-secondary {
  margin-top: 1rem;
}

.lx-list-wrapper .lx-list-item-wrapper .compact-actions {
  grid-area: icon;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions {
  display: flex;
  flex-direction: column;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions > svg{
  align-self: flex-end;
  margin-right: .7rem;
  margin-bottom: 0.75rem;
}

.lx-list-wrapper .lx-list-item-wrapper .lx-list-item-compact-actions .compact-actions .lx-button-content-wrapper svg{
  align-self: center;
}

.lx-list-actions-hidden {
  visibility: hidden;
}

@media (max-width: 1900px) {
  .lx-list-3 li {
    max-width: calc(33% - 0.25rem);
  }
}

@media (max-width: 1200px) {
  .lx-list-3 li {
    width: 45%;
    max-width: calc(50% - 0.25rem);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media (max-width: 800px) {

  .lx-list-2,
  .lx-list-3 {
    flex-direction: column;
  }

  .lx-list-wrapper .lx-component-toolbar .toolbar-action-buttons,
  .lx-list-wrapper .lx-component-toolbar .selection-action-button-toolbar > .selection-action-buttons {
    display: none;
  }

  .lx-list-wrapper .lx-component-toolbar .toolbar-action-buttons-small,
  .lx-list-wrapper .lx-component-toolbar .selection-action-button-toolbar > .selection-action-buttons-small {
    display: flex;
  }

  .lx-list-wrapper .lx-component-toolbar > .first-row > .left-area > .action-definitions-small {
    width: fit-content;
  }
}
