.lx-master-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.lx-master-detail .lx-master {
    width: var(--aside-size);
}

.lx-master-detail .lx-master ul {
    padding: 0;
    margin-top: 0;
    margin-block-end: 0;
}

.lx-master-detail .lx-master .lx-button {
    width: calc(100% - 0.25rem);
    margin: 0 0.125rem;
}

.lx-master-detail .lx-master li:last-of-type {
    margin-bottom: 0.2rem;
}

.lx-master-detail .lx-master li:first-of-type {
    margin-top: 0.2rem;
}

.lx-master-detail .lx-master li svg {
    height: 1.2rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.lx-master-detail .lx-detail {
    width: 100%;
    max-width: calc(100% - var(--aside-size));
    padding-left: 1rem;
}

.lx-master-detail .lx-master li {
    display: flex;
    flex-direction: column;
    justify-self: start;
    list-style-type: none;
    font-weight: var(--font-weight-bold);
    min-height: var(--row-size);
    justify-content: center;
    margin: 0 0.125rem;
}

.lx-secondary {
    font-weight: normal;
    font-size: var(--small-font-size);
    color: var(--color-label);
    line-height: 1.1em;
    margin-top: 0.05rem;
}

.lx-master-detail .lx-master .lx-list-item-interactive:hover p.lx-secondary{
    color: var(--color-label)
}

.lx-master-detail-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.2rem;
}

.lx-master-detail .lx-master li.label-item,
.lx-master-detail .lx-master li.label-item:hover {
    background-color: var(--color-disabled-foreground);
}

.label-item>span.lx-secondary {
    color: var(--color-data);
    line-height: 1.1rem;
}

.lx-master-detail .lx-master li.lx-selected .lx-secondary,
.lx-master-detail .lx-master li:hover .lx-secondary {
    color: var(--color-data);
}

.lx-master-detail .lx-master{
    padding-right: 1rem;
    border-right: solid var(--color-chrome) 0.125rem;
}

.lx .lx-master-detail .lx-master .lx-list-item.lx-list-item-active,
.lx .lx-master-detail .lx-master .lx-list-item.lx-list-item-active.lx-invalid{
    border-color: var(--color-brand);
}

.lx-master-detail .lx-list-item.lx-invalid {
    border-color: var(--color-bad) ;
}

.lx-master-detail .lx-list-item {
    border: solid transparent 0.125rem;
}

.lx-master-detail .lx-list-item.lx-invalid .invalid-icon{
    height: 1.5rem;
    fill: var(--color-bad);
}

.lx-master-detail .lx-list-item.lx-invalid svg:not(.invalid-icon){
    margin-left: 0;
}
.lx-master-detail li:focus-visible:has(.lx-list-item.lx-active){
    outline: solid var(--color-focus-background) 0.125rem;
}

.lx-master-detail .lx-list-item:focus-visible,
.lx-master-detail .lx-list-item:focus{
    outline: solid var(--color-focus-background) 0.125rem;
}

.lx-region .lx-master-detail .lx-list-item-wrapper .lx-list-item.lx-list-item-active,
.lx-modal .lx-master-detail .lx-list-item-wrapper .lx-list-item.lx-list-item-active{
    background-color: var(--color-region-2);
}

.lx-region .lx-master-detail .lx-list-item-wrapper .lx-list-item.lx-list-item-active:hover,
.lx-modal .lx-master-detail .lx-list-item-wrapper .lx-list-item.lx-list-item-active:hover{
    background-color: var(--color-region-hover);
}

.lx-master-detail .lx-list-item-wrapper .lx-list-item.lx-list-item-active{
    background-color: var(--color-region);
}

.lx-master-detail .lx-list-item{
    padding: 0.25rem 0.5rem 0.25rem 1.25rem;
}

.lx-master-detail .lx-list-item[class*="category"]{
    padding-left: 0.25rem;
}

.lx-master-detail-list li .lx-category-red header {
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-red);
}

.lx-master-detail-list li .lx-category-blue header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-blue);
}

.lx-master-detail-list li .lx-category-green header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-green);
}

.lx-master-detail-list li .lx-category-purple header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-purple);
}

.lx-master-detail-list li .lx-category-orange header{
    padding-left: 0.75rem;  border-left: solid 0.25rem var(--color-orange);
}

.lx-master-detail-list li .lx-category-bad header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-bad);
}

.lx-master-detail-list li .lx-category-new header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-new);
}

.lx-master-detail-list li .lx-category-good header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-good);
}

.lx-master-detail-list li .lx-category-draft header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-draft);
}

.lx-master-detail-list li .lx-category-error header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-error);
}

.lx-master-detail-list li .lx-category-edited header,
.lx-master-detail-list li .lx-category-editing header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-edited);
}

.lx-master-detail-list li .lx-category-signed header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-signed);
}

.lx-master-detail-list li .lx-category-ongoing header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-ongoing);
}

.lx-master-detail-list li .lx-category-waiting header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-waiting);
}

.lx-master-detail-list li .lx-category-deleted header,
.lx-master-detail-list li .lx-category-deleting header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-deleted);
}

.lx-master-detail-list li .lx-category-disabled header,
.lx-master-detail-list li .lx-category-disabling header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-disabled);
}

.lx-master-detail-list li .lx-category-inactive header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-inactive);
}

.lx-master-detail-list li .lx-category-finished header,
.lx-master-detail-list li .lx-category-finishing header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-finished);
}

.lx-master-detail-list li .lx-category-incomplete header{
    padding-left: 0.75rem;
    border-left: solid 0.25rem var(--color-incomplete);
}

.lx-master-detail .lx-master-detail-list .lx-list-item-wrapper .lx-primary{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.lx-master-detail .lx-master-detail-list .lx-list-item-wrapper header{
    max-width: calc(100% - 2.5rem);
}

.lx-master-detail .lx-master-detail-list .lx-list-item.lx-invalid header{
    max-width: calc(100% - 4.5rem);
}

@media (max-width: 1200px) {

    .lx-master-detail .lx-detail {
        max-width: 100%;
    }

    .lx-master-detail>nav {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .lx-master-detail>nav.lx-master>ul {
        overflow-y: auto;
        height: calc(100% - var(--row-size));
    }

    .lx-master-detail .lx-detail{
        border-left: solid var(--color-chrome) 0.125rem;
    }
}