.lx-master-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.lx-master-detail .lx-master {
    width: var(--aside-size);
}

.lx-layout.lx-layout-default.lx-collapsed nav.lx-master,
.lx-layout.lx-layout-public.lx-collapsed nav.lx-master{
    margin-left: 0;
}

.lx-master-detail .lx-master ul {
    padding: 0;
    margin-top: 0;
    margin-block-end: 0;
}

.lx-master-detail .lx-master .lx-button {
    width: calc(100% - 0.25rem);
    margin: 0 0.125rem;
}

.lx-master-detail .lx-master li:last-of-type {
    margin-bottom: 0.2rem;
}

.lx-master-detail .lx-master li:first-of-type {
    margin-top: 0.2rem;
}

.lx-master-detail .lx-master li svg {
    height: 1.5rem;
    flex-shrink: 0;
}

.lx-master-detail .lx-detail {
    width: 100%;
    max-width: calc(100% - var(--aside-size));
    padding-left: 1rem;
}

.lx-master-detail .lx-master li {
    display: flex;
    flex-direction: column;
    justify-self: start;
    list-style-type: none;
    font-weight: var(--font-weight-bold);
    min-height: var(--row-size);
    justify-content: center;
    margin: 0 0.125rem;
}

.lx-secondary {
    font-weight: normal;
    font-size: var(--small-font-size);
    color: var(--color-label);
    line-height: 1.1em;
    margin-top: 0.05rem;
}

.lx-master-detail-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.2rem;
}

.lx-master-detail .lx-master li.label-item,
.lx-master-detail .lx-master li.label-item:hover {
    background-color: var(--color-disabled-foreground);
}

.label-item>span.lx-secondary {
    color: var(--color-data);
    line-height: 1.1rem;
}

.lx-master-detail .lx-master li.lx-selected .lx-secondary,
.lx-master-detail .lx-master li:hover .lx-secondary {
    color: var(--color-data);
}

.lx-master-detail .lx-master{
    padding-right: 1rem;
}

.lx .lx-master-detail .lx-master .lx-list-item-wrapper:has(.lx-list-item.lx-list-item-active.lx-invalid) {
    border-color: var(--color-list-selected-border);
}

.lx .lx-master-detail .lx-master .lx-list-item-wrapper:has(.lx-list-item.lx-invalid) {
    border-color: var(--color-bad);
}

.lx .lx-master-detail .lx-master .lx-list-item.lx-invalid .invalid-icon {
    height: 1.5rem;
    fill: var(--color-bad);
    grid-area: invalid-icon;
}

.lx.lx-theme-contrast .lx-list-item.lx-selected.lx-invalid .invalid-icon {
    fill: var(--color-list-icon-selected);
}

.lx-master-detail li:hover .lx-list-item .invalid-icon{
    fill: var(--color-list-foreground-hover);
}

.lx-master-detail li:focus-visible:has(.lx-list-item.lx-active){
    outline: solid var(--color-focus-background) 0.125rem;
}

.lx-master-detail .lx-master-detail-list .lx-list-item-wrapper .lx-primary{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.lx-master-detail .lx-master-detail-list .lx-list-item-wrapper header{
    max-width: calc(100% - 1.55rem);
}

.lx-master-detail .lx-master-detail-list .lx-list-item.lx-invalid header{
    max-width: calc(100% - 1rem);
}

/* Pagaidu variants */
.lx-master-detail .lx-list-item .lx-inner-content-wrapper{
    grid-template-areas: 'category inner-content invalid-icon icon';
    grid-template-columns: auto 1fr auto auto;
}

.lx-master-detail:not(.nav-border) > .lx-detail{
    border-left: solid var(--color-chrome) 0.125rem;
}

.lx-master-detail.nav-border > .lx-master{
    border-right: solid var(--color-chrome) 0.125rem;
}

@media (max-width: 1200px) {

    .lx-master-detail .lx-detail {
        max-width: 100%;
    }

    .lx-master-detail>nav {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .lx-master-detail>nav.lx-master>ul {
        overflow-y: auto;
        height: calc(100% - var(--row-size));
    }

    .lx-master-detail .lx-detail{
        border-left: solid var(--color-chrome) 0.125rem;
    }

    .lx-master-detail > .lx-master{
        border-right: solid var(--color-chrome) 0.125rem;
    }
}