.lx-master-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.lx-master-detail .lx-master {
    width: var(--aside-size);
    padding-right: 1rem;
}

.lx-layout.lx-layout-default.lx-collapsed nav.lx-master,
.lx-layout.lx-layout-public.lx-collapsed nav.lx-master,
.lx-layout.lx-layout-latvijalv.lx-collapsed nav.lx-master {
    margin-left: 0;
}

.lx-master-detail .lx-master ul {
    padding: 0;
    margin-top: 0;
    margin-block-end: 0;
}

.lx-master-detail .lx-master .lx-button {
    width: 100%;
    margin: 0;
    --button-tertiary-outline-offset: -4px;
}

.lx-master-detail .lx-master li:last-of-type {
    margin-bottom: 0.2rem;
}

.lx-master-detail .lx-master li:first-of-type {
    margin-top: 0.2rem;
}

.lx-master-detail .lx-master li svg {
    height: 1.5rem;
    flex-shrink: 0;
}

.lx-master-detail .lx-detail {
    width: 100%;
    max-width: calc(100% - var(--aside-size));
    padding-left: 1rem;
}

.lx-secondary {
    font-weight: normal;
    font-size: var(--small-font-size);
    color: var(--color-label);
    line-height: 1.1em;
    padding-top: 0.05rem;
}

.lx-master-detail-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.2rem;
    list-style-type: none;
}

.lx-master-detail .lx-master li.label-item,
.lx-master-detail .lx-master li.label-item:hover {
    background-color: var(--color-disabled-foreground);
}

.label-item>span.lx-secondary {
    color: var(--color-data);
    line-height: 1.1rem;
}

.lx-master-detail .lx-master .lx-list-item:not(.lx-list-item-disabled) li.lx-selected .lx-secondary,
.lx-master-detail .lx-master .lx-list-item:not(.lx-list-item-disabled) li:hover .lx-secondary {
    color: var(--color-data);
}

.lx .lx-master-detail .lx-master .lx-list-item-wrapper:has(.lx-list-item.lx-list-item-active.lx-invalid) {
    border-color: var(--color-selected-border);
}

.lx .lx-master-detail .lx-master .lx-list-item-wrapper:has(.lx-list-item.lx-invalid) {
    border-color: var(--color-bad);
}

.lx .lx-master-detail .lx-master .lx-list-item.lx-invalid .lx-invalidation-icon {
    height: 1.5rem;
    fill: var(--color-bad);
    grid-area: invalid-icon;
}

.lx.lx-theme-contrast .lx-list-item.lx-selected.lx-invalid .lx-invalidation-icon {
    fill: var(--color-selected);
}

.lx-master-detail li:hover .lx-list-item .lx-invalidation-icon {
    fill: var(--color-region-hover-foreground);
}

.lx-master-detail li:focus-visible:has(.lx-list-item.lx-active){
    outline: solid var(--color-focus-background) 0.125rem;
}

.lx-master-detail .lx-master-detail-list .lx-list-item-wrapper .lx-primary{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.lx-master-detail:not(.nav-border) > .lx-detail{
    border-left: solid var(--color-chrome) 0.125rem;
}

.lx-master-detail.nav-border > .lx-master{
    border-right: solid var(--color-chrome) 0.125rem;
}

@media (max-width: 1200px) {

    .lx-master-detail .lx-detail {
        max-width: 100%;
        border-left: solid var(--color-chrome) 0.125rem;
    }

    .lx-master-detail>nav {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .lx-master-detail>nav.lx-master>ul {
        overflow-y: auto;
        height: calc(100% - var(--row-size));
    }

    .lx-master-detail > .lx-master{
        border-right: solid var(--color-chrome) 0.125rem;
    }
}