.lx-curtain {
  background: var(--color-cover-background);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lx-curtain .lx-modal>header:not(.lx-pseudo-grid .lx-labels):not(.lx-list-toolbar):not(.lx-list-item header):not(.lx-filter header.lx-head) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  --color-button-ghost-icon: var(--color-data);
  --color-button-ghost-icon-focus: var(--color-data);
}

.lx-curtain .lx-modal header:not(.lx-pseudo-grid .lx-labels):not(.lx-list-toolbar):not(.lx-head):not(.lx-list-item header):not(.lx-filter header.lx-head):not(.lx-form-grid header.lx-sticky):not(.lx-data-block-header) .lx-primary {
  margin-left: 1rem;
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--color-data);
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-curtain .lx-modal header:not(.lx-pseudo-grid .lx-labels):not(.lx-list-toolbar):not(.lx-list-item header):not(.lx-filter header.lx-head) .lx-button {
  align-self: flex-start;
  min-width: var(--row-size);
}

.lx.lx-theme-light .lx-curtain {
    --color-cover-background : rgba(0, 0, 0, 0.5);
}

.lx-modal {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  background-color: var(--color-region);
  min-height: var(--row-size);
  max-height: calc(100dvh - calc(var(--row-size) * 2)); /* var(--row-size) * 2, to reserve space for top & bottom margin */
  border: var(--region-border);
  min-width: var(--aside-size);
  margin: var(--row-size);
  box-shadow: var(--shadow-modal);
}

#modals .lx-modal > header,
#modals .lx-modal > footer {
  position: relative;
}

#modals:not(.lx-theme-contrast #modals):not(.lx-no-transparency #modals) .lx-modal > header::after {
  background: linear-gradient(0deg, transparent 0%, var(--color-background) 100%);
  content: '';
  height: var(--modal-header-size);
  position: absolute;
  top: var(--modal-header-size);
  left: 0;
  right: 0;
  opacity: 0;
  opacity: var(--modal-top-shadow-opacity);
  pointer-events: none;
}

#modals:not(.lx-theme-contrast #modals):not(.lx-no-transparency #modals) .lx-modal > footer::before {
  background: linear-gradient(180deg, transparent 0%, var(--color-background) 100%);
  content: '';
  height: var(--modal-footer-size);
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--modal-footer-size);
  opacity: 0;
  opacity: var(--modal-bottom-shadow-opacity);
  pointer-events: none;
}

.lx-modal>.lx-main {
  padding: var(--padding-modal); 
  overflow-y: auto;
}

.lx-modal.lx-modal-xs {
  width: var(--aside-size);
}

.lx-modal.lx-modal-s {
  width: 40rem;
}

.lx-modal.lx-modal-m {
  width: 60rem;
}

.lx-modal.lx-modal-l {
  width: var(--body-column-size);
}

.lx-modal.lx-modal-xl {
  width: 100%;
}

@media (max-width: 800px) {
  #modals .lx-modal {
    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    max-width: 100dvw;
    margin: 0;
  }
}

#modals dialog.lx-modal {
  border: none;
  margin: auto;
  padding: 0;
}

dialog.lx-modal::backdrop {
  background-color: var(--color-cover-background);
}

dialog.lx-modal>header>.lx-primary {
  margin-left: 1rem;
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--color-data);
  padding-top: 0.5rem;
  display: block;
  padding-right: 3rem;
}

.lx dialog.lx-modal>.lx-button-set>.lx-button {
  font-weight: var(--font-weight-interactive);
}

.lx dialog.lx-modal>header>.lx-button {
  border-color: transparent;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  --color-button-ghost-icon: var(--color-data);
  --color-button-ghost-icon-focus: var(--color-data);
}

dialog {
  outline: none;
}

.lx-modal>header>label {
  overflow-wrap: break-word;
  padding-right: 1rem;
}

.lx-modal.lx-modal-s>header>label {
  max-width: calc(40rem - var(--row-size) - 2rem);
}

.lx-modal.lx-modal-m>header>label {
  max-width: calc(60rem - var(--row-size) - 2rem);
}

.lx-modal.lx-modal-l>header>label {
  max-width: calc(var(--body-column-size) - var(--row-size) - 2rem);
}

.lx-modal.lx-modal-xl>header>label {
  max-width: calc(100% - var(--row-size) - 2rem);
}

/* LxDialog */

.lx-dialog > header .lx-illustration {
  height: 4rem;
  width: 4rem;
}

.lx-dialog > header .lx-illustration > svg {
  fill: var(--illustration-color);
}

.lx-dialog > header > .illustration-wrapper {
  padding: 1rem 1rem 0 1rem;
}

.lx-dialog > .lx-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* LxModalForm */

.lx-modal-form > .lx-main {
  padding: 0;
}

.lx-layout .lx-modal.lx-modal-form .lx-form-grid>header.lx-sticky {
  top: 0;
}

@media (max-height: 499px) {
  .lx-modal-form .lx-form-grid > header.lx-sticky{
    position: sticky;
  }
}
