.lx {
  --color-brand: #254cd4;
  --color-interactive-background: #254cd4;
  --color-interactive-hover-background: #000b40;
  --color-background: #eef1f3;
  --color-layout-background: #000b40;
  --color-nav-hover-background: #010620;
  --color-interactive-secondary-background: #000b40;
  --color-grid-hover-background: #ddd;
  --color-label: #565947;
  --color-bad: #ff4b33;
  --color-destructive: #ff4b33;
  --color-good: #0d382c;
  --color-data: #000;

  --color-button-nav-selected-background: #6687ff;
}

.lx.lx-theme-dark {
  --color-background: #121317;
  --color-region-2: #121317;
  --color-region-hover: #323339;
  --color-layout-background: #09090c;
  --color-brand: #7596ff;
  --color-foreground: #f8f8f8;
  --color-region: #242529;
  --color-interactive-background: #7596ff;
  --color-interactive-hover-background: #254cd4;
  --color-interactive-secondary-foreground: #fff;
  --color-label: #9b9c9f;
  --color-notification-success-foreground: #219444;
  --color-focus-background: #6687ff;
  --color-button-nav: var(--color-foreground);
  --color-button-nav-selected-background: var(--color-highlight);
}
