.lx {
  --color-h: 264;
  --color-s: 92%;
  --color-l: 58%;

  --color-brand-secondary: #4B0DA7;

  --color-background: #f5efff;
  --color-chrome: rgba(0, 0, 0, 0.1);
  --color-region-2: var(--color-background);
  --color-data: #000000;
  --color-label: #000000;
  --color-highlight: hsl(264, 100%, 95%);

  --color-red: #e83077;

  --list-item-border: 1px solid var(--color-chrome);
  --region-border: var(--list-item-border);
  --radius-default: calc(var(--row-size) / 2);
  --radius-1: var(--radius-default);
  --list-item-border-radius: var(--radius-default);

  --input-border-radius: var(--radius-default);
  --input-border-bottom: var(--input-border);

  --color-button-nav-selected-background: var(--color-highlight);

  --button-secondary-border: 1px solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-focus-background: var(--color-region);
  --color-button-secondary-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);
}

.lx.lx-theme-dark {
  --color-h-dark: 270;
  --color-s-dark: 100%;
  --color-l-dark: 73%;

  --color-brand-secondary: #993FFF;

  --color-highlight: hsl(264, 50%, 33%);
  --color-background: #18151d;
  --color-region-2: var(--color-background);
  --color-chrome: #0d0c10;

  --button-secondary-border: 1px solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-focus-background: var(--color-region);
  --color-button-secondary-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);
}