.lx {
  font-size: var(--font-size);
  --font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    Courier, monospace;
  --font-features-mono: 'ss04';
  --font-smoothing-moz: grayscale;
  --font-smoothing-wk: antialiased;
  --text-rendering: optimizeLegibility;
  --font-size: 15px;
  --font-weight: 400;
  --font-weight-interactive: 400;
  --font-weight-data: 600;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --text-decoration-link: underline;

  --color-preview-backdrop: rgba(0, 0, 0, 0.1);

  --description-font-weight: 400;

  --h1-font-size: 3.3rem;
  --h1-font-weight: 300;
  --h2-font-size: 1.5rem;
  --h2-font-weight: 500;
  --small-font-size: 0.8rem;
  --label-font-size: 0.8rem;
  --data-weight: 600;

  --letter-spacing-1: 0.01rem;
  --letter-spacing-2: 0.02rem;

  --gap: 1rem;
  --gap-form: 2rem;
  --gap-buttons: 0.5rem;

  --gap-form-small-side: 1rem;
  --gap-form-small: 2rem var(--gap-form-small-side) 1rem var(--gap-form-small-side);

  --row-size: 3rem;
  --row-dynamic: var(--row-size);
  --nav-row-size: 3rem;
  --public-nav-header-size: calc(var(--nav-row-size) + var(--row-size));
  --notification-size: 28rem;
  --body-column-size: 1300px;
  --form-column-size: 30rem;
  --aside-size: 16rem;
  --grid-primary-button-size: 12rem;
  --icon-size: 2rem;
  --indicator-size: 2.5rem;
  --content-switcher-height: 2.5rem;

  --content-padding-l: 16rem;
  --content-padding: 8rem;
  --content-padding-s: 2rem;
  --aside-border: 0px solid var(--color-chrome);
  --region-border: none;
  --region-border-transparent: 2px solid transparent;
  --toggle-border: 2px solid transparent;
  --margin-default: 0.25rem;
  --tab-border: 4px solid transparent;

  --notification-border: 0px 0px 0px 4px;

  --padding: 0.5rem;
  --padding-dropdown: 0.5rem;
  --padding-cell: 0.75rem 1rem;
  --padding-grid-header: 1rem;
  --padding-min: 1rem;
  --padding-form: 3rem 2rem;
  --padding-default: var(--gap);
  --padding-modal: 1rem 2rem 2rem 2rem;
  --padding-form-negative: -2rem;
  --padding-tab-body: 1rem 2rem 1rem 2rem;

  --radius-default: 0;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;

  --shadow-1: 0 1px 2px 0 var(--color-shadow);
  --shadow-dropdown: 0 4px 8px 0 var(--color-shadow);
  --shadow-modal: 0 1px 2px 0 var(--color-shadow);


  --screen-xxxl: 2000px;
  --screen-xxl: 1900px;
  --screen-xl: 1784px;
  --screen-l: 1584px;
  --screen-m: 1312px;
  --screen-s: 1056px;
  --screen-xs: 800px;
  --screen-xxs: 672px;
  --screen-xxxs: 320px;

  --selected-border: 2px solid var(--color-selected-border);
  --selected-dropdown-border: 2px solid var(--color-selected-dropdown-border);

  --card-min-height: 12rem;
  --card-border: 2px solid var(--color-card-background);
  --card-border-region: 2px solid var(--color-card-background-region);
  --card-border-radius: 0;
  --card-padding: 1rem;
  --card-width: auto;

  --tile-width: 20rem;
  --tile-width-x2-size: calc(var(--tile-width) * 2 + 1rem);
  --tile-min-height: 12rem;
  --tile-mini-min-height: 3rem;

  --tile-grid-areas: 'icon-loader' 'content' 'custom-content';
  --tile-grid-template-columns: 1fr;
  --tile-grid-template-rows: auto 1fr auto;
  --tile-mini-grid-areas: 'icon-loader content';
  --tile-mini-grid-template-columns: auto 1fr;
  --tile-mini-grid-template-rows: 1fr;
  --tile-header-min-height: var(--list-item-header-min-height);
  --tile-mini-header-min-height: 2.25rem;
  --tile-border: var(--list-item-border);
  --tile-border-radius: var(--list-item-border-radius);
  --tile-border-radius-inner: var(--tile-border-radius);
  --tile-icon-padding: 0;
  --tile-mini-icon-padding: var(--tile-icon-padding);
  --tile-icon-height: var(--icon-size);
  --tile-icon-width: var(--icon-size);
  --tile-loader-padding: 0.4rem 0rem 0.35rem 0rem;
  --tile-mini-loader-padding: 0 0.75rem 0 0;
  --tile-header-padding: 0;
  --tile-padding: 1rem;
  --tile-text-primary-font-size: var(--list-text-primary-font-size);
  --tile-text-primary-line-height: var(--list-text-primary-line-height);
  --tile-text-primary-font-weight: var(--list-text-primary-font-weight);
  --tile-text-primary-padding: 0;
  --tile-text-primary-margin: 1.45rem 0 0 0;
  --tile-mini-text-primary-margin: 0 0 0 1rem;
  --tile-text-secondary-font-size: var(--list-text-secondary-font-size);
  --tile-text-secondary-line-height: var(--list-text-secondary-line-height);
  --tile-text-secondary-font-weight: var(--list-text-secondary-font-weight);
  --tile-text-secondary-padding: 0;
  --tile-text-secondary-margin: 1.2rem 0 0 0;

  --list-button-border-radius: 0;
  --list-button-height: calc(var(--row-size) - 4px);
  --list-button-width: var(--row-size);
  --list-category-border-radius: 0;
  --list-category-margin: 0.25rem;
  --list-category-width: 0.25rem;
  --list-icon-height: 1.5rem;
  --list-icon-padding: 0.6rem 0.75rem 0 0.75rem;
  --list-icon-width: 1.5rem;
  --list-item-min-height: var(--row-size);
  --list-item-gap: 0.5rem;
  --list-item-header-padding: 0.35rem 0.35rem 0.2rem 0.5rem;
  --list-item-header-min-height: 2.75rem;
  --list-item-border: 2px solid transparent;
  --list-item-border-radius: 0;
  --list-item-border-radius-inner: var(--list-item-border-radius);
  --list-item-loader-padding: 0.85rem 1rem 0 1rem;
  --list-item-selecting-block-padding: 0.8rem 0.95rem 0 0.95rem;
  --list-item-width: auto;
  --list-grid-areas: 'category content invalid-icon icon loader actions selecting';
  --list-grid-inner-column-span: 1 / span 4;
  --list-grid-outer-column-span: 1 / span 6;
  --list-grid-template-columns: auto 1fr auto auto auto auto auto;
  --list-text-primary-font-size: var(--font-size);
  --list-text-primary-font-weight: bold;
  --list-text-primary-line-height: 1.2em;
  --list-text-primary-margin: -0.1rem 0 0 0;
  --list-text-primary-padding: 0.1rem 0 0.1rem 0;
  --list-text-secondary-font-size: var(--small-font-size);
  --list-text-secondary-font-weight: var(--description-font-weight);
  --list-text-secondary-line-height: 1.2em;
  --list-text-secondary-margin: -0.15rem 0 -0.05rem 0;
  --list-text-secondary-padding: 0.1rem 0 0.05rem 0;
  --list-draggable-grid-areas: 'handle category content icon actions';
  --list-draggable-grid-inner-column-span: 1 / span 3;
  --list-draggable-grid-outer-column-span: 2 / span 4;
  --list-draggable-grid-template-columns: auto auto 1fr auto auto;
  --list-draggable-handle-icon-height: var(--icon-size);
  --list-draggable-handle-icon-width: var(--icon-size);
  --list-draggable-handle-width: var(--row-size);
  --list-treelist-expander-height: var(--row-size);
  --list-treelist-expander-width: var(--row-size);
  --list-treelist-grid-areas: 'expander treelist-content';
  --list-treelist-grid-template-columns: auto 1fr;
  --list-treelist-indent-left: var(--row-size);
  --list-treelist-indent-right: 0;
  --list-treelist-indent-child-left: var(--row-size);
  --list-treelist-indent-child-right: 0;

  --input-border: 2px solid transparent;
  --input-border-bottom: 1px solid var(--color-label);
  --input-border-radius: 0;
  --input-button-border-radius: 0;
  --input-button-height: 2.5rem;
  --input-button-indent-left: 0rem;
  --input-button-indent-right: var(--input-icon-wrapper-width);
  --input-button-width: 2.5rem;
  --input-container-height: 2.5rem;
  --input-container-min-height-text-area: 6rem;
  --input-container-padding-left: 1rem;
  --input-container-padding-right: 1rem;
  --input-container-padding-vertical-text-area: 0.3rem;
  --input-container-width: auto;
  --input-container-width-large: 14rem;
  --input-container-width-small: 10.5rem;
  --input-grid-areas: 'tag input invalid-icon icon button';
  --input-grid-template-columns: auto 1fr auto auto auto;
  --input-icon-height: 1.25rem;
  --input-icon-indent-left: 0rem;
  --input-icon-indent-right: var(--input-icon-wrapper-width);
  --input-icon-width: 1.25rem;
  --input-icon-wrapper-height: 100%;
  --input-icon-wrapper-width: var(--input-button-width);
  --input-invalid-icon-height: 1.15rem;
  --input-invalid-icon-indent-left: 0rem;
  --input-invalid-icon-indent-right: var(--input-icon-wrapper-width);
  --input-invalid-icon-width: 1.15rem;
  --input-tag-height: 1.5rem;
  --input-tag-indent-left: calc(var(--input-tag-width) + 1rem);
  --input-tag-indent-right: 0rem;
  --input-tag-margin: 0 0.5rem;
  --input-tag-width: 2.75rem;
  --input-text-font-size: var(--font-size);
  --input-text-font-weight: 400;

  --button-cursor: pointer;
  --button-badge-padding: 0 0.25rem 0 0.25rem;
  --button-icon-justify: center;
  --button-icon-margin: 0 -0.4rem; /* For better icon placement regardless of grid-areas. */
  --button-loader-margin: 0 -0.25rem; /* For better loader placement regardless of grid-areas. */
  --button-set-gap: 0.5rem;
  --button-text-decoration: none;
  --button-dropdown-align: center;
  --button-dropdown-border: 2px solid var(--color-button-dropdown-background);
  --button-dropdown-border-radius: var(--radius-default);
  --button-dropdown-font-size: inherit;
  --button-dropdown-font-weight: var(--font-weight-interactive);
  --button-dropdown-gap: 1.35rem;
  --button-dropdown-grid-areas: 'content icon';
  --button-dropdown-grid-template-columns: 1fr auto;
  --button-dropdown-grid-template-rows: 1fr;
  --button-dropdown-height: var(--row-size-dynamic);
  --button-dropdown-icon-height: 1.5rem;
  --button-dropdown-icon-width: 1.55rem;
  --button-dropdown-margin: 0;
  --button-dropdown-min-width: var(--row-size);
  --button-dropdown-outline-offset: -2px;
  --button-dropdown-padding: 0 1rem;
  --button-dropdown-set-gap: 0.1rem;
  --button-dropdown-text-align: left;
  --button-dropdown-text-decoration: none;
  --button-dropdown-width: 100%;
  --button-toolbar-group-gap: 0;
  --button-toolbar-gap: 0;
  --button-toolbar-primary-align: center;
  --button-toolbar-primary-border: 2px solid var(--color-button-toolbar-primary-background);
  --button-toolbar-primary-border-radius: var(--radius-default);
  --button-toolbar-primary-font-size: inherit;
  --button-toolbar-primary-font-weight: var(--font-weight-interactive);
  --button-toolbar-primary-gap: 1.35rem;
  --button-toolbar-primary-grid-areas: 'content icon';
  --button-toolbar-primary-grid-template-columns: minmax(max-content, 1fr) auto;
  --button-toolbar-primary-grid-template-rows: 1fr;
  --button-toolbar-primary-height: var(--row-size);
  --button-toolbar-primary-icon-height: 1.5rem;
  --button-toolbar-primary-icon-width: 1.55rem;
  --button-toolbar-primary-margin: 0;
  --button-toolbar-primary-min-width: var(--row-size);
  --button-toolbar-primary-outline-offset: 0;
  --button-toolbar-primary-padding: 0 1rem;
  --button-toolbar-primary-text-align: left;
  --button-toolbar-primary-text-decoration: none;
  --button-toolbar-primary-width: auto;
  --button-toolbar-primary-icon-only-height: var(--button-toolbar-primary-height);
  --button-toolbar-primary-icon-only-min-width: var(--button-toolbar-primary-min-width);
  --button-toolbar-primary-icon-only-padding: 0;
  --button-toolbar-primary-icon-only-width: auto;
  --button-toolbar-secondary-align: center;
  --button-toolbar-secondary-border: 2px solid var(--color-interactive-secondary-background);
  --button-toolbar-secondary-border-radius: var(--radius-default);
  --button-toolbar-secondary-font-size: inherit;
  --button-toolbar-secondary-font-weight: var(--font-weight-interactive);
  --button-toolbar-secondary-gap: 1.35rem;
  --button-toolbar-secondary-grid-areas: 'content icon';
  --button-toolbar-secondary-grid-template-columns: minmax(max-content, 1fr) auto;
  --button-toolbar-secondary-grid-template-rows: 1fr;
  --button-toolbar-secondary-height: var(--row-size);
  --button-toolbar-secondary-icon-height: 1.5rem;
  --button-toolbar-secondary-icon-width: 1.55rem;
  --button-toolbar-secondary-margin: 0;
  --button-toolbar-secondary-min-width: var(--row-size);
  --button-toolbar-secondary-outline-offset: 0;
  --button-toolbar-secondary-padding: 0 1rem;
  --button-toolbar-secondary-text-align: left;
  --button-toolbar-secondary-text-decoration: none;
  --button-toolbar-secondary-width: auto;
  --button-toolbar-secondary-icon-only-height: var(--button-toolbar-secondary-height);
  --button-toolbar-secondary-icon-only-min-width: var(--button-toolbar-secondary-min-width);
  --button-toolbar-secondary-icon-only-padding: 0;
  --button-toolbar-secondary-icon-only-width: auto;
  --button-toolbar-tertiary-align: center;
  --button-toolbar-tertiary-border: 2px solid var(--color-interactive-background);
  --button-toolbar-tertiary-border-radius: var(--radius-default);
  --button-toolbar-tertiary-font-size: inherit;
  --button-toolbar-tertiary-font-weight: var(--font-weight-interactive);
  --button-toolbar-tertiary-gap: 1.35rem;
  --button-toolbar-tertiary-grid-areas: 'content icon';
  --button-toolbar-tertiary-grid-template-columns: minmax(max-content, 1fr) auto;
  --button-toolbar-tertiary-grid-template-rows: 1fr;
  --button-toolbar-tertiary-height: var(--row-size);
  --button-toolbar-tertiary-icon-height: 1.5rem;
  --button-toolbar-tertiary-icon-width: 1.55rem;
  --button-toolbar-tertiary-margin: 0;
  --button-toolbar-tertiary-min-width: var(--row-size);
  --button-toolbar-tertiary-outline-offset: 0;
  --button-toolbar-tertiary-padding: 0 1rem;
  --button-toolbar-tertiary-text-align: left;
  --button-toolbar-tertiary-text-decoration: none;
  --button-toolbar-tertiary-width: auto;
  --button-toolbar-tertiary-icon-only-height: var(--button-toolbar-tertiary-height);
  --button-toolbar-tertiary-icon-only-min-width: var(--button-toolbar-tertiary-min-width);
  --button-toolbar-tertiary-icon-only-padding: 0;
  --button-toolbar-tertiary-icon-only-width: auto;
  --button-toolbar-ghost-align: center;
  --button-toolbar-ghost-border: 2px solid transparent;
  --button-toolbar-ghost-border-radius: var(--radius-default);
  --button-toolbar-ghost-font-size: inherit;
  --button-toolbar-ghost-font-weight: var(--font-weight-interactive);
  --button-toolbar-ghost-gap: 1.35rem;
  --button-toolbar-ghost-grid-areas: 'content icon';
  --button-toolbar-ghost-grid-template-columns: minmax(max-content, 1fr) auto;
  --button-toolbar-ghost-grid-template-rows: 1fr;
  --button-toolbar-ghost-height: var(--row-size);
  --button-toolbar-ghost-icon-height: 1.5rem;
  --button-toolbar-ghost-icon-width: 1.55rem;
  --button-toolbar-ghost-margin: 0;
  --button-toolbar-ghost-min-width: var(--row-size);
  --button-toolbar-ghost-outline-offset: -2px;
  --button-toolbar-ghost-padding: 0 1rem;
  --button-toolbar-ghost-text-align: left;
  --button-toolbar-ghost-text-decoration: none;
  --button-toolbar-ghost-width: auto;
  --button-toolbar-ghost-icon-only-height: var(--button-toolbar-ghost-height);
  --button-toolbar-ghost-icon-only-min-width: var(--button-toolbar-ghost-min-width);
  --button-toolbar-ghost-icon-only-padding: 0;
  --button-toolbar-ghost-icon-only-width: auto;
  --button-toolbar-selection-align: center;
  --button-toolbar-selection-border: 2px solid transparent;
  --button-toolbar-selection-border-radius: var(--radius-default);
  --button-toolbar-selection-font-size: inherit;
  --button-toolbar-selection-font-weight: var(--font-weight-interactive);
  --button-toolbar-selection-gap: 1.35rem;
  --button-toolbar-selection-grid-areas: 'content icon';
  --button-toolbar-selection-grid-template-columns: minmax(max-content, 1fr) auto;
  --button-toolbar-selection-grid-template-rows: 1fr;
  --button-toolbar-selection-height: var(--row-size);
  --button-toolbar-selection-icon-height: 1.5rem;
  --button-toolbar-selection-icon-width: 1.55rem;
  --button-toolbar-selection-margin: 0;
  --button-toolbar-selection-min-width: var(--row-size);
  --button-toolbar-selection-outline-offset: -2px;
  --button-toolbar-selection-padding: 0 1rem;
  --button-toolbar-selection-text-align: left;
  --button-toolbar-selection-text-decoration: none;
  --button-toolbar-selection-width: auto;
  --button-toolbar-selection-icon-only-height: var(--button-toolbar-selection-height);
  --button-toolbar-selection-icon-only-min-width: var(--button-toolbar-selection-min-width);
  --button-toolbar-selection-icon-only-padding: 0;
  --button-toolbar-selection-icon-only-width: auto;
  --button-nav-align: center;
  --button-nav-border: 2px solid transparent;
  --button-nav-border-radius: 0;
  --button-nav-font-size: inherit;
  --button-nav-font-weight: var(--font-weight-interactive);
  --button-nav-gap: 1.35rem;
  --button-nav-grid-areas: 'icon content';
  --button-nav-grid-template-columns: auto 1fr;
  --button-nav-grid-template-rows: 1fr;
  --button-nav-height: var(--row-size);
  --button-nav-icon-height: 1.5rem;
  --button-nav-icon-width: 1.55rem;
  --button-nav-margin: 0;
  --button-nav-min-width: var(--row-size);
  --button-nav-outline-offset: -2px;
  --button-nav-padding: 0 1rem;
  --button-nav-text-align: left;
  --button-nav-text-decoration: none;
  --button-nav-width: 100%;
  --button-nav-public-align: center;
  --button-nav-public-border: 0;
  --button-nav-public-border-radius: 0;
  --button-nav-public-font-size: inherit;
  --button-nav-public-font-weight: var(--font-weight-interactive);
  --button-nav-public-gap: 1.35rem;
  --button-nav-public-grid-areas: 'content';
  --button-nav-public-grid-template-columns: 1fr;
  --button-nav-public-grid-template-rows: 1fr;
  --button-nav-public-height: calc(var(--row-size) - 1.35px);
  --button-nav-public-icon-height: 1.5rem;
  --button-nav-public-icon-width: 1.55rem;
  --button-nav-public-margin: 0;
  --button-nav-public-min-width: var(--row-size);
  --button-nav-public-outline-offset: -2px;
  --button-nav-public-padding: 0 1rem;
  --button-nav-public-text-align: center;
  --button-nav-public-text-decoration: none;
  --button-nav-public-width: auto;
  --button-modal-primary-align: center;
  --button-modal-primary-border: 2px solid var(--color-button-dropdown-background);
  --button-modal-primary-border-radius: 0;
  --button-modal-primary-font-size: inherit;
  --button-modal-primary-font-weight: var(--font-weight-interactive);
  --button-modal-primary-height: auto;
  --button-modal-primary-margin: 0;
  --button-modal-primary-min-width: var(--row-size);
  --button-modal-primary-outline-offset: 0;
  --button-modal-primary-padding: 1rem 1rem 2rem 1rem;
  --button-modal-primary-text-align: left;
  --button-modal-primary-text-decoration: none;
  --button-modal-primary-width: 100%;
  --button-modal-secondary-align: center;
  --button-modal-secondary-border: 2px solid var(--color-button-dropdown-background);
  --button-modal-secondary-border-radius: 0;
  --button-modal-secondary-font-size: inherit;
  --button-modal-secondary-font-weight: var(--font-weight-interactive);
  --button-modal-secondary-height: auto;
  --button-modal-secondary-margin: 0;
  --button-modal-secondary-min-width: var(--row-size);
  --button-modal-secondary-outline-offset: 0;
  --button-modal-secondary-padding: 1rem 1rem 2rem 1rem;
  --button-modal-secondary-text-align: left;
  --button-modal-secondary-text-decoration: none;
  --button-modal-secondary-width: 100%;
  --button-modal-set-flex-direction: row-reverse;
  --button-modal-set-gap: 0;
  --button-modal-set-justify: stretch;
  --button-modal-set-margin: 0;
  --button-modal-set-padding: 0;
  --button-primary-align: center;
  --button-primary-badge-inset: -0.66rem -0.66rem auto auto;
  --button-primary-empty-badge-inset: -0.56rem -0.56rem auto auto;
  --button-primary-border: 2px solid var(--color-interactive-background);
  --button-primary-border-radius: var(--radius-default);
  --button-primary-font-size: inherit;
  --button-primary-font-weight: var(--font-weight-interactive);
  --button-primary-gap: 1.35rem;
  --button-primary-grid-areas: 'content icon';
  --button-primary-grid-template-columns: 1fr auto;
  --button-primary-grid-template-rows: 1fr;
  --button-primary-height: var(--row-size);
  --button-primary-icon-height: 1.5rem;
  --button-primary-icon-width: 1.55rem;
  --button-primary-margin: 0;
  --button-primary-min-width: var(--row-size);
  --button-primary-outline-offset: 0;
  --button-primary-padding: 0 1rem;
  --button-primary-text-align: left;
  --button-primary-text-decoration: none;
  --button-primary-width: auto;
  --button-primary-icon-only-height: var(--button-primary-height);
  --button-primary-icon-only-min-width: var(--button-primary-min-width);
  --button-primary-icon-only-padding: 0;
  --button-primary-icon-only-width: auto;
  --button-secondary-align: center;
  --button-secondary-badge-inset: -0.66rem -0.66rem auto auto;
  --button-secondary-border: 2px solid var(--color-interactive-secondary-background);
  --button-secondary-border-radius: var(--radius-default);
  --button-secondary-font-size: inherit;
  --button-secondary-font-weight: var(--font-weight-interactive);
  --button-secondary-gap: 1.35rem;
  --button-secondary-grid-areas: 'content icon';
  --button-secondary-grid-template-columns: 1fr auto;
  --button-secondary-grid-template-rows: 1fr;
  --button-secondary-height: var(--row-size);
  --button-secondary-icon-height: 1.5rem;
  --button-secondary-icon-width: 1.55rem;
  --button-secondary-margin: 0;
  --button-secondary-min-width: var(--row-size);
  --button-secondary-outline-offset: 0;
  --button-secondary-padding: 0 1rem;
  --button-secondary-text-align: left;
  --button-secondary-text-decoration: none;
  --button-secondary-width: auto;
  --button-secondary-icon-only-height: var(--button-secondary-height);
  --button-secondary-icon-only-min-width: var(--button-secondary-min-width);
  --button-secondary-icon-only-padding: 0;
  --button-secondary-icon-only-width: auto;
  --button-tertiary-align: center;
  --button-tertiary-badge-inset: -0.66rem -0.66rem auto auto;
  --button-tertiary-border: 2px solid var(--color-interactive-background);
  --button-tertiary-border-radius: var(--radius-default);
  --button-tertiary-font-size: inherit;
  --button-tertiary-font-weight: var(--font-weight-interactive);
  --button-tertiary-gap: 1.35rem;
  --button-tertiary-grid-areas: 'content icon';
  --button-tertiary-grid-template-columns: 1fr auto;
  --button-tertiary-grid-template-rows: 1fr;
  --button-tertiary-height: var(--row-size);
  --button-tertiary-icon-height: 1.5rem;
  --button-tertiary-icon-width: 1.55rem;
  --button-tertiary-margin: 0;
  --button-tertiary-min-width: var(--row-size);
  --button-tertiary-outline-offset: 0;
  --button-tertiary-padding: 0 1rem;
  --button-tertiary-text-align: left;
  --button-tertiary-text-decoration: none;
  --button-tertiary-width: auto;
  --button-tertiary-icon-only-height: var(--button-tertiary-height);
  --button-tertiary-icon-only-min-width: var(--button-tertiary-min-width);
  --button-tertiary-icon-only-padding: 0;
  --button-tertiary-icon-only-width: auto;
  --button-ghost-align: center;
  --button-ghost-badge-inset: -0.25rem -0.25rem auto auto;
  --button-ghost-border: 2px solid transparent;
  --button-ghost-border-radius: var(--radius-default);
  --button-ghost-font-size: inherit;
  --button-ghost-font-weight: var(--font-weight-interactive);
  --button-ghost-gap: 1.35rem;
  --button-ghost-grid-areas: 'content icon';
  --button-ghost-grid-template-columns: 1fr auto;
  --button-ghost-grid-template-rows: 1fr;
  --button-ghost-height: var(--row-size);
  --button-ghost-icon-height: 1.5rem;
  --button-ghost-icon-width: 1.55rem;
  --button-ghost-margin: 0;
  --button-ghost-min-width: var(--row-size);
  --button-ghost-outline-offset: -2px;
  --button-ghost-padding: 0 1rem;
  --button-ghost-text-align: left;
  --button-ghost-text-decoration: none;
  --button-ghost-width: auto;
  --button-ghost-icon-only-height: var(--button-ghost-height);
  --button-ghost-icon-only-min-width: var(--button-ghost-min-width);
  --button-ghost-icon-only-padding: 0;
  --button-ghost-icon-only-width: auto;

  --stack-gap: var(--gap-buttons);
  --stack-gap-compact: 0rem;

  --badge-line-height: 1rem;
  --badge-border-radius: 1rem;
  --badge-padding: 0.25rem 0.375rem;
  --badge-min-width: 1.5rem;
  --badge-min-height: 1.5rem;
  --badge-gap: 0.25rem;
  --badge-icon-width: 1rem;
}

@media (pointer: coarse), (pointer: none) {
  .lx {
  --row-size-dynamic: var(--row-size);
  }
}

@media (pointer: fine) {
  .lx {
  --row-size-dynamic: 2rem;
  }
}