.lx {
  font-size: var(--font-size);
  --font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    Courier, monospace;
  --font-features-mono: 'ss04';
  --font-smoothing-moz: grayscale;
  --font-smoothing-wk: antialiased;
  --text-rendering: optimizeLegibility;
  --font-size: 15px;
  --font-weight: 400;
  --font-weight-interactive: 400;
  --font-weight-data: 600;
  --font-weight-bold: 600;
  --text-decoration-button: none;
  --text-decoration-link: underline;

  --color-preview-backdrop: rgba(0, 0, 0, 0.1);

  --description-font-weight: 400;

  --h1-font-size: 3.3rem;
  --h1-font-weight: 300;
  --h2-font-size: 1.5rem;
  --h2-font-weight: 500;
  --small-font-size: 0.8rem;
  --label-font-size: 0.8rem;
  --data-weight: 600;

  --letter-spacing-1: 0.01rem;
  --letter-spacing-2: 0.02rem;

  --gap: 1rem;
  --gap-form: 2rem;
  --gap-buttons: 0.5rem;

  --row-size: 3rem;
  --nav-row-size: 3rem;
  --input-size: 2.5rem;
  --date-size: 10.5rem;
  --date-time-size: 14rem;
  --notification-size: 28rem;
  --body-column-size: 1300px;
  --tile-column-size: 20rem;
  --tile-column-x2-size: calc(var(--tile-column-size) * 2 + 1rem);
  --tile-row-size: 12rem;
  --form-column-size: 30rem;
  --aside-size: 16rem;
  --grid-primary-button-size: 12rem;
  --icon-size: 2rem;
  --indicator-size: 2.5rem;
  --content-switcher-height: 2.5rem;

  --content-padding-l: 16rem;
  --content-padding: 8rem;
  --content-padding-s: 2rem;
  --aside-border: 0px solid var(--color-chrome);
  --region-border: none;
  --input-border: 1px solid transparent;
  --toggle-border: 2px solid transparent;
  --margin-default: 0.25rem;
  --margin-button-icon: 0 -0.35rem 0 1rem;
  --margin-button-icon-reverse: 0 1rem 0 -0.33rem;
  --tab-border: 4px solid transparent;

  --notification-border: 0px 0px 0px 4px;

  --padding: 0.5rem;
  --padding-tile: 1rem;
  --padding-button: 0 1rem;
  --padding-dropdown: 0.5rem;
  --padding-cell: 0.75rem 1rem;
  --padding-grid-header: 1rem;
  --padding-min: 1rem;
  --padding-form: 3rem 2rem;
  --padding-default: var(--gap);
  --padding-modal: 1rem 2rem 2rem 2rem;
  --padding-form-negative: -2rem;
  --padding-tab-body: 1rem 2rem 1rem 2rem;

  --button-border: 2px;

  --radius-default: 0;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;

  --shadow-1: 0 1px 2px 0 var(--color-shadow);
  --shadow-dropdown: 0 4px 8px 0 var(--color-shadow);
  --shadow-modal: 0 1px 2px 0 var(--color-shadow);

  --button-flex-direction: row-reverse;
  --button-justify: space-between;

  --screen-xxxl: 2000px;
  --screen-xxl: 1900px;
  --screen-xl: 1784px;
  --screen-l: 1584px;
  --screen-m: 1312px;
  --screen-s: 1056px;
  --screen-xs: 800px;
  --screen-xxs: 672px;
  --screen-xxxs: 320px;

  --list-category-width: 0.25rem;
  --list-expander-width: var(--row-size);
  --list-gap: 0.5rem;
  --list-handle-icon-height: var(--icon-size);
  --list-handle-icon-width: var(--icon-size);
  --list-handle-width: var(--row-size);
  --list-header-margin-right: 0.5rem;
  --list-header-min-height: var(--icon-size);
  --list-header-padding-left: 0.75rem;
  --list-icon-alignment: flex-start;
  --list-icon-height: 1.55rem;
  --list-icon-width: 1.55rem;
  --list-inner-content-padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  --list-inner-grid-areas: 'category inner-content icon';
  --list-item-border: 2px solid var(--color-list-item-border);
  --list-item-min-height: var(--row-size);
  --list-middle-grid-areas: 'middle-content loader actions';
  --list-outer-default-grid-areas: 'outer-content selecting';
  --list-outer-draggable-grid-areas: 'handle outer-content';
  --list-outer-treelist-grid-areas: 'expander outer-content selecting';
  --list-primary-font-size: var(--font-size);
  --list-primary-font-weight: bold;
  --list-primary-line-height: 1.2em;
  --list-secondary-font-size: var(--small-font-size);
  --list-secondary-font-weight: var(--description-font-weight);
  --list-secondary-line-height: 1em;
  --list-selecting-block-padding: 0.5rem 0.5rem 0;
  --list-selecting-block-width: var(--row-size);
  --list-toolbar-gap: var(--gap-buttons);
}