.lx {
    --color-h: 213;
    --color-s: 21%;
    --color-l: 36%;
    
    --color-highlight: #d8dce1;
    --color-background: #eff0f3;
    --color-data: #12161e;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-highlight: #404751;

    --color-button-nav-selected-background: var(--color-highlight);
  }