.lx {
  font-size: var(--font-size);
  --font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    Courier, monospace;
  --font-features-mono: 'ss04';
  --font-smoothing-moz: grayscale;
  --font-smoothing-wk: antialiased;
  --text-rendering: optimizeLegibility;
  --font-size: 15px;
  --font-weight: 400;
  --font-weight-interactive: 400;
  --font-weight-data: 600;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --text-decoration-button: none;
  --text-decoration-link: underline;

  --color-preview-backdrop: rgba(0, 0, 0, 0.1);

  --description-font-weight: 400;

  --h1-font-size: 3.3rem;
  --h1-font-weight: 300;
  --h2-font-size: 1.5rem;
  --h2-font-weight: 500;
  --small-font-size: 0.8rem;
  --label-font-size: 0.8rem;
  --data-weight: 600;

  --letter-spacing-1: 0.01rem;
  --letter-spacing-2: 0.02rem;

  --gap: 1rem;
  --gap-form: 2rem;
  --gap-buttons: 0.5rem;

  --row-size: 3rem;
  --nav-row-size: 3rem;
  --notification-size: 28rem;
  --body-column-size: 1300px;
  --tile-column-size: 20rem;
  --tile-column-x2-size: calc(var(--tile-column-size) * 2 + 1rem);
  --tile-row-size: 12rem;
  --form-column-size: 30rem;
  --aside-size: 16rem;
  --grid-primary-button-size: 12rem;
  --icon-size: 2rem;
  --indicator-size: 2.5rem;
  --content-switcher-height: 2.5rem;

  --content-padding-l: 16rem;
  --content-padding: 8rem;
  --content-padding-s: 2rem;
  --aside-border: 0px solid var(--color-chrome);
  --region-border: none;
  --toggle-border: 2px solid transparent;
  --margin-default: 0.25rem;
  --margin-button-icon: 0 -0.35rem 0 1rem;
  --margin-button-icon-reverse: 0 1rem 0 -0.33rem;
  --tab-border: 4px solid transparent;

  --notification-border: 0px 0px 0px 4px;

  --padding: 0.5rem;
  --padding-tile: 1rem;
  --padding-button: 0 1rem;
  --padding-dropdown: 0.5rem;
  --padding-cell: 0.75rem 1rem;
  --padding-grid-header: 1rem;
  --padding-min: 1rem;
  --padding-form: 3rem 2rem;
  --padding-default: var(--gap);
  --padding-modal: 1rem 2rem 2rem 2rem;
  --padding-form-negative: -2rem;
  --padding-tab-body: 1rem 2rem 1rem 2rem;

  --button-border: 2px;

  --radius-default: 0;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;

  --shadow-1: 0 1px 2px 0 var(--color-shadow);
  --shadow-dropdown: 0 4px 8px 0 var(--color-shadow);
  --shadow-modal: 0 1px 2px 0 var(--color-shadow);

  --button-flex-direction: row-reverse;
  --button-justify: space-between;

  --screen-xxxl: 2000px;
  --screen-xxl: 1900px;
  --screen-xl: 1784px;
  --screen-l: 1584px;
  --screen-m: 1312px;
  --screen-s: 1056px;
  --screen-xs: 800px;
  --screen-xxs: 672px;
  --screen-xxxs: 320px;

  --list-button-border-radius: 0;
  --list-category-border-radius: 0;
  --list-category-margin: 0.25rem;
  --list-category-width: 0.25rem;
  --list-draggable-inner-column-span: 1 / span 4;
  --list-draggable-grid-areas: 'handle category content invalid-icon icon loader actions';
  --list-draggable-grid-template-columns: auto auto 1fr auto auto auto auto;
  --list-draggable-outer-column-span: 2 / span 6;
  --list-expander-width: var(--row-size);
  --list-gap: 0.5rem;
  --list-handle-icon-height: var(--icon-size);
  --list-handle-icon-width: var(--icon-size);
  --list-handle-width: var(--row-size);
  --list-header-border-radius: var(--list-item-border-radius);
  --list-header-margin: 0.2rem 0 0 0;
  --list-header-padding: 0.35rem 0.35rem 0.2rem 0.5rem;
  --list-header-min-height: 2.5rem;
  --list-icon-height: 1.5rem;
  --list-icon-padding: 0.75rem 0.75rem 0 0.75rem;
  --list-icon-width: 1.5rem;
  --list-inner-column-span: 1 / span 4;
  --list-item-border: 2px solid var(--color-list-item-border);
  --list-item-border-radius: 0;
  --list-item-min-height: var(--row-size);
  --list-grid-areas: 'category content invalid-icon icon loader actions selecting';
  --list-grid-template-columns: auto 1fr auto auto auto auto auto;
  --list-outer-column-span: 1 / span 6;
  --list-primary-font-size: var(--font-size);
  --list-primary-font-weight: bold;
  --list-primary-line-height: 1.2em;
  --list-secondary-font-size: var(--small-font-size);
  --list-secondary-font-weight: var(--description-font-weight);
  --list-secondary-line-height: 1em;
  --list-selecting-block-padding: 0.9rem 0.95rem 0 0.95rem;
  --list-toolbar-gap: var(--gap-buttons);
  --list-treelist-child-left-indent: var(--row-size);
  --list-treelist-child-right-indent: 0;
  --list-treelist-grid-areas: 'expander treelist-content';
  --list-treelist-grid-template-columns: auto 1fr;
  --list-treelist-left-indent: 3rem;
  --list-treelist-right-indent: 0;

  --input-border: 2px solid transparent;
  --input-border-bottom: 1px solid var(--color-input-border-bottom);
  --input-border-radius: 0;
  --input-button-border-radius: 0;
  --input-button-height: 2.5rem;
  --input-button-left-indent: 0rem;
  --input-button-right-indent: var(--input-icon-wrapper-width);
  --input-button-width: 2.5rem;
  --input-date-time-width: 14rem;
  --input-date-width: 10.5rem;
  --input-font-size: var(--font-size);
  --input-font-weight: 400;
  --input-grid-areas: 'tag input invalid-icon icon button';
  --input-grid-template-columns: auto 1fr auto auto auto;
  --input-height: 2.5rem;
  --input-icon-height: 1.25rem;
  --input-icon-left-indent: 0rem;
  --input-icon-right-indent: var(--input-icon-wrapper-width);
  --input-icon-width: 1.25rem;
  --input-icon-wrapper-height: 100%;
  --input-icon-wrapper-width: var(--input-button-width);
  --input-invalid-icon-height: 1.15rem;
  --input-invalid-icon-width: 1.15rem;
  --input-invalid-left-indent: 0rem;
  --input-invalid-right-indent: var(--input-icon-wrapper-width);
  --input-left-padding: 1rem;
  --input-right-padding: 1rem;
  --input-rotator-font-weight: var(--data-weight);
  --input-rotator-icon-height: 1.5rem;
  --input-rotator-icon-width: auto;
  --input-tag-height: 1.5rem;
  --input-tag-left-indent: calc(var(--input-tag-width) + 1rem);
  --input-tag-margin: 0 0.5rem;
  --input-tag-right-indent: 0rem;
  --input-tag-width: 2.75rem;
  --input-text-area-justify: left;
  --input-text-area-min-height: 6rem;
  --input-text-area-vertical-padding: 1rem;
  --input-time-width: var(--input-date-width);
  --input-width: auto;
}