.lx {
    --color-h: 218;
    --color-s: 60%;
    --color-l: 40%;
    --color-highlight: #d2dcee;
    --color-background: #eeeef2;
    --color-data: #111827;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-highlight: #2F3B4D;
    
    --color-button-nav-selected-background: var(--color-highlight);
  }