.lx {
  --color-h: 339;
  --color-s: 53%;
  --color-l: 37%;
  --color-highlight: #ecd4d9;
  --color-background: #F0EDED;
  --color-data: #18181b;

  --color-button-nav-selected-background: var(--color-highlight);
}

.lx.lx-theme-dark {
  --color-highlight: #553A4A;
  
  --color-button-nav-selected-background: var(--color-highlight);
}