.lx {
  --color-h: 195;
  --color-s: 70%;
  --color-l: 22%;
  --color-toggle-background-true: #2c5c6e;
  --color-toggle-border-true: #2c5c6e;
  --color-highlight: #ced9dd;
  --color-background: #efeff1;
  --color-data: #12191b;

  --color-button-nav-selected-background: var(--color-highlight);
}

.lx.lx-theme-dark {
  --color-highlight: #313F46;
  
  --color-button-nav-selected-background: var(--color-highlight);
}