.lx {
  --color-brand: #167b1c;
  --color-interactive-background: #167b1c;
  --color-interactive-hover-background: #0a590f;
  --color-background: #eff2ef;
  --color-region-2: #eff2ef;
  --color-highlight: #78e9b8;
  --color-nav-selected-background: #78e9b8;
  --color-layout-background: #0d382c;
  --color-nav-hover-background: #0a2921;
  --color-interactive-secondary-background: #0d382c;
  --color-grid-hover-background: #ddd;
  --color-label: #565947;
  --color-bad: #ff4b33;
  --color-destructive: #ff4b33;
  --color-good: #0d382c;
  --color-data: #000;
}

.lx.lx-theme-dark {
  --color-brand: #49ba51;
  --color-interactive-background: #49ba51;
  --color-interactive-hover-background: #0f8216;
  --color-background: #181a18;
  --color-region: #292b29;
  --color-region-2: #181a18;
  --color-highlight: #07291a;
  --color-interactive-secondary-background: #001000;
  --color-nav-selected-background: #07291a;
  --color-layout-background: #051612;
}

.lx-layout.lx-layout-default > header .lx-header .lx-user-button p.lx-secondary {
  color: var(--color-nav-foreground);
  opacity: 0.5;
}
