.lx {
    --color-h: 40;
    --color-s: 93%;
    --color-l: 22%;
    --color-highlight: #e0d8cd;
    --color-background: #f1eeed;
    --color-data: #1a1919;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-highlight: #40382C;
    
    --color-button-nav-selected-background: var(--color-highlight);
  }