.lx {
  --color-brand: #bf3e2c;
  --color-brand-secondary: #d9710d;
  --color-interactive-background: #e7231f;
  --color-interactive-hover-background: #c20e19;
  --color-interactive-secondary-background: #d0d5dc;
  --color-interactive-secondary-foreground: #565656;
  --color-interactive-secondary-hover-background: #c9ced3;
  --color-highlight: #fdcda2;
  --color-bad: #e7231f;
  --color-region: #fff;
  --color-region-2: #f7f7fa;
  --color-background: #f9f9fa;
  --color-label: #6e7681;
  --color-data: #1c1c1c;
  --color-chrome: #e6e7ee;
  --color-grid-hover-background: #f6f6f6;
  --color-focus-background: #bf4e2c;
  --color-destructive: #ff0000;
  --color-nav-background: #d9710d;
  --color-nav-foreground: #fff;
  --color-nav-hover-background: #bf4e2c;
  --color-nav-chrome: transparent;
  --tab-border: 4px solid transparent;

  --region-border: 1px solid #edeef2;
  --list-item-border: 1px solid #edeef2;
  --input-border: 1px solid #e6e7ee;

  --color-toggle-background-false: #d0d5dc;
  --color-toggle-border-false: #d0d5dc;
  --color-toggle-foreground-false: #6e7681;

  --color-content-switcher-foreground: #565656;
  --color-disabled-foreground: #e6e7ee;

  --font-family: 'UbuntuLX', 'IBM Plex Sans', sans-serif !important;
  --font-weight-data: 600;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --data-weight: var(--font-weight-data);
  --h1-font-size: 2rem;
  --radius-default: 100px;
  --radius-1: 100px;

  --color-cover-title: var(--color-brand);

  --color-button-nav-selected: #bf4e2c;
  --color-button-nav-selected-background: #f6f6f6;

  --button-modal-primary-border-radius: 100px;
  --button-modal-primary-padding: 0rem 0rem 0rem 0rem;
  --button-modal-primary-height: 3rem;
  --button-modal-primary-min-width: 15rem;
  --button-modal-primary-width: auto;

  --button-modal-secondary-border-radius: 100px;
  --button-modal-secondary-padding: 0rem 0rem 0rem 0rem;
  --button-modal-secondary-height: 3rem;
  --button-modal-secondary-min-width: 15rem;
  --button-modal-secondary-width: auto;

  --button-modal-set-margin: 1rem 8rem 1rem 0rem;

  --button-modal-secondary-text-align: center;
  --button-modal-primary-text-align: center;

  --button-primary-text-align: center;
  --button-secondary-text-align: center;
  --button-tertiary-text-align: center;
  --button-ghost-text-align: center;

  --button-primary-grid-areas: 'icon content';
  --button-secondary-grid-areas: 'icon content';
  --button-tertiary-grid-areas: 'icon content';
  --button-ghost-grid-areas: 'icon content';

  --button-primary-grid-template-columns: auto 1fr;
  --button-secondary-grid-template-columns: auto 1fr;
  --button-tertiary-grid-template-columns: auto 1fr;
  --button-ghost-grid-template-columns: auto 1fr;

  --input-container-height: 3rem;
}

.lx-button-content-wrapper .lx-button-icon {
  --button-icon-justify: left;
}

.lx-button.lx-button-icon-only .lx-button-icon {
  --button-icon-justify: center;
}

.lx.lx-theme-dark {
  --color-brand: #d04632;
  --color-brand-secondary: #b35d0b;
  --color-interactive-background: #d04632;
  --color-interactive-foreground: #ffffff;
  --color-interactive-hover-background: #c20e19;
  --color-interactive-secondary-background: #d0d5dc;
  --color-interactive-secondary-foreground: #565656;
  --color-interactive-secondary-hover-background: #c9ced3;
  --color-highlight: #8b4101;
  --color-bad: #d04632;
  --color-region: #202020;
  --color-region-2: #101010;
  --color-background: #121212;
  --color-label: #cccccc;
  --color-data: #dddddd;
  --color-chrome: #0c0c0c;
  --color-grid-hover-background: var(--color-region-hover);
  --color-region-hover-background: var(--color-region-hover);

  --color-focus-background: #bf4e2c;
  --color-destructive: #ff0000;
  --color-nav-background: #b35d0b;
  --color-nav-foreground: #fff;
  --color-nav-hover-background: #bf4e2c;
  --color-nav-chrome: transparent;
  --tab-border: 4px solid transparent;
  --region-border: 1px solid var(--color-chrome);
  --list-item-border: 1px solid var(--color-chrome);
  --input-border: 1px solid var(--color-chrome);
  --color-toggle-background-false: #d0d5dc;
  --color-toggle-border-false: #d0d5dc;
  --color-toggle-foreground-false: #6e7681;
  --color-content-switcher-foreground: #aaaaaa;
  --color-disabled-foreground: #333333;

  --color-button-nav-selected: #bf4e2c;
  --color-button-nav-selected-background: var(--color-background);
}

.lx .lx-notifications-list .lx-notification p.lx-title {
  font-weight: var(--font-weight-data) !important;
}
.lx .lx-notifications-list {
  top: calc(var(--row-size) * 3 + 0.5rem) !important;
}
.lx-button .lx-loader.lx-small,
.patient-data .lx-loader.lx-small {
  width: 1.25rem;
  height: 1.25rem;
}

.lx-autocomplete-default-panel .lx-value,
.lx-autocomplete-default-panel .lx-placeholder,
.lx-autocomplete-default-panel .lx-value .lx-item-display > p,
.lx-autocomplete-default-panel .lx-value .lx-state > .lx-primary {
  overflow-x: unset;
}
