.lx {
    --color-h: 216;
    --color-s: 49%;
    --color-l: 22%;
    --color-highlight: #cdd3db;
    --color-background: #eff0f3;
    --color-data: #12161e;
    --color-toggle-background-true: #455874;
    --color-toggle-border-true: #455874;
    --color-toggle-hover-border: #1D3354;
    --color-toggle-hover-background: #1D3354;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-highlight: #2e3a4a;
    
    --color-button-nav-selected-background: var(--color-highlight);
  }