.lx {
    --color-brand: #1D3354;
    --color-interactive-background: #1D3354;
    --color-interactive-hover-background: #455874;
    --color-nav-selected-background: var(--color-highlight);
    --color-highlight: #cdd3db;
    --color-background: #eff0f3;
    --color-data: #12161e;
    --color-toggle-background-true: #455874;
    --color-toggle-border-true: #455874;
    --color-toggle-hover-border: #1D3354;
    --color-toggle-hover-background: #1D3354;
  }
  
  .lx.lx-theme-dark {
    --color-brand: #6486ae;
    --color-interactive-background: #6486ae;
    --color-interactive-hover-background: #334d71;
    --color-nav-selected-background: var(--color-highlight);
    --color-highlight: #2e3a4a;
    ;
  }