.lx {
    --color-brand: #6C3B9A;
    --color-interactive-background: #6C3B9A;
    --color-interactive-hover-background: #47206c;
    --color-highlight: #e4dfec;
    --color-background: #eceaeb;
    --color-data: #0f1a0d;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-brand: #9677b8;
    --color-interactive-background: #9677b8;
    --color-interactive-hover-background: #594271;
    --color-highlight: #393146;

    --color-button-nav-selected-background: var(--color-highlight);
  }