.lx {
    --color-h: 271;
    --color-s: 45%;
    --color-l: 42%;
    --color-highlight: #e4dfec;
    --color-background: #eceaeb;
    --color-data: #0f1a0d;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-highlight: #393146;
    
    --color-button-nav-selected-background: var(--color-highlight);
  }