.lx {
  --color-h: 264;
  --color-s: 92%;
  --color-l: 58%;

  --color-brand-secondary: #4B0DA7;

  --color-background: #f5efff;
  --color-chrome: rgba(0, 0, 0, 0.1);
  --color-region-2: var(--color-background);
  --color-data: #000000;
  --color-label: #000000;
  --color-highlight: hsl(264, 100%, 95%);

  --color-red: #e83077;

  --list-item-border: 1px solid var(--color-chrome);
  --region-border: var(--list-item-border);
  --radius-default: calc(var(--row-size) / 2);
  --radius-1: var(--radius-default);
  --list-item-border-radius: var(--radius-default);

  --input-border-radius: var(--radius-default);
  --input-border-bottom: var(--input-border);
  --input-border-bottom-disabled: var(--input-border);

  --color-button-nav-selected-background: var(--color-highlight);

  --button-secondary-border: 1px solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-focus-background: var(--color-region);
  --color-button-secondary-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);

  --button-primary-font-weight: 800;
  --button-secondary-font-weight: 800;
  --button-tertiary-font-weight: 800;
  --button-ghost-font-weight: 800;
  --button-modal-primary-font-weight: 800;
  --button-modal-secondary-font-weight: 800;
  --button-toolbar-primary-font-weight: 800;
  --button-toolbar-secondary-font-weight: 800;
  --button-toolbar-tertiary-font-weight: 800;
  --button-toolbar-ghost-font-weight: 800;

  --color-button-dropdown-hover: var(--color-button-dropdown);
  --color-button-dropdown-hover-background: var(--color-button-dropdown-background);
  --color-button-dropdown-hover-border: var(--color-button-dropdown-background);
  --color-button-dropdown-icon-hover: var(--color-button-dropdown-icon);
  --color-button-nav-hover: var(--color-button-nav);
  --color-button-nav-hover-background: var(--color-button-nav-background);
  --color-button-nav-hover-border: transparent;
  --color-button-nav-icon-hover: var(--color-button-nav-icon);
  --color-button-modal-primary-hover: var(--color-button-modal-primary);
  --color-button-modal-primary-hover-background: var(--color-button-modal-primary-background);
  --color-button-modal-primary-hover-border: var(--color-button-modal-primary-background);
  --color-button-modal-secondary-hover: var(--color-button-modal-secondary);
  --color-button-modal-secondary-hover-background: var(--color-button-modal-secondary-background);
  --color-button-modal-secondary-hover-border: var(--color-button-modal-secondary-background);
  --color-button-primary-hover: var(--color-button-primary);
  --color-button-primary-hover-background: var(--color-button-primary-background);
  --color-button-primary-hover-border: var(--color-button-primary-background);
  --color-button-primary-icon-hover: var(--color-button-primary-icon);
  --color-button-secondary-hover: var(--color-button-secondary);
  --color-button-secondary-hover-background: var(--color-button-secondary-background);
  --color-button-secondary-hover-border: var(--color-chrome);
  --color-button-secondary-icon-hover: var(--color-button-secondary-icon);
  --color-button-tertiary-hover: var(--color-button-tertiary);
  --color-button-tertiary-hover-background: var(--color-button-tertiary-background);
  --color-button-tertiary-hover-border: var(--color-button-tertiary);
  --color-button-tertiary-icon-hover: var(--color-button-tertiary-icon);
  --color-button-ghost-hover: var(--color-button-ghost);
  --color-button-ghost-hover-background: var(--color-button-ghost-background);
  --color-button-ghost-hover-border: var(--color-button-ghost-background);
  --color-button-ghost-icon-hover: var(--color-button-ghost-icon);
  --color-button-primary-focus-border: var(--color-button-primary-background);
  --color-button-secondary-focus-border: var(--color-chrome);
  --color-button-tertiary-focus-border: var(--color-button-tertiary);
  --color-button-dropdown-focus: var(--color-button-dropdown);
  --color-button-dropdown-focus-background: var(--color-button-dropdown-background);
  --color-button-dropdown-focus-border:  var(--color-button-dropdown-background);
  --color-button-dropdown-icon-focus: var(--color-button-dropdown-icon);
  --color-button-dropdown-active:  var(--color-button-dropdown);
  --color-button-dropdown-active-background: var(--color-button-dropdown-background);
  --color-button-dropdown-active-border: var(--color-button-dropdown-background);
  --color-button-dropdown-icon-active: var(--color-button-dropdown-icon);
  --color-button-modal-primary-active: var(--color-button-modal-primary);
  --color-button-modal-primary-active-background: var(--color-button-modal-primary-background);
  --color-button-modal-primary-active-border: var(--color-button-modal-primary-background);
  --color-button-modal-secondary-active: var(--color-button-modal-secondary);
  --color-button-modal-secondary-active-background: var(--color-button-modal-secondary-background);
  --color-button-modal-secondary-active-border: var(--color-button-modal-secondary-background);
  --color-button-primary-active: var(--color-button-primary);
  --color-button-primary-active-background: var(--color-button-primary-background);
  --color-button-primary-active-border: var(--color-button-primary-background);
  --color-button-primary-icon-active: var(--color-button-primary-icon);
  --color-button-secondary-active: var(--color-button-secondary);
  --color-button-secondary-active-background: var(--color-button-secondary-background);
  --color-button-secondary-active-border: var(--color-chrome);
  --color-button-secondary-icon-active: var(--color-button-secondary-icon);
  --color-button-tertiary-active: var(--color-button-tertiary);
  --color-button-tertiary-active-background: var(--color-button-tertiary-background);
  --color-button-tertiary-active-border: var(--color-button-tertiary);
  --color-button-tertiary-icon-active: var(--color-button-tertiary-icon);
  --color-button-ghost-active: var(--color-button-ghost);
  --color-button-ghost-active-background: var(--color-button-ghost-background);
  --color-button-ghost-active-border: var(--color-button-ghost-background);
  --color-button-ghost-icon-active: var(--color-button-ghost-icon);
}

.lx.lx-theme-dark {
  --color-h-dark: 270;
  --color-s-dark: 100%;
  --color-l-dark: 73%;

  --color-brand-secondary: #993FFF;

  --color-highlight: hsl(264, 50%, 33%);
  --color-background: #18151d;
  --color-region-2: var(--color-background);
  --color-chrome: #0d0c10;

  --button-secondary-border: 1px solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-focus-background: var(--color-region);
  --color-button-secondary-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);
  
  --color-button-dropdown-hover: var(--color-button-dropdown);
  --color-button-dropdown-hover-background: var(--color-button-dropdown-background);
  --color-button-dropdown-hover-border: var(--color-button-dropdown-background);
  --color-button-dropdown-icon-hover: var(--color-button-dropdown-icon);
  --color-button-nav-hover: var(--color-button-nav);
  --color-button-nav-hover-background: var(--color-button-nav-background);
  --color-button-nav-hover-border: transparent;
  --color-button-nav-icon-hover: var(--color-button-nav-icon);
  --color-button-modal-primary-hover: var(--color-button-modal-primary);
  --color-button-modal-primary-hover-background: var(--color-button-modal-primary-background);
  --color-button-modal-primary-hover-border: var(--color-button-modal-primary-background);
  --color-button-modal-secondary-hover: var(--color-button-modal-secondary);
  --color-button-modal-secondary-hover-background: var(--color-button-modal-secondary-background);
  --color-button-modal-secondary-hover-border: var(--color-button-modal-secondary-background);
  --color-button-primary-hover: var(--color-button-primary);
  --color-button-primary-hover-background: var(--color-button-primary-background);
  --color-button-primary-hover-border: var(--color-button-primary-background);
  --color-button-primary-icon-hover: var(--color-button-primary-icon);
  --color-button-secondary-hover: var(--color-button-secondary);
  --color-button-secondary-hover-background: var(--color-button-secondary-background);
  --color-button-secondary-hover-border: var(--color-chrome);
  --color-button-secondary-icon-hover: var(--color-button-secondary-icon);
  --color-button-tertiary-hover: var(--color-button-tertiary);
  --color-button-tertiary-hover-background: var(--color-button-tertiary-background);
  --color-button-tertiary-hover-border: var(--color-button-tertiary);
  --color-button-tertiary-icon-hover: var(--color-button-tertiary-icon);
  --color-button-ghost-hover: var(--color-button-ghost);
  --color-button-ghost-hover-background: var(--color-button-ghost-background);
  --color-button-ghost-hover-border: var(--color-button-ghost-background);
  --color-button-ghost-icon-hover: var(--color-button-ghost-icon);
  --color-button-primary-focus-border: var(--color-button-primary-background);
  --color-button-secondary-focus-border: var(--color-chrome);
  --color-button-tertiary-focus-border: var(--color-button-tertiary);
  --color-button-dropdown-focus: var(--color-button-dropdown);
  --color-button-dropdown-focus-background: var(--color-button-dropdown-background);
  --color-button-dropdown-focus-border:  var(--color-button-dropdown-background);
  --color-button-dropdown-icon-focus: var(--color-button-dropdown-icon);
  --color-button-dropdown-active:  var(--color-button-dropdown);
  --color-button-dropdown-active-background: var(--color-button-dropdown-background);
  --color-button-dropdown-active-border: var(--color-button-dropdown-background);
  --color-button-dropdown-icon-active: var(--color-button-dropdown-icon);
  --color-button-modal-primary-active: var(--color-button-modal-primary);
  --color-button-modal-primary-active-background: var(--color-button-modal-primary-background);
  --color-button-modal-primary-active-border: var(--color-button-modal-primary-background);
  --color-button-modal-secondary-active: var(--color-button-modal-secondary);
  --color-button-modal-secondary-active-background: var(--color-button-modal-secondary-background);
  --color-button-modal-secondary-active-border: var(--color-button-modal-secondary-background);
  --color-button-primary-active: var(--color-button-primary);
  --color-button-primary-active-background: var(--color-button-primary-background);
  --color-button-primary-active-border: var(--color-button-primary-background);
  --color-button-primary-icon-active: var(--color-button-primary-icon);
  --color-button-secondary-active: var(--color-button-secondary);
  --color-button-secondary-active-background: var(--color-button-secondary-background);
  --color-button-secondary-active-border: var(--color-chrome);
  --color-button-secondary-icon-active: var(--color-button-secondary-icon);
  --color-button-tertiary-active: var(--color-button-tertiary);
  --color-button-tertiary-active-background: var(--color-button-tertiary-background);
  --color-button-tertiary-active-border: var(--color-button-tertiary);
  --color-button-tertiary-icon-active: var(--color-button-tertiary-icon);
  --color-button-ghost-active: var(--color-button-ghost);
  --color-button-ghost-active-background: var(--color-button-ghost-background);
  --color-button-ghost-active-border: var(--color-button-ghost-background);
  --color-button-ghost-icon-active: var(--color-button-ghost-icon);
}