.lx {
    --color-brand: #495A70;
    --color-interactive-background: #495A70;
    --color-interactive-hover-background: #303f51;
    --color-highlight: #d8dce1;
    --color-background: #eff0f3;
    --color-data: #12161e;

    --color-button-nav-selected-background: var(--color-highlight);
  }
  
  .lx.lx-theme-dark {
    --color-brand: #70839b;
    --color-interactive-background: #70839b;
    --color-interactive-hover-background: #49596f;
    --color-highlight: #404751;
    
    --color-button-nav-selected-background: var(--color-highlight);
    ;
  }