.lx-layout.lx-layout-latvijalv {
    --nav-row-size: 5rem;
    --public-nav-header-size: calc(var(--nav-row-size) + var(--row-size));
    --color-header-hover-background: var(--color-region-2);
    --color-header-hover-foreground: var(--color-data);
    display: grid;
    column-gap: var(--gap);
    grid-template-columns: 1fr var(--body-column-size) 1fr;
    grid-template-rows: var(--nav-row-size) var(--row-size) auto 1fr auto;
    grid-template-areas: 'header header header' 
                         'nav nav nav' 
                         'alerts alerts alerts' 
                         '. main aside' 
                         'footer footer footer';
    min-height: 100dvh;
  }
  
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar,
  .lx-layout.lx-layout-latvijalv.no-nav-items {
    grid-template-rows: var(--nav-row-size) auto 1fr auto;
    grid-template-areas: 'header header header'
                         'alerts alerts alerts'
                         '. main aside' 
                         'footer footer footer';
  }
  
  .lx .lx-theme-contrast .lx-layout.lx-layout-latvijalv {
    --color-header-hover-background: var(--color-interactive-hover-background);
    --color-header-hover-foreground: var(--color-interactive-hover-foreground);
  }
  
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-group .lx-button:not(.lx-context-container .popper .lx-button):hover,
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-right-group #nav-toggle:hover {
    background-color: var(--color-header-hover-background);
    border-color: var(--color-header-hover-background);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-button:not(#userMenuButton):hover>.lx-badge {
    border-color: var(--color-header-hover-background);
  }
  
  .lx-layout.lx-layout-latvijalv>header {
    grid-area: header;
    background-color: var(--color-region);
    color: var(--color-nav-foreground);
    height: var(--nav-row-size);
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 8100;
    border-bottom: 2px solid var(--color-chrome);
    display: grid;
    grid-template-columns: 1fr var(--body-column-size) 1fr;
    transition: height 0.2s ease-in-out;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: var(--nav-row-size);
    align-items: center;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button {
    display: grid;
    gap: var(--gap);
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0.25rem;
    height: var(--nav-row-size);
    padding-right: var(--gap);
    outline: 2px solid transparent;
    outline-offset: -2px;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button:focus {
    outline-color: var(--color-focus-background);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button:hover {
    background-color: var(--color-header-hover-background) !important;
    color: var(--color-header-hover-foreground) !important;
    cursor: pointer;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button:hover svg {
    fill: var(--color-header-hover-foreground) !important;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button:hover .lx-primary,
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button:hover .lx-description {
    color: var(---color-header-hover-foreground) !important;
  }
  
  .lx-layout.lx-layout-latvijalv>header .lx-header .lx-main-button .lx-badge {
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    font-weight: var(--font-weight-data);
    font-size: var(--small-font-size);
    border: 2px solid transparent;
  }
  
  .lx-layout.lx-layout-latvijalv>header .lx-header .lx-main-button .lx-badge.lx-badge-loc {
    background-color: var(--color-region);
  }
  
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button svg {
    fill: var(--color-brand);
    height: calc(var(--icon-size) * 1.5);
    padding-left: 0;
    padding-right: 0;
    transition: height 0.2s ease-in-out;
  }
  
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button>div {
    display: grid;
  }
  
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-primary {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-brand);
    margin-left: 0;
    line-height: 1em;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
  }

  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-badge-text {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    line-height: 1em;
    transition: font-size 0.2s ease-in-out;
  }

  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-badge {
    cursor: pointer;
  }
  
  .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-description {
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-label);
    margin-left: 0;
    line-height: 1em;
    cursor: pointer;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header>.lx-group {
    min-height: var(--row-size);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header>.lx-group:last-of-type,
  .lx-layout.lx-layout-latvijalv>header>.lx-header>.lx-right-group>.lx-group {
    display: flex;
    gap: 0.5rem;
    height: var(--row-size);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-button.lx-button-secondary {
    height: var(--row-size);
    background-color: transparent;
    border-color: transparent;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-button.lx-button-secondary:hover {
    background-color: var(--color-grid-hover-background);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-button.lx-button-secondary svg {
    fill: var(--color-data);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-button.lx-button-secondary:focus {
    outline: 2px solid var(--color-focus-background);
    outline-offset: -2px;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button {
    display: grid;
    grid-template-columns: auto 1fr;
    height: var(--row-size);
    align-items: center;
    outline: none;
    border: 2px solid transparent;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button:hover {
    background-color: var(--color-grid-hover-background);
    cursor: pointer;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-user-info {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0.75rem;
    max-width: var(--aside-size);
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button:focus {
    outline: 2px solid var(--color-focus-background);
    outline-offset: -2px;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-user-info .lx-primary {
    font-weight: var(--font-weight-bold);
    color: var(--color-data);
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-avatar {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  
  .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-user-info .lx-secondary {
    font-size: var(--small-font-size);
    color: var(--color-label);
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .lx .lx-layout.lx-layout-latvijalv .lx-header>.lx-right-group .lx-language-menu::before,
  .lx .lx-layout.lx-layout-latvijalv .lx-header>.lx-right-group .lx-alert-menu::before,
  .lx .lx-layout.lx-layout-latvijalv .lx-header>.lx-right-group .lx-theme-menu::before,
  .lx .lx-layout.lx-layout-latvijalv .lx-header>.lx-right-group .lx-help-button::before,
  .lx .lx-layout.lx-layout-latvijalv .lx-header>.lx-right-group #nav-toggle::before {
    display: none;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-page-header {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
  }
  
  .lx-layout.lx-layout-latvijalv>header .lx-group.lx-right-group #nav-toggle {
    display: none;
  }
  
  .lx-layout.lx-layout-latvijalv>nav {
    display: grid;
    grid-area: nav;
    position: sticky;
    top: var(--nav-row-size);
    z-index: 8100;
    width: 100%;
    height: var(--row-size);
    border-bottom: 2px solid var(--color-chrome);
    background-color: var(--color-nav-background);
    grid-template-columns: 1fr var(--body-column-size) 1fr;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-panel {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-column: 2/3;
    padding: 0 1rem;
    width: auto;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-group li {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-group li:first-of-type {
    flex-grow: 0;
    overflow: visible;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-panel ul li.lx-selected .lx-button {
    color: var(--color-button-nav-selected);
    background-color: var(--color-button-nav-selected-background);
  }
  
  .lx-layout.lx-layout-latvijalv .lx-nav-panel ul li.lx-selected .lx-button svg {
    fill: var(--color-button-nav-selected);
  }

  .lx-layout.lx-layout-latvijalv>.lx-latvijalv-alert-list {
    display: grid;
    grid-template-columns: 1fr var(--body-column-size) 1fr;
    background-color: var(--color-latvijalv-alert-background);
    width: 100%;
    grid-area: alerts;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert {
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: subgrid;
    border: 2px solid transparent;
    border-top: none;
  }

  .lx-theme-contrast .lx-layout-latvijalv .lx-latvijalv-alert {
    border-color: var(--contrast-foreground);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-content-wrapper {
    display: grid;
    grid-column: 2 / span 1;
    grid-template-columns: auto 1fr auto;
    padding: 0.5rem 1rem;
    column-gap: 0.5rem;
  }
  
  .lx-layout.lx-layout-latvijalv>main {
    grid-area: main;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .lx-layout.lx-layout-latvijalv>footer {
    display: grid;
    grid-area: footer;
    margin-top: var(--nav-row-size);
    color: var(--color-nav-foreground);
    background-color: var(--color-nav-background);
    grid-template-columns: 1fr var(--body-column-size) 1fr;
  }
  
  .lx-layout.lx-layout-latvijalv>footer p {
    margin-bottom: 1rem;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-alert-menu .lx-button:not(#userMenuButton) > .lx-button-content-wrapper .lx-badge {
    border-color: var(--color-region);
  }
  
  .lx-layout.lx-layout-latvijalv .lx-alert-menu .lx-button:not(#userMenuButton):hover > .lx-button-content-wrapper.lx-badge {
    border-color: var(--color-interactive-hover-background);
  }
  
  .lx .lx-layout .lx-header>.lx-right-group .lx-button:active {
    background-color: var(--color-header-hover-background);
    border-color: var(--color-header-hover-background);
  }
  
  .lx-layout .lx-alert-menu ol {
    padding-inline-start: 0;
    gap: var(--gap-buttons);
    display: grid;
  }

  .lx .lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-success .lx-latvijalv-alert-icon > svg,
  .lx .lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-warning .lx-latvijalv-alert-icon > svg,
  .lx .lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-error .lx-latvijalv-alert-icon > svg {
    padding: 0.25rem;
    border-radius: 50%;
  }

  .lx .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-success .lx-latvijalv-alert-icon > svg {
    padding: 0.1rem;
  }

  .lx:not(.lx-theme-contrast) .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-success .lx-latvijalv-alert-icon > svg {
    background-color: var(--color-green);
    fill: var(--color-background);
  }
  
  .lx:not(.lx-theme-contrast) .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-warning .lx-latvijalv-alert-icon > svg {
    background-color: var(--color-red);
    fill: var(--color-background);
  }
  
  .lx:not(.lx-theme-contrast) .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert.lx-alert-error .lx-latvijalv-alert-icon > svg {
    background-color: var(--color-red);
    fill: var(--color-background);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-latvijalv-alert-icon,
  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-button {
    align-self: center;
  }

  .lx-layout-latvijalv .lx-latvijalv-alert-list .lx-latvijalv-alert-icon svg,
  .lx-layout-latvijalv .lx-latvijalv-alert-list .lx-button svg {
    fill: var(--color-latvijalv-alert-foreground);
  }

  .lx-latvijalv-alert-list .lx-alert-clickable:not(.lx-alert-warning):not(.lx-alert-success):not(.lx-alert-error):hover .lx-latvijalv-alert-icon svg,
  .lx-theme-contrast .lx-latvijalv-alert-list .lx-alert-clickable:hover .lx-latvijalv-alert-icon svg,
  .lx-layout-latvijalv .lx-latvijalv-alert-list .lx-alert-clickable:hover .lx-button svg {
    fill: var(--color-latvijalv-alert-hover-foreground);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-button {
    --button-ghost-icon-only-height: 1.25rem;
    --button-ghost-icon-only-width: 1.25rem;
    --button-ghost-icon-only-min-width: 1.25rem;
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-button svg {
    --button-ghost-icon-height: 1rem;
    --button-ghost-icon-width: 1rem;
    --color-button-ghost-icon: var(--color-latvijalv-alert-foreground);
    --color-button-ghost-icon-focus: var(--color-latvijalv-alert-foreground);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-latvijalv-alert-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .lx-layout.lx-layout-latvijalv .lx-alert-clickable {
    cursor: pointer;
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-alert-clickable:focus {
    outline: 2px solid var(--color-focus-background);
    outline-offset: -2px;
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-list .lx-alert-clickable:hover {
    background-color: var(--color-latvijalv-alert-hover-background);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-text {
    overflow: hidden;
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-text .lx-primary,
  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-text .lx-secondary {
    color: var(--color-latvijalv-alert-foreground);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .lx-layout.lx-layout-latvijalv .lx-alert-clickable:hover .lx-latvijalv-alert-text .lx-primary,
  .lx-layout.lx-layout-latvijalv .lx-alert-clickable:hover .lx-latvijalv-alert-text .lx-secondary {
    color: var(--color-latvijalv-alert-hover-foreground);
  }

  .lx-layout.lx-layout-latvijalv .lx-latvijalv-alert-text .lx-secondary {
    opacity: 0.75;
  }
  
  .lx-layout.lx-layout-latvijalv .lx-toolbar.lx-sticky,
  .lx-layout.lx-layout-latvijalv .lx-form-grid>header.lx-sticky,
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>aside.lx-index>ul,
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky,
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid>aside.lx-index>ul,
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
    top: var(--public-nav-header-size);
  }
  
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-toolbar.lx-sticky,
  .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>header.lx-sticky,
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-toolbar.lx-sticky,
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid>header.lx-sticky {
    top: var(--nav-row-size);
  }
  
  .lx-layout.lx-layout-latvijalv .lx-form-grid>aside.lx-index>ul,
  .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
  .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
    top: calc(var(--public-nav-header-size) + var(--row-size));
  }

  .lx-layout.lx-layout-latvijalv .lx-form-grid:not(:has(>header))>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper>header.lx-toolbar), 
  .lx-layout.lx-layout-latvijalv .lx-form-grid:not(:has(>header))>.lx-wizard header.lx-toolbar.lx-sticky {
      top: calc(var(--public-nav-header-size) );
  }

  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid:not(:has(>header))>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper>header.lx-toolbar),
  .lx-layout.lx-layout-latvijalv.no-nav-items .lx-form-grid:not(:has(>header))>.lx-wizard header.lx-toolbar.lx-sticky {
      top: var(--nav-row-size);
  }
  
  .lx-layout.lx-layout-latvijalv.no-nav-items>nav{
    display: none;
  }
  
  .lx .lx-layout.lx-layout-latvijalv.no-nav-items>header>.lx-header .lx-group.lx-right-group #nav-toggle{
    display: none;
  }

  .lx .lx-layout-latvijalv nav .lx-nav-panel .lx-nav-group .lx-mega-menu-nav-item .popper-wrapper{
    width: 100%;
  }

  .lx .lx-layout-latvijalv nav .lx-nav-panel .lx-nav-group .lx-mega-menu-nav-item::before{
    position: absolute;
    content: " ";
    width: 100%;
    border: 1px solid var(--color-chrome);
    opacity: 1;
    transition: opacity .1s ease-out;
  }

  .lx-layout.lx-layout-latvijalv .lx-shell-custom-button .lx-button:not(#userMenuButton)>.lx-button-content-wrapper .lx-badge {
    border-color: var(--color-region);
  }

  .lx-layout.lx-layout-latvijalv > .lx-main .lx-error-landing .lx-header {
    margin-top: var(--row-size);
    margin-bottom: var(--gap);
  }
    
  /* (header+nav)*5 = (5rem+3rem)*5, unless screen width <900px */
  @media (max-height: calc(8rem * 5)) {
    .lx-layout.lx-layout-latvijalv.lx-collapsed>header {
      position: absolute;
    }
  
    .lx-layout.lx-layout-latvijalv.lx-collapsed>nav,
    .lx-layout-latvijalv.no-nav-items .lx-data-grid-wrapper > .lx-grid-toolbar,
    .lx .lx-layout-latvijalv.no-nav-items .lx-data-grid-wrapper > .lx-grid-header-wrapper,
    .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>header.lx-sticky {
      top: 0;
    }
  
    .lx-layout.lx-layout-latvijalv .lx-toolbar.lx-sticky,
    .lx-layout.lx-layout-latvijalv .lx-form-grid>header.lx-sticky,
    .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>aside.lx-index>ul,
    .lx-layout-latvijalv:not(.no-nav-items) .lx-data-grid-wrapper > .lx-grid-toolbar,
    .lx-layout-latvijalv:not(.no-nav-items) .lx-data-grid-wrapper > .lx-grid-header-wrapper,
    .lx-layout-latvijalv.no-nav-items .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
    .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
    .lx-layout.lx-layout-latvijalv.lx-hide-nav-bar .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
      top: var(--row-size);
    }
  
    .lx-layout.lx-layout-latvijalv .lx-form-grid>aside.lx-index>ul,
    .lx-layout-latvijalv:not(.no-nav-items) .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
      top: calc(var(--row-size) * 2);
    }
  
    .lx-layout.lx-layout-latvijalv .lx-form-grid>aside.lx-index>ul,
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
      top: calc(var(--row-size) * 2);
    }
  
    @media(max-width: 900px) {
  
      .lx .lx-layout.lx-layout-latvijalv .lx-toolbar.lx-sticky,
      .lx .lx-layout-latvijalv .lx-data-grid-wrapper .lx-component-toolbar.lx-grid-toolbar,
      .lx .lx-layout.lx-layout-latvijalv .lx-form-grid>header.lx-sticky,
      .lx .lx-layout-latvijalv .lx-data-grid-wrapper > .lx-grid-header-wrapper {
        top: 0;
      }
  
      .lx .lx-layout.lx-layout-latvijalv .lx-form-grid>aside.lx-index>ul,
      .lx .lx-layout-latvijalv .lx-data-grid-wrapper .lx-grid-toolbar + div.lx-grid-header-wrapper,
      .lx .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
      .lx .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky {
        top: var(--row-size);
      }
    }
  }
  
  @media (max-width: 1400px) {
  
    .lx-layout.lx-layout-latvijalv,
    .lx-layout.lx-layout-latvijalv>header,
    .lx-layout.lx-layout-latvijalv>nav,
    .lx-layout.lx-layout-latvijalv>footer,
    .lx-layout.lx-layout-latvijalv>.lx-latvijalv-alert-list {
      grid-template-columns: 1fr calc(100% - 2 * var(--row-size)) 1fr;
    }
  }
  
  @media (max-width: 1000px) {
    .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-user-info {
      display: none;
    }
  }
  
  @media (max-width: 800px) {
  
    .lx-layout.lx-layout-latvijalv,
    .lx-layout.lx-layout-latvijalv>footer {
      grid-template-columns: 1fr calc(100% - 2 * 0.5rem) 1fr;
    }
  }
  
  @media (max-width: 900px) {
    .lx-layout.lx-layout-latvijalv {
      column-gap: 0;
      --nav-row-size: 3rem;
      grid-template-rows: var(--nav-row-size) auto 1fr var(--nav-row-size);
      grid-template-areas:
        'header header header'
        'alerts alerts alerts'
        'aside main nav'
        'footer footer footer'
    }
  
    .lx-layout.lx-layout-latvijalv>header,
    .lx-layout.lx-layout-latvijalv>.lx-latvijalv-alert-list {
      grid-template-columns: 1fr 100% 1fr;
    }

    .lx-layout.lx-layout-latvijalv>header {
      grid-template-columns: 1fr 100% 1fr;
      border-bottom: 0;
      z-index: 8100;
    }
  
    .lx-layout.lx-layout-latvijalv>header>.lx-header {
      padding-left: 0;
      padding-right: 0;
    }
  
    .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-user-button .lx-user-info {
      display: none;
    }
  
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header>.lx-right-group .lx-group,
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header>.lx-group:last-of-type {
      gap: 0;
    }
  
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button svg {
      height: var(--icon-size);
      width: var(--icon-size);
    }
  
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-description {
      display: none;
    }
  
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-primary,
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-main-button .lx-badge-text {
      font-size: calc(var(--font-size) * 1.1);
    }
  
    .lx .lx-layout.lx-layout-latvijalv>nav {
      display: block;
      height: calc(100% - var(--nav-row-size));
    }
  
    .lx .lx-layout.lx-layout-latvijalv>header>.lx-header .lx-group.lx-right-group #nav-toggle {
      display: flex;
    }
  
    .lx .lx-layout.lx-layout-latvijalv nav {
      width: var(--row-size);
      z-index: 1000;
      top: var(--nav-row-size);
      position: fixed;
      right: 0;
      transition: width .1s ease-out, margin-right .1s ease-out;
    }
  
    .lx .lx-layout.lx-layout-latvijalv.lx-collapsed nav {
      width: auto;
      margin-left: calc(0px - var(--row-size));
    }
  
    .lx .lx-layout.lx-layout-latvijalv.lx-collapsed .lx-nav-panel {
      width: var(--row-size);
      right: calc(0px - var(--row-size));
    }
  
    .lx-layout-latvijalv .lx-nav-panel ul li > .lx-button,
    .lx-layout-latvijalv .lx-nav-panel ul .lx-toolbar > .lx-button {
      justify-content: left;
      width: 100%;
    }
  
    .lx .lx-layout.lx-layout-latvijalv .lx-nav-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--color-nav-background);
      width: 100%;
      position: fixed;
      height: calc(100% - var(--nav-row-size));
      z-index: 900;
      box-shadow: var(--shadow-dropdown);
      padding: 0;
      right: 0;
      overflow-x: hidden;
    }
  
    .lx .lx-layout.lx-layout-latvijalv>nav .lx-nav-panel .lx-nav-group {
      display: block;
      width: auto;
      overflow: visible;
    }
  
    .lx-layout.lx-layout-latvijalv .lx-toolbar.lx-sticky,
    .lx-layout.lx-layout-latvijalv .lx-form-grid>header.lx-sticky,
    .lx .lx-layout-latvijalv .lx-data-grid-wrapper .lx-grid-toolbar,
    .lx-layout-latvijalv .lx-data-grid-wrapper > .lx-grid-header-wrapper {
      top: var(--nav-row-size);
    }
  
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper > header.lx-toolbar),
    .lx-layout.lx-layout-latvijalv .lx-form-grid>.lx-wizard header.lx-toolbar.lx-sticky,
    .lx-layout-latvijalv .lx-data-grid-wrapper .lx-grid-toolbar + .lx-grid-header-wrapper,
    .lx-layout.lx-layout-latvijalv .lx-form-grid>aside.lx-index>ul {
      top: calc(var(--nav-row-size) + var(--row-size));
    }
    
    .lx-layout.lx-layout-latvijalv .lx-form-grid:not(:has(>header))>.lx-tab-control header.lx-toolbar:not(.lx-file-upload-wrapper>header.lx-toolbar), 
    .lx-layout.lx-layout-latvijalv .lx-form-grid:not(:has(>header))>.lx-wizard header.lx-toolbar.lx-sticky {
        top: calc(var(--nav-row-size));
    }
  }
  
  @media (max-width: 500px) {
    .lx-layout.lx-layout-latvijalv.no-nav-items>nav{
        display: grid;
    }
  
    .lx .lx-layout.lx-layout-latvijalv.no-nav-items>header>.lx-header .lx-group.lx-right-group #nav-toggle{
        display: flex;
    }
  
    .lx-layout-latvijalv.no-nav-items .lx-nav-panel .lx-nav-group ul.header-items:before {
        content: none;
    }
  }