/* CUSTOM STYLES BELOW */

/*LxShell*/

.lx-layout-digimaks > .lx-main {
    padding: 0 1rem;
}

.lx-layout-digimaks > header{
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    width: 100%;
    z-index: 100;
}

.lx-layout-digimaks .nav-toggle{
    opacity: 1;
    margin-left: 0;
}

.lx-layout-digimaks header .lx-header button.lx-button.nav-toggle:not(#userMenuButton) .lx-badge,
.lx-layout-digimaks nav .lx-nav-panel .lx-button:not(#userMenuButton) .lx-badge {
    inset: 0rem 0rem auto auto;
}

.lx-layout-digimaks .nav-toggle svg{
    fill: var(--color-label);
}

.lx-layout-digimaks nav{
    background-color: var(--color-region);
    min-height: var(--row-size);
    height: calc(100dvh - var(--nav-row-size));
    position: fixed;
    top: var(--nav-row-size);
}

.lx-layout-digimaks nav .lx-nav-panel{
    background-color: var(--color-region);
    height: 100%;
    width: 0;
    position: fixed;
    top:  var(--nav-row-size);
    left: 0;
}

.lx:not(.lx-no-animations) .lx-layout-digimaks nav .lx-nav-panel{
    transition: width 0.2s ease;
}

.lx-layout-digimaks .lx-header.lx-nav-panel-expanded nav .lx-nav-panel {
    width: 100%;
}

/*** Nav styles ***/

.lx-layout-digimaks .lx-nav-panel ul li .lx-button {
    padding: var(--button-nav-padding);
    margin: var(--button-nav-margin);
    text-decoration: var(--button-nav-text-decoration);
    height: var(--button-nav-height);
    min-width: var(--button-nav-min-width);
    width: var(--button-nav-width);
    font-size: var(--button-nav-font-size);
    font-weight: var(--button-nav-font-weight);
    border: var(--button-nav-border);
    border-radius: var(--button-nav-border-radius);
    background-color: var(--color-button-nav-background);
    color: var(--color-button-nav);
    outline-offset: var(--button-nav-outline-offset);
}

.lx-layout-digimaks .lx-nav-panel ul li .lx-button-content-wrapper {
    grid-template-areas: var(--button-nav-grid-areas);
    grid-template-columns: var(--button-nav-grid-template-columns);
    grid-template-rows: var(--button-nav-grid-template-rows);
    align-items: var(--button-nav-align);
    gap: var(--button-nav-gap);
}
  
.lx-layout-digimaks .lx-nav-panel ul li .lx-button-content {
    text-align: var(--button-nav-text-align);
}
  
.lx-layout-digimaks .lx-nav-panel ul li.lx-selected .lx-button {
    color: var(--color-button-nav-selected);
    background-color: var(--color-button-nav-selected-background);
    border-color: var(--color-button-nav-selected-border);
    border-left-color: var(--color-button-nav-selected-left-border);
    border-collapse: collapse;
}
  
.lx-layout-digimaks .lx-nav-panel ul li .lx-button:hover {
    background-color: var(--color-button-nav-hover-background);
    border-color: var(--color-button-nav-hover-border);
    color: var(--color-button-nav-hover);
}

.lx-layout-digimaks .lx-nav-panel ul li .lx-button svg {
    height: var(--button-nav-icon-height);
    width: var(--button-nav-icon-width);
    --color-button-ghost-icon: var(--color-button-nav-icon);
    --color-button-primary-icon: var(--color-button-nav-icon);
}

.lx-layout-digimaks .lx-nav-panel ul li .lx-button:focus svg {
    fill: var(--color-button-nav-icon);
}

.lx-nav-panel .lx-nav-group ul.header-items {
    list-style-type: none;
    padding-inline-start: 0;
}

.lx-layout-digimaks .lx-nav-panel .lx-nav-group  {
    width: 100%;
}

/* User Info */

.lx-layout-digimaks .lx-nav-panel {
    justify-content: flex-start;
}

.lx-layout-digimaks nav .lx-nav-panel {
    top: 0;
}

.lx-layout-digimaks .lx-header nav .lx-nav-panel > .lx-nav-header{
    display: flex;
    justify-content: space-between;
}

.lx-layout-digimaks .lx-header nav .lx-nav-panel > .lx-nav-panel-group{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.lx-layout-digimaks .lx-header nav .lx-nav-panel > div > div{
    display: flex;
}

.lx-layout-digimaks .lx-header.lx-nav-panel-expanded > .lx-group {
    display: none;
}

.lx-layout-digimaks .lx-user-menu{
    position: absolute;
    height: calc(100% - var(--nav-row-size));
    background-color: var(--color-region);
    color: green;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    overflow: hidden;
    left: 100vw;
    top: var(--nav-row-size);
}

.lx:not(.lx-no-animations) .lx-layout-digimaks .lx-user-menu{
    transition: left 0.2s ease;
}

.lx-layout-digimaks .lx-user-menu.lx-user-menu-expanded{
    left: 0;
    top: var(--nav-row-size);
    height: calc(100% - var(--nav-row-size));
}

.lx-layout-digimaks .lx-user-menu p{
    visibility: hidden;
}

.lx-layout-digimaks .lx-user-menu.lx-user-menu-expanded p{
    visibility: visible;
}


.lx-layout-digimaks .lx-nav-panel-group{
    flex-direction: column;
}

.lx-layout-digimaks .lx-nav-panel .lx-nav-panel-group .lx-nav-group > .lx-user-button{
    height: var(--nav-row-size);
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
    align-items: center;
}

.lx-layout-digimaks .lx-nav-panel .lx-nav-panel-group .lx-nav-group > .lx-user-button > div{
    align-items: center;
    gap: 1rem;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: 100%;
}

.lx-layout-digimaks .lx-nav-panel .lx-nav-panel-group .lx-nav-group > .lx-user-button svg{
    height: 1.5rem;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-button:hover,
.lx-layout-digimaks .lx-nav-panel .lx-user-button:hover .lx-user-info p{
    background-color: var(--color-button-nav-hover-background);
    border-color: var(--color-button-nav-hover-border);
    color: var(--color-button-nav-hover);
}

.lx-layout-digimaks .lx-nav-panel .lx-user-button:hover svg{
    fill: var(--color-button-nav-hover);
}

.lx-layout-digimaks .lx-nav-panel .lx-user-button .lx-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--nav-row-size);
    overflow: hidden;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-button .lx-user-info p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul{
    border-bottom: 1px solid var(--color-chrome);
}
.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul:last-child{
    border-bottom: none
}
.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul:first-child{
    border-bottom: 1px solid var(--color-chrome);
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul > li.lx-user-menu-item > .lx-button > .lx-button-content-wrapper,
.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul > li.lx-user-menu-item .lx-context-container .lx-dropdown-toggler .lx-button .lx-button-content-wrapper{
    grid-template-areas: 'icon content';
    grid-template-columns: auto 1fr;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul > li.lx-user-menu-item .lx-context-container{
    align-items: flex-start;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu > ul > li.lx-user-menu-item .lx-context-container > .inline-block{
    width: 100%;
}


.lx-layout-digimaks .lx-nav-panel .lx-user-menu .lx-user-menu-display{
    display: flex;
    flex-direction: column;
    height: calc(4 * var(--nav-row-size));
    padding-top: 1rem;
    align-items: center;
    gap: 0.25rem;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu .lx-user-menu-display :not(.lx-avatar-display){
    text-align: center;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu .lx-user-menu-display > .lx-avatar-display{
    height: 6rem;
    width: 6rem;
    align-self: center;
}

.lx-layout-digimaks .lx-nav-panel .lx-user-menu .lx-user-menu-display > div > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.lx-layout-digimaks .lx-nav-panel .lx-nav-header > div .lx-button svg{
    --color-button-ghost-icon: var(--color-button-nav-icon);
}
