.lx-list-wrapper .tree-list {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.lx-list-wrapper .tree-list .tree-item {
    padding-top: var(--list-gap);
    min-width: 20rem;
}

.lx-list-wrapper .tree-list .tree-item>.tree-item {
    padding-left: var(--list-treelist-child-left-indent);
    padding-right: var(--list-treelist-child-right-indent);
}

.lx-list-wrapper .tree-list>.tree-item {
    padding-left: 0;
    padding-right: 0;
}

.lx-list-wrapper .tree-list .tree-item .tree-item-body,
.lx-list-wrapper .tree-list-small .tree-item-small {
    display: grid;
    grid-template-areas: var(--list-treelist-grid-areas);
    grid-template-columns: var(--list-treelist-grid-template-columns);
    min-height: var(--list-item-min-height);
}

.lx-list-wrapper .tree-list .tree-item .lx-list-item-wrapper {
    width: auto;
}

.lx-list-wrapper .tree-list .lx-list-item-container {
    grid-area: treelist-content;
}

.lx-list-wrapper .tree-list .tree-item>.tree-item-body.not-expandable .lx-list-item-container {
    margin-left: var(--list-treelist-left-indent);
    margin-right: var(--list-treelist-right-indent);
}

.tree-item-small.not-expandable {
    padding-left: var(--list-treelist-left-indent);
}

.tree-item-small>.lx-list-item-wrapper {
    width: 100%;
}

.lx-list-wrapper .tree-list-small {
    display: none;
}

.tree-list>.tree-item>.tree-item-invalid,
.tree-list-small>.tree-item-invalid {
    border: 2px solid var(--color-red);
    height: var(--row-size);
    margin-left: calc(2 * var(--row-size));
    margin-top: 0.5rem;
    color: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-list-background);
}

.lx-region .tree-list>.tree-item>.tree-item-invalid,
.lx-region .tree-list-small>.tree-item-invalid {
    background-color: var(--color-list-region-background);
}

.tree-list-small>.tree-item-invalid {
    margin-left: var(--row-size);
}

.tree-list>.tree-item>.tree-item-invalid>.invalid-text,
.tree-list-small>.tree-item-invalid>.invalid-text {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem
}

.tree-list>.tree-item>.tree-item-invalid>.invalid-text>svg,
.tree-list-small>.tree-item-invalid>.invalid-text>svg {
    fill: var(--color-red);
    height: 1.1rem;
}

.tree-list .tree-item .tree-item-body > .lx-button{
    grid-area: expander;
    width: var(--list-expander-width);
    height: var(--list-expander-height);
}

.lx-theme-contrast .tree-list .tree-item-small-parent .lx-checkbox-wrapper .lx-checkbox:not(:disabled):not(:checked):not(:hover)+.lx-checkbox-label-wrapper .lx-checkbox-appearance {
    background-color: var(--contrast-background);
    border-color: var(--contrast-background);
}

.tree-list .tree-item-small-parent .lx-list-item:not(.lx-list-item-disabled) .lx-list-icon,
.tree-list .tree-item-small-parent:has(.lx-list-item:not(.lx-list-item-disabled))
  .lx-list-item-actions
  .lx-dropdown-toggler
  .lx-button
  svg,
.tree-list .tree-item-small-parent:has(.lx-list-item:not(.lx-list-item-disabled))
  .lx-list-item-actions
  > .lx-button
  svg {
    fill: var(--color-list-icon-selected);
}

.tree-list .tree-item-small-parent .lx-list-item:not(.lx-list-item-disabled) p.lx-primary {
    color: var(--color-list-primary-text-selected);
}

.tree-list .tree-item-small-parent .lx-list-item:not(.lx-list-item-disabled) p.lx-secondary {
    color: var(--color-list-secondary-text-selected);
}

.lx .tree-list .tree-item-small-parent:not(:has(.lx-list-item-container)) .lx-list-item-wrapper,
.lx .tree-list .tree-item-small-parent .lx-list-item-container {
    background-color: var(--color-list-selected-background);
    border-color: var(--color-list-selected-border);
}

.lx .lx-region .tree-list .tree-item-small-parent:not(:has(.lx-list-item-container)) .lx-list-item-wrapper,
.lx .lx-region .tree-list .tree-item-small-parent .lx-list-item-container {
    background-color: var(--color-list-region-selected-background);
}
  
.lx .tree-item-small-parent .lx-list-item.lx-list-item-interactive:not(.lx-list-item-disabled):hover {
    background-color: var(--color-list-hover-background);
}

.lx .tree-item-small-parent:not(:has(.lx-list-item-container)) .lx-list-item-wrapper:has(.lx-list-item.lx-list-item-interactive:not(.lx-list-item-disabled):hover),
.lx .tree-item-small-parent .lx-list-item-container:has(.lx-list-item.lx-list-item-interactive:not(.lx-list-item-disabled):hover) {
    border-color: var(--color-list-selected-border-hover);
}

.tree-list>.tree-item>.tree-item-invalid>.lx-button svg,
.tree-list-small>.tree-item-invalid>.lx-button svg,
.lx-list-wrapper .tree-item-small:not(.tree-item-small-parent)>.lx-button > .lx-button-content-wrapper svg,
.lx-list-wrapper .tree-list .tree-item .tree-item-body>.lx-button > .lx-button-content-wrapper svg {
    fill: var(--color-list-icon);
}

.tree-list>.tree-item>.tree-item-invalid>.lx-button:hover svg,
.tree-list-small>.tree-item-invalid>.lx-button:hover svg,
.lx-list-wrapper .tree-item-small:not(.tree-item-small-parent)>.lx-button:hover>.lx-button-content-wrapper svg,
.lx-list-wrapper .tree-list .tree-item .tree-item-body>.lx-button:hover>.lx-button-content-wrapper svg {
    fill: var(--color-interactive-hover-foreground);
}

.tree-list-search {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lx-list-wrapper .tree-list .tree-item .tree-item-body.selected-children>.lx-button {
    background-color: var(--color-highlight-background);
}

.tree-list .tree-item .tree-item-body.selected-children>.lx-button > .lx-button-content-wrapper svg {
    fill: var(--color-list-expander-selected-icon);
}

.lx-list-wrapper .tree-list .tree-item .tree-item-body.selected-children>.lx-button:hover {
    background-color: var(--color-interactive-hover-background)
}

.lx-list-wrapper .tree-list .tree-item:first-child {
    padding-top: 0rem;
}

.lx-list-wrapper .lx-list-toolbar .lx-selection-toolbar .selection-action-text>p {
    padding: 0 0.5rem;
}

@media (max-width: 800px) {

    .lx-list-wrapper .tree-list {
        display: none;
    }

    .lx-list-wrapper .tree-list-small {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}