.lx.lx-theme-dark ::backdrop {
  --color-cover-background: rgba(0, 0, 0, 0.75);
}

.lx.lx-theme-dark {
  --color-brand: #3e98e2;
  --color-interactive-background: #3e98e2;
  --color-interactive-foreground: #18181a;
  --color-interactive-hover-background: #1a71b9;
  --color-interactive-hover-foreground: #eee;
  --color-interactive-secondary-background: #6f6f6f;
  --color-interactive-secondary-foreground: #eee;
  --color-interactive-secondary-hover-background: #000;
  --color-interactive-secondary-hover-foreground: #eee;
  --color-interactive-active-background: #000000;
  --color-interactive-active-foreground: #eee;
  --color-navbar-button-foreground: #eee;
  --color-disabled-background: #333339;
  --color-disabled-foreground: #5d5d68;
  --color-focus-background: #4795fc;
  --color-focus-foreground: #fff;
  --color-layout-background: #030304;
  --color-navbar-background: var(--color-region);
  --color-nav-background: var(--color-layout-background);
  --color-nav-foreground: #ccc;
  --color-nav-chrome: var(--color-chrome);
  --color-nav-selected-background: #35373c;
  --color-nav-selected-foreground: #eee;
  --color-nav-hover-background: #131316;
  --color-nav-hover-foreground: #fff;
  --color-dropdown-button-background: transparent;
  --color-dropdown-button-foreground: var(--color-data);
  --color-tooltip-background: #35373c;
  --color-tooltip-foreground: #fff;
  --color-tile-background: var(--color-region);
  --color-tile-foreground: var(--color-data);
  --color-tile-hover-background: var(--color-region-hover);
  --color-tile-hover-foreground: var(--color-data);
  --color-grid-header: var(--color-chrome);
  --color-grid-hover-background: var(--color-tile-hover-background);
  --color-grid-header-hover-background: #252525;
  --color-highlight: #124c58;
  --color-highlight-background: var(--color-highlight);
  --color-highlight-foreground: var(--color-data);

  --color-toggle-border-true: var(--color-interactive-background);
  --color-toggle-background-true: var(--color-interactive-background);
  --color-toggle-foreground-true: var(--color-region);
  --color-toggle-border-false: var(--color-data);
  --color-toggle-background-false: var(--color-data);
  --color-toggle-foreground-false: var(--color-region);
  --color-toggle-border-null: var(--color-data);
  --color-toggle-background-null: var(--color-region);
  --color-toggle-foreground-null: var(--color-data);
  --color-toggle-hover-border: var(--color-interactive-hover-background);
  --color-toggle-hover-background: var(--color-interactive-hover-background);
  --color-toggle-hover-foreground: var(--color-region);
  --color-toggle-indeterminate: #dddddd;
  --color-toggle-indeterminate-hover: #cccccc;

  --color-content-switcher-foreground: var(--color-data);
  --color-cover-title: var(--color-data);
  --color-checkmark-foreground: #111;
  --color-checkmark-hover-foreground: #fff;
  --color-badge-foreground: #020202;

  --color-background: #18181a;
  --color-background-overlay: rgba(24, 24, 26, 0.75);
  --color-foreground: #ddd;
  --color-cover-background: rgba(0, 0, 0, 0.75);
  --color-region: #27282d;
  --color-region-hover: #35373c;
  --color-region-hover-background: var(--color-region-hover);
  --color-region-hover-foreground: var(--color-data);
  --color-tab-selected: transparent;
  --color-tab-selected-background: transparent;
  --color-tab-selected-foreground: var(--color-data);
  --color-region-2: #151516;
  --color-chrome: #35373c;
  --color-label: #979797;
  --color-data: var(--color-foreground);
  --color-disabled: #888;
  --color-yellow-foreground: var(--color-region);

  --color-green: #36b37e;
  --color-red: #ff5630;
  --color-orange: #ffab00;
  --color-purple: #998dd9;
  --color-blue: #4c9aff;
  --color-teal: #00b8d9;
  --color-yellow: #f1c21b;
  --color-grey: var(--color-label);

  --color-good: rgb(25, 128, 56);
  --color-bad: var(--color-red);
  --color-warning: var(--color-orange);
  --color-neutral: var(--color-grey);
  --color-destructive: var(--color-red);
  --color-draft: var(--color-blue);
  --color-edited: var(--color-orange);
  --color-ongoing: var(--color-orange);
  --color-incomplete: var(--color-blue);
  --color-waiting: var(--color-grey);
  --color-inactive: var(--color-grey);
  --color-finished: var(--color-green);
  --color-signed: var(--color-purple);
  --color-deleted: var(--color-grey);
  --color-error: var(--color-red);

  --color-state-new: var(--color-blue);
  --color-state-edited: var(--color-orange);
  --color-state-finished: var(--color-green);
  --color-state-deleted: var(--color-label);

  --color-notification-success-foreground: #198038;
  --color-notification-success-background: #040a06;
  --color-notification-warning-foreground: #f1c21b;
  --color-notification-warning-background: #241b0c;
  --color-notification-error-foreground: #e85961;
  --color-notification-error-background: #2d0004;

  --color-shadow: rgb(0 0 0 / 20%);

  --color-placeholder: #444444;
  --color-placeholder-disabled: #333333;

  --color-list-checked-background: var(--color-data);
  --color-list-checked-border: var(--color-list-checked-background);
  --color-list-checkmark: var(--color-region);
  --color-list-background: var(--color-region);
  --color-list-expander-selected-icon: var(--color-data);
  --color-list-foreground-disabled: var(--color-disabled);
  --color-list-foreground-hover: var(--color-region-hover-foreground);
  --color-list-handle-background-hover: var(--color-list-hover-background);
  --color-list-handle-icon: var(--color-label);
  --color-list-handle-icon-hover: var(--color-list-foreground-hover);
  --color-list-hover-background: var(--color-region-hover-background);
  --color-list-hover-border: transparent;
  --color-list-icon: var(--color-data);
  --color-list-icon-selected: var(--color-data);
  --color-list-interactive-background: var(--color-interactive-hover-background);
  --color-list-interactive-foreground: var(--color-focus-foreground);
  --color-list-item-border: transparent;
  --color-list-loader-stroke-interactive: var(--color-interactive-background);
  --color-list-primary: var(--color-data);
  --color-list-primary-text-hover: var(--color-list-foreground-hover);
  --color-list-primary-text-selected: var(--color-list-primary);
  --color-list-region-background: var(--color-region-2);
  --color-list-region-selected-background: var(--color-list-region-background);
  --color-list-secondary: var(--color-label);
  --color-list-secondary-text-hover: var(--color-list-secondary);
  --color-list-secondary-text-selected: var(--color-list-secondary);
  --color-list-selected-background: var(--color-list-background);
  --color-list-selected-foreground-disabled: var(--color-disabled);
  --color-list-selected-border: var(--color-brand);
  --color-list-selected-border-hover: var(--color-interactive-hover-background);
  --color-list-unchecked-background: transparent;
  --color-list-unchecked-background-hover: var(--color-list-unchecked-background);
  --color-list-unchecked-border: var(--color-data);
  --color-list-unchecked-border-hover: var(--color-list-unchecked-border);

  --color-date-picker-selected-range-background: #bfdbfe;
}